[2018-06-06 20:16] VicenteBorrell commented on #424
You sure about the accent color?
It will dilute our “brand”! 😂

[2018-06-06 20:18] insidegui commented on #424
I don't think it'd be an issue. That way our app would fit better in the system and automatically adopt the accessibility appearances.

[2018-06-06 20:20] VicenteBorrell commented on #424
Can you have a setting for that? Like, a default or system color?
I still have to see how the many new colors look like… (shivers)

[2018-06-06 20:22] spaz926 commented on #418
https://streamable.com/dvjzx

[2018-06-06 21:05] spaz926 opened #425 "Add Forward and Backwards scrubbing keyboard shortcut"
Just a quick feature request. It'd be nice to be able to use the arrow keys to scrub the video forwards and backwards. So if I want to skip forward 15 seconds instead of pressing the UI button with my cursor I could just hit the right arrow key and vice versa for backwards with the right arrow key.

Thanks for the consideration.

[2018-06-06 21:08] spaz926 commented on #424
Being a media-centric application do you truly think it is best for the light appearance to be an option?

Although I would assume iTunes keeps it's light appearance in Mojave, so maybe it _is_ best to adopt the adaptivity.

[2018-06-06 21:12] spaz926 opened #426 "When returning to current session video, PIP should pop back to the regular player"
I'm not sure if this is an oversight or intentional design, but when browsing sessions with a current video playing PIP mode is invoked. This is great.

But when returning to the current session being played PIP is still being used. Perhaps it should pop back into the regular player when you return to that session page.

[2018-06-06 21:28] insidegui commented on #426
@VicenteBorrell @bcmn @allenhumphreys what do you think about this behavior?

[2018-06-06 21:28] insidegui commented on #424
Light appearance will not be an option.

[2018-06-06 21:30] YacYac opened #427 "App fails to launch on Sierra on my 2015 13-inch MBP"
I'm currently running the latest version of Sierra(10.12.6) a on a 13-inch macbook pro and I've downloaded the latest version of the app of WWDC.io. Any attempt to launch the app results in an immediate crash and appearance of the crashreporter.

[CrashLog.txt](https://github.com/insidegui/WWDC/files/2078215/CrashLog.txt)
.

[2018-06-06 21:30] insidegui commented on #425
Duplicate of #97 ?

[2018-06-06 21:32] insidegui commented on #418
Thanks for the video. @allenhumphreys I was able to reproduce here following the steps mentioned above.

[2018-06-06 21:47] allenhumphreys commented on #427
Realm is reporting a "Permission denied" error when launching the app. Without being able to debug this live on your machine, I would suspect that something has happened to the permissions in your `~/Library` directory. If you execute `ls -lah ~/Library/Application\ Support/ | grep io.wwdc.app` you should see permissions like this:

[code]

[2018-06-06 21:49] spaz926 commented on #425
Yes, but doesn't seem to be working in 6.0.3.

[2018-06-06 21:50] spaz926 commented on #424
Ahh. Misread the OP. +1 for the idea.

[2018-06-06 22:05] bcmn commented on #426
I think I'm the same as Allen -- before his comment I think my mood was the same: tracking "auto-pip" as you called it would definitely be the only case where it doesn't seem like it'd be infuriating to a different subset of users... but I think this project has previously tried to steer away from tracking _too many_ finicky states/user preferences. 🤔

[2018-06-06 22:45] YacYac commented on #427
Fixed. Thanks and sorry to trouble you with this!

[2018-06-06 22:49] #418 closed

[2018-06-06 22:50] insidegui commented on #427
Don't worry, glad you managed to solve it :)

[2018-06-06 22:50] #427 closed

[2018-06-06 22:51] insidegui commented on #426
I agree with the above.

[2018-06-06 22:52] insidegui commented on #425
Sorry, I meant #412

[2018-06-07 00:05] spaz926 commented on #425
Yep. Guess my search wasn't thorough enough. Close in favor of that one. ;)

[2018-06-07 00:05] #425 closed

[2018-06-07 07:28] pahnev opened #430 "Add section titles on filtered list"
It would be nice to have the section titles showing also when the list is filtered in some way.

For example, from the schedule, it’s nice to see the videos in the order they are presented at WWDC, but I’m not really interested in the labs schedule. But if I filter the results, I really have to be looking at the description, to see which videos might be available right now.

Of course I could use

[2018-06-07 13:13] myurieff opened #431 "[Feature Request] Add copy session url to clipboard functionality"
I think it would be awesome to have an option to copy the currently watched session URL to clipboard, for easy sharing with colleagues. 🙃

There's an action sheet, but some services don't support it. For example, Slack.

Thanks! ✌️

[2018-06-07 14:46] allenhumphreys commented on #431
This is pretty simple to implement. We might need an icon though.

[2018-06-07 17:14] grantjbutler opened #433 "Fullscreen Video Disappears when Switching Selected Session"
- Version of macOS: **macOS High Sierra 10.13.3 (17D47)**
- Version of the app: **WWDC 6.0.3**

When watching a video in full screen, if I select another session in the app, then switch back to the full screen video, I'm presented with a black screen. However, the video is still playing, as I continue to hear the audio. If I select the session I'm watching, then switch back to the full screen vide

[2018-06-07 17:52] allenhumphreys commented on #433
Duplicate of #418

[2018-06-07 17:52] #433 closed

[2018-06-07 19:49] #431 closed

[2018-06-07 19:49] insidegui commented on #431
Implemented by @allenhumphreys with an icon I provided, will be in 6.1

[2018-06-07 19:50] #233 closed

[2018-06-07 19:51] insidegui commented on #426
Since most of the team has agreed that this was the right design decision, I'll close this issue for now.

[2018-06-07 19:51] #426 closed

[2018-06-07 20:29] PaulSolt opened #434 "Audio and Video Stop Working after PIP with 1.5x speed"
I was trying to full-screen to get my notes + the video in split screen ... and then hit PIP and then things got wonky, and the audio/video stopped playback.

I don't believe the video was downloaded, and I think I was streaming it at 1.5x. The image player bar looks funky, like it's not downloaded/cached, and then part of it is. See below.

Actual: I saw the time increasing, but no video/audio.

[2018-06-07 20:32] PaulSolt commented on #434
After I pressed the rewind 15 seconds, it worked, but then after watching again, audio stops around 20:00 minutes in "What's New in Cocoa Touch" 2018: Session 202.

[2018-06-07 20:45] insidegui commented on #434
We highly recommend downloading sessions if you prefer to watch at higher speeds. `AVFoundation` seems to have issues with streaming at >1x.

[2018-06-07 20:53] bcmn opened #435 "Allow users to filter down to live sessions"
I'm not 100% sure this is the correct solution, but over the last few days I've found myself scrolling up & down the table view just to see if there are any live sessions currently available to watch. This seems symptomatic of a missing UX feature of some sort. This could be in the form of a "live" filter on the Schedule tab only, though this would have no benefit for the rest of the year, which g

[2018-06-07 20:53] bcmn commented on #435
I think I've previously pondered the idea of a contextually-sensitive "live tab" which only appears when content is live & simply links directly to each session. I know we want to limit the number of tabs long term, so perhaps that wouldn't be suitable. The behaviour described would also introduce complexity. 🤔

[2018-06-07 20:54] VicenteBorrell commented on #424
https://www.dropbox.com/s/85sbsvznybi7wif/screens.zip?dl=0

[2018-06-07 20:54] VicenteBorrell commented on #424
https://www.dropbox.com/s/85sbsvznybi7wif/screens.zip

[2018-06-07 20:58] insidegui commented on #435
When we have the Featured tab working, we'll definitely show the live sessions there at the top, so that's part of the solution, but I think filtering would be cool as well.

[2018-06-07 20:59] bcmn commented on #435
Aha, I didn't realise/had forgotten (?) that. Sounds good.

[2018-06-07 21:15] allenhumphreys opened #436 "Sidebar sizing has issues"
![sidebarwidth](https://user-images.githubusercontent.com/8225090/41126695-399e98d8-6a5d-11e8-8537-277a02d0e141.gif)

[2018-06-07 21:47] yarnichat opened #438 "Faster filter controls."
Can you use segmented controls instead of popup menus for all filter categories? The [Favorites, Downloaded, Unwatched] filter already uses a segmented control. This would make toggling filters much faster and easier to use.

[2018-06-07 21:55] insidegui commented on #438
How would you list many categories in a segmented control?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-07 22:08] yarnichat commented on #438
Sessions and Platforms should be fine, because they only have 2 and 4 items respectively. As for Tracks, maybe look to Calendar's show/hide calendar list for inspiration?

It would be nice to have all options visible onscreen, and togglable with one click instead of two.

[2018-06-07 22:43] edrozenberg commented on #404
Same issue here. I do have that System Prefs setting enabled, but other apps such as ForkLift for ex., have no problems persisting the sidebar width, even with that setting enabled.

Believe this issue can stay open - there is probably a way to fix this issue in the WWDC app.

[2018-06-07 22:46] allenhumphreys commented on #404
@edrozenberg Its possible that those apps are restoring the width manually, I'm planning to ask the appkit guys about it tomorrow if I have time.

[2018-06-07 22:49] allenhumphreys commented on #438
I've kinda wanted to implement a menu like the constraint addition menu in IB that allows you to hold option to quickly choose multiple values. It would still be a popup button of some kind, but be faster in the case of choosing multiple options.

[2018-06-07 22:54] yarnichat commented on #438
Holding modifier keys doesn't seem discoverable, and that still doesn't address the options being hidden until you reveal them.

There are a lot of sessions and filtering is very common. I think making it as prominent and fast as possible is a good idea.

[2018-06-08 01:56] allenhumphreys commented on #436
This issue only happens when the window is narrow. I think we may need to set some explicit sizing options on the split view.

[2018-06-08 03:29] hansengj opened #441 "2 frameworks not installed"
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS: 11.1.1
- Version of the app: latest downloaded from GitHub on 6/7/2018
- What were you trying to do when the issue happened: run ./bootstrap.sh
- Any particular hardware/software configuration you have that might be affecting the app: Xcode 9.4
- If it is a crash,

[2018-06-08 04:00] allenhumphreys commented on #441
@hansengj Thanks for opening an issue. The output from Carthage is actually telling you that those 2 frameworks had to be built from source, not that they weren’t installed. This is because Carthage lets library owners published pre-compiled versions of their libraries to speed setup. When the pre-compiled version isn’t compatible, it falls back to building the library from source. This is what is

[2018-06-08 04:00] #441 closed

[2018-06-08 14:15] insidegui opened #442 "Option-clicking the speed button should reduce the speed"
I just tried doing that intuitively and it doesn't actually work, so I think it'd be a good addition to that button 😅

[2018-06-08 14:42] insidegui opened #443 "Add a warning when streaming at >1x"
We've had many issues reported before about playback glitches when streaming at speeds higher than 1x. We've tried many workarounds and it seems to be an issue with `AVFoundation` which we can't do anything about (other than filing radars).

I proposed that we add a warning the first time a user tries to stream a video at higher speeds suggesting that they download the video instead of streaming,

[2018-06-08 14:43] insidegui commented on #434
See #443

[2018-06-08 14:43] #434 closed

[2018-06-08 15:46] pahnev opened #444 "Can’t cast 2018 videos"
Trying to cast any of the 2018 videos to Chromecast fails with an error `The data couldn’t be read because it isn’t in the correct format.`.

<img width="532" alt="screen shot 2018-06-08 at 18 41 49" src="https://user-images.githubusercontent.com/2078494/41167621-24f78954-6b4c-11e8-9c2e-08b5a484b6bd.png">

Running macOS 10.13.5.
Version of the WWDC app: 6.0.3
Chromecast firmware version: 1.29.1048

[2018-06-08 15:56] insidegui commented on #444
Which ChromeCast device are you using?

[2018-06-08 16:13] PaulSolt commented on #443
Thank you! A warning is a great idea.

[2018-06-08 16:22] pahnev commented on #444
The 2nd generation one https://store.google.com/product/chromecast_2015

[2018-06-08 18:57] ekhodykin opened #445 "The App Asks for Microphone Access on Mojave"
On macOS Mojave the app asks for microphone permission. To reproduce just open the app and try to play any video. I captured the whole process on video, just in case: https://photos.app.goo.gl/pFPZReU1hLZQCbgp2

I'm using the first beta of Mojave and WWDC app is 6.0.3.

[2018-06-08 19:47] insidegui commented on #445
This is probably a bug in this first beta, since the app uses `AVPlayer` for video playback. I'll file a radar about this.

[2018-06-08 19:53] insidegui commented on #445
rdar://40947251 ([OpenRadar](http://www.openradar.me/radar?id=5039063920803840))

[2018-06-09 07:09] yy0c opened #446 "Dowloading videos with subtitles"
Since Apple is now offering other language subtitles, if WWDC.io is able to download subtitles then we can just copy downloaded contents to any other devices, which could be handy to share contents with friends or watch on non-apple devices.

Could you please consider this feature?

[2018-06-09 12:58] jdisho opened #447 "Copy session's link"
Hi 👋

Is it possible to copy the link of a session from the app?

- Are you running the latest version of the app?  **YES**
- Are you running a release, stable version of macOS? **YES**
- Have you looked at previous issues to see if you're having an issue that's already being worked on? **YES**
- Have you read the Code of Conduct, and will you uphold it's values? **YES**
- Version of macOS **10.13

[2018-06-09 13:00] lmjabreu opened #448 "Sound cut off at 2x playback speed"
- Version of macOS: 10.13.5 (17F77)
- Version of the app: 6.0.3
- What were you trying to do when the issue happened: Play State of the Union at 2x speed
- Any particular hardware/software configuration you have that might be affecting the app: no, 200Mb internet, latest MacBook Pro 15", Netgear Orbi mesh wifi (connected to main node, 1m away), nothing installed that is designed or would interfere

[2018-06-09 13:29] insidegui commented on #448
See #443

[2018-06-09 13:29] #448 closed

[2018-06-09 13:29] insidegui commented on #447
Already implemented in #419

[2018-06-09 13:29] #447 closed

[2018-06-09 13:29] insidegui commented on #447
Coming in 6.1

[2018-06-09 13:30] insidegui commented on #446
See #267

[2018-06-09 13:30] #446 closed

[2018-06-09 13:32] insidegui commented on #438
@allenhumphreys Are you going to try it out? I personally don't believe this would work, but I can be persuaded...

[2018-06-09 13:59] allenhumphreys commented on #438
It was just thinking out loud. It seems like a complex thing to implement if there isn’t but in. I am in favor of improving the filtering, though.

[2018-06-10 06:11] RayPS opened #449 "Some UX suggestions"
I have some UX suggestions:

- [x] Add an hot key to jump backward/forward
- [ ] Add a spinner when jumping to an unbuffered position
- [x] Use space bar to pause or play
- [ ] Remove from list when a video marked as watched with "unwatched" filter is enabled.

[2018-06-10 09:53] AnalyzePlatypus commented on #422
This would be great.

[2018-06-10 16:53] insidegui commented on #449
1 has been addressed. 2 is a good point. 3 should already work, if it’s not working, open another issue because it’s a bug. 4 can be done by filtering, I have no interest in implementing a permanent filter for watched videos.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-10 17:18] allenhumphreys commented on #449
@insidegui i think 4 is referring to a live updating filter. Today you have to clear and set the filter again when the criteria have been met after the filter is applied.

[2018-06-10 19:03] insidegui commented on #449
Got it

[2018-06-10 19:35] fredsco commented on #444
I have the same issue. 😢

[2018-06-10 19:55] bcmn commented on #449
I changed the original list to be a checklist just to make things a bit clearer. Forward/backward key command is now in master & will be included in the next release.

[2018-06-10 20:49] VicenteBorrell commented on #422
Let me know if you need the design for this 👍

[2018-06-10 20:54] fredsco commented on #444
@bcmn yes it happens consistently.

[2018-06-10 21:00] insidegui commented on #422
@VicenteBorrell Yes, please :) I think we could show an icon in the toolbar when there are active downloads and show the list of downloads in a popover or window when that icon is selected.

[2018-06-10 21:45] mackuba opened #452 "Old downloads window"
Just sneaking a comment into the https://github.com/insidegui/WWDC/issues/422 thread since I can't comment there ¯\\\_(ツ)\_/¯

This is how the old window looked like (I haven't updated the app on some of my computers):

![screen shot 2018-06-10 at 23 39 46](https://user-images.githubusercontent.com/28465/41206696-4c1776bc-6d08-11e8-92d6-89bae50ac173.png)

[2018-06-10 21:46] mackuba commented on #452
Ah, didn't work, was worth a try...

[2018-06-10 21:46] #452 closed

[2018-06-10 22:03] allenhumphreys commented on #422
![41206696-4c1776bc-6d08-11e8-92d6-89bae50ac173](https://user-images.githubusercontent.com/8225090/41206822-33b630be-6cd0-11e8-82ba-c012ef440910.png)

Thanks to @mackuba

[2018-06-10 22:15] bcmn commented on #422
Evoking the Safari download manager sounds perfect to me.

[2018-06-11 00:09] insidegui commented on #452
@mackuba The other thread has been locked because we already decided to implement it so there's no need to keep getting "me too" comments (we are very busy). Thanks for the reference.

[2018-06-11 00:09] insidegui commented on #422
Same.

[2018-06-11 00:10] insidegui commented on #422
Having ETA and notifications for completion would be nice.

[2018-06-11 06:49] pahnev commented on #444
Yup consistent here too. Tried multiple videos and same error on all.

Just fyi. Made a quick hack for iOS using Google’s SDK and the 2018 videos work fine. https://github.com/pahnev/WWDC-ios-caster

[2018-06-11 07:30] BubiDevs commented on #284
Some here, every time I open the app it freeze.

Can I send to you some useful Information?

[2018-06-11 08:16] bcmn opened #453 "Update related resources to account for "download" type"
I either missed this in #367 or it's new for 2018. (Let's go with the latter 😉)
Easy enough to add -- I'll try & get to it tonight, just creating this issue so I don't forget.

[2018-06-11 08:28] bcmn commented on #413
Just to add to this -- As per #453, in addition to the "sample code", "guides", & "documentation" types, there is also a "download" type.

Do you think you could do icons for these, @VicenteBorrell?

[2018-06-11 14:36] mergesort opened #454 "Feature Request: 1.1x speed"
I'd like something a bit faster than the normal speed, but not quite as fast as 1.25x.

Thanks a lot!

[2018-06-11 14:38] insidegui commented on #454
At this point I think we should allow the user to determine their preferred speeds since this is not the first time someone has asked for another speed option 😅

[2018-06-11 14:44] insidegui commented on #284
We have open issues for this, @allenhumphreys is looking into it.

[2018-06-11 14:45] insidegui commented on #444
We use a custom ChromeCast integration because the Cast SDK is not available for macOS.

I need someone to capture more detailed information about the error so we can figure it out, since I can't reproduce it here with my ChromeCast setup.

[2018-06-11 15:31] fredsco commented on #444
I would like to help, what should I do?

On 11 Jun 2018, at 16:46, Guilherme Rambo <notifications@github.com<mailto:notifications@github.com>> wrote:

Just fyi. Made a quick hack for iOS using Google’s SDK and the 2018 videos work fine.

We use a custom ChromeCast integration because the Cast SDK is not available for macOS.

I need someone to capture more detailed information about the error so we

[2018-06-11 19:53] VicenteBorrell commented on #422
Are we going to adopt Dark Mode? Should I follow it? 😊

[2018-06-11 19:54] VicenteBorrell commented on #452
Thanks @mackuba ! 🙏

[2018-06-11 21:23] insidegui commented on #444
Are you able to run the app from Xcode? If you are, do that and filter in the Console app for the subsystem `ChromeCastCore`.
<img width="548" alt="image" src="https://user-images.githubusercontent.com/67184/41257792-86429fb4-6da4-11e8-9b8b-8bb102435f03.png">

[2018-06-11 21:46] #442 closed

[2018-06-11 23:56] insidegui opened #456 "Show time preview when hovering over the timeline"
I think we should show a preview for the time under the mouse cursor when hovering over the timeline, it would make it a lot easier to jump into a specific point in a video.

[2018-06-11 23:57] insidegui commented on #456
Just to clarify: I mean we should show what time the current cursor position represents, similar to how we show the time when hovering over a bookmark.

[2018-06-12 01:36] mergesort commented on #454
Sounds even better to me. 😄

[2018-06-12 07:40] bcmn commented on #456
I had literally started making a screen-capture to annotate into a mockup for this yesterday 😝

[2018-06-12 07:47] bcmn commented on #456
Just to document what I think we're both referring to:

**Current Behaviour**
![current_behaviour](https://user-images.githubusercontent.com/11646957/41276683-e8de16d0-6e1c-11e8-8769-c251ac20a798.png)

**Preferred Behaviour**
![preferred_behaviour](https://user-images.githubusercontent.com/11646957/41276702-f62a9d9a-6e1c-11e8-9821-94ee9ef901f4.png)

There's an obvious readability risk here, but I

[2018-06-12 08:29] yarnichat opened #458 "Speed isn't maintained after switching videos."
1. Play a video and change the speed to, say, 2x.
2. Play a different video.
3. The speed button still says 2x, but the video plays at 1x (!).

The speed setting should be preserved when switching between videos.

[2018-06-12 10:05] pahnev commented on #444
![screen shot 2018-06-12 at 13 04 50](https://user-images.githubusercontent.com/2078494/41284180-3c74ec0a-6e41-11e8-9ba4-12bbc93eb522.png)

[2018-06-12 12:21] leogdion opened #459 "Link to PDFs or Web Page"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app? **Yes**
- Are you running a release, stable version of macOS? **Yes**
- Have you looked at previous issues to see if you're having an issue that's already being worked on? **YES**
- If your issue is about compilation or project setup, have you followed the

[2018-06-12 13:15] insidegui commented on #459
Glad you found it 😄 We're currently working on improving the access to the session's resources 😉

[2018-06-12 13:16] insidegui commented on #444
@pahnev Thank you! I'm not sure that's the root cause of the issue, but now I can investigate this further.

[2018-06-12 13:16] leogdion commented on #459
Let me know if you need help. 😀

[2018-06-12 13:18] insidegui commented on #456
We could use white text with a dark border/shadow to prevent readability issues.

[2018-06-12 18:00] #453 closed

[2018-06-12 21:08] #395 closed

[2018-06-12 22:35] AnalyzePlatypus opened #460 "Time Remaining Label should be monospaced"
# System & Version
- macOS 10.13.4
- WWDC 6.0.3

# Current Behavior
Here's current behavior of the time remaining label:
![current behavior mov](https://user-images.githubusercontent.com/18376110/41319944-4f174cf8-6ea6-11e8-8975-717de01fce9c.gif)
The label width is constantly changing.

Exact location:
<img width="360" alt="indicate relevant label" src="https://user-images.githubusercontent.com/18

[2018-06-13 08:22] bcmn commented on #460
Good catch, thanks very much. Very comprehensive issue, too! 👏🏻

[2018-06-13 13:47] lumaxis opened #463 "Hitting space to pause/play a video sometimes doesn't work"
When running version 6.0.3 of the app on 10.13.5, I'm having issues with using the space bar to pause and resume a video reliably.

One way I can reliably reproduce this issue is by clicking somewhere into the video description area below the player. Afterwards, space bar doesn't work anymore until I click into the sidebar on the left again.

[2018-06-13 13:47] lumaxis commented on #449
@insidegui Opened #463 for 3 since this appears to indeed be a bug.

[2018-06-13 13:54] #460 closed

[2018-06-13 16:46] insidegui opened #464 "App hangs for several seconds at launch"
We have been getting reports of this issue since last year and @allenhumphreys tracked it down to an issue with Realm's linking objects, which was reported to Realm [here](https://github.com/realm/realm-cocoa/issues/5816). We are currently waiting for a response from Realm to determine our course of action.

[2018-06-13 16:47] insidegui commented on #370
I'm closing this as a duplicate of #464, look for updates there.

[2018-06-13 16:47] #370 closed

[2018-06-13 16:48] insidegui commented on #284
Keep an eye on #464 for updates on this.

[2018-06-13 21:17] allenhumphreys opened #465 "App hangs when starting video playback"
This will be worse/more noticeable when you have a slow connection. For the time being, its best to wait for for the video to start playing back before interacting with the app anymore.

There is an inadvertent synchronous, yet network dependent, call being made when starting the play. (Possibly more than 1).

The main one of concern seems to be:
[code]

The option to get an initial value from KVO

[2018-06-14 20:46] VicenteBorrell commented on #413
I'm working on it! Do you have an example of a session with sample code in Resources?

[2018-06-14 20:49] bcmn commented on #413
Try this one: https://developer.apple.com/wwdc17/231

[2018-06-14 20:51] VicenteBorrell commented on #413
Thanks @bcmn !

I see that Apple is using just two icons for all types of resources. Can we know what kind of resource it is or do we guess based on filetype or something like that?

[2018-06-14 20:53] bcmn commented on #413
We know the exact type, so we can display them differently. 🙂

[2018-06-15 17:48] Milos opened #466 "Cannot open app"
I can't open the app even though I'm running the latest version of the app and MacOS (10.13.5).  I've tried reinstalling app but without success.

![ezgif-2-5ac66adefd](https://user-images.githubusercontent.com/1482759/41482151-f0097160-70d4-11e8-9eaa-a06d648356c9.gif)

[2018-06-15 18:15] insidegui commented on #466
Is there a crash log you could send us? I can't really know what's happening based on that gif.

[2018-06-16 16:10] Milos commented on #466
Sure thing Guilherme.

**Crash log:** [WWDC_2018-06-15-193547_milos-mb.txt](https://github.com/insidegui/WWDC/files/2108305/WWDC_2018-06-15-193547_milos-mb.txt)

**Update**: After looking at the crash log, I saw what was causing the crash. It was unable to initialize Realm because of Incompatible histories. I deleted WWDC app and removed *io.wwdc.app* from the *Application Support* and installed W

[2018-06-16 19:19] insidegui commented on #466
This was caused by some inconsistency in the database file, unfortunately it's been deleted now so we can't investigate any further 😅

I'm glad you managed to solve it.

[2018-06-16 19:19] #466 closed

[2018-06-17 11:32] weiran commented on #434
A rather heavy handed approach to fixing this is to use [VLCKit](https://code.videolan.org/videolan/VLCKit) for video playback, which I've had to do to get around `AVFoundation` limitations or bugs, especially when streaming over HTTP.

Whether it's worth the effort and change just to fix this bug is debatable.

[2018-06-17 23:45] allenhumphreys opened #468 "Featured tab related crash when playing a video"
[code]

[AnnotatedStackTrace.txt](https://github.com/insidegui/WWDC/files/2109519/AnnotatedStackTrace.txt)

Not sure what the problem is exactly but it definitely exists and should block releasing the featured tab.

[2018-06-19 14:28] #468 closed

[2018-06-19 15:18] insidegui opened #475 "Transcript tab is empty for a specific session"
After integrating 2017/2018 transcripts from ASCIIWWDC, I noticed that the session "Vision with Core ML" from 2018 shows the "Transcript" tab, but it's empty. I haven't looked thoroughly enough but this could be happening to other sessions as well. We need to determine if this is an issue with the logic used to determine whether to display the transcript tab or an issue with the transcript itself.

[2018-06-19 15:19] insidegui commented on #475
@allenhumphreys Have a look at this if you can, please

[2018-06-19 17:21] #475 closed

[2018-06-20 09:53] the7thgoldrunner commented on #463
Hi all,

I'm new here and I'm looking for a way to make a small contribution to the project. I've researched this a bit, and I believe what's at fault are these two lines in `PUIPlayerView`'s `startMonitoringKeyEvents` function:

`let fieldEditors = firstResponders.filter { ($0 as? NSText)?.isFieldEditor == true }`
`guard fieldEditors.isEmpty else { return event }`

If you tap or select some text

[2018-06-20 14:38] the7thgoldrunner commented on #412
Shouldn't this get closed now?

[2018-06-20 15:25] #412 closed

[2018-06-20 15:53] allenhumphreys opened #479 "Player fails to hide, obscuring the image/play button of selected sessions"
Introduced by #428 , we're trying to achieve the correct balance of player hiding.

This bug results in the player being visible on sessions other than the currently playing session.

[2018-06-20 20:06] bcmn commented on #271
Addressed in #467.

[2018-06-20 20:06] #271 closed

[2018-06-20 20:12] bcmn commented on #206
Addressed in #439.

[2018-06-20 20:12] #206 closed

[2018-06-20 20:18] bcmn commented on #227
Seemingly fixed in #387 & #478.

[2018-06-20 20:18] #227 closed

[2018-06-21 05:10] tutumagi opened #481 "video for WWDC before current year?"
Can add a feature that user can watch older WWDC sessions rather than current year like the Official WWDC iOS App?
Thanks!

[2018-06-21 07:38] bcmn commented on #481
Just to be clear, past sessions (Currently 2014+) are under the "Videos" tab. Schedule only includes the most recent schedule.

![screen shot 2018-06-21 at 08 37 28](https://user-images.githubusercontent.com/11646957/41704532-64a0c958-752e-11e8-99ce-c9ba03ab720a.png)

Due to API changes outside of our control, we have no intention to support pre-2014 videos.

[2018-06-21 07:38] #481 closed

[2018-06-23 12:50] insidegui commented on #445
My radar was marked as a duplicate, so they're already on it 😄

[2018-06-24 02:05] vichudson1 opened #482 "User Defined Playlists"
I saw a few issues discussing Curated Playlists, but didn't see anyone mention user created ones. As a user it would be nice to be able to create my own playlists to watch and possibly even share with others as well as view others shared with me. Maybe use a simple plist or some other easily shareable format.

[2018-06-24 02:29] insidegui commented on #482
I'm not sure I want this feature. Opinions? @bcmn @allenhumphreys

[2018-06-24 17:20] vichudson1 commented on #482
So maybe the user sharing would be overkill, but playlists would be a value add for me. I could create lists of related session then just queue them up and let it play.

[2018-06-24 18:54] insidegui commented on #482
I don't think it would get much use to justify its complexity. I certainly wouldn't use that.

[2018-06-24 19:05] insidegui commented on #449
Number 2 will be addressed in #465, number 4 is a large issue and deserves its own issue, which I'll be opening.

[2018-06-24 19:05] #449 closed

[2018-06-24 19:07] insidegui opened #483 ""Live" filtering"
Currently, when a filter is active and the content changes in a way that would change the results of the filter, the filtered list is not refreshed. Example: filter to only show downloaded videos, if a new download finishes with the filter applied, the recently downloaded video will not be added to the list. The same happens when filtering for favorites and removing a video from favorites. This sh

[2018-06-24 19:09] insidegui commented on #443
TODO: Check if addressing #465 has an effect on this issue.

[2018-06-24 19:10] insidegui commented on #420
The guidelines have been updated.

[2018-06-24 19:10] #420 closed

[2018-06-24 19:11] insidegui commented on #416
Could be related to #471 . @PaulSolt are you able to build from `master` and check if this is still happening?

[2018-06-24 19:12] insidegui commented on #430
This is a bigger issue that will require major changes to our list, I'll close this for now and we'll re-evaluate when the priorities change.

[2018-06-24 19:12] #430 closed

[2018-06-24 22:57] insidegui commented on #482
Let’s wait for Ben and Allen to give their opinions 😄

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-25 20:13] allenhumphreys opened #484 "Playing a completely watched video (progress near end) should start playback at/seek to the beginning"
Much like quicktime, Netflix, etc. If you press play from the end, it should go to the beginning.

[2018-06-25 20:20] bcmn commented on #482
Queueing up multiple sequential sessions seems reasonably suited for the “Now Playing” functionality discussed in #289.

As for the rest, I definitely don’t think Gui & I overlooked this possibility when we were discussing curated playlists. To me, the sharing would be the heart of user-created playlists; who is rewatching their own collections of long-form technical talks? It seems like one the w

[2018-06-25 22:26] shadowfacts opened #486 "Use time stretching for fast playback rates without audio distortion"
The WWDC app would benefit from using [time stretching](https://en.wikipedia.org/wiki/Audio_time_stretching_and_pitch_scaling) when the playback rate is greater than 1 in order to speed up the content without audio distortion or affecting the pitch of the audio significantly.

To compare the differences with/without time stretching, open a video in Chrome and Safari and change the playback rate (t

[2018-06-25 23:55] insidegui commented on #482
Judging by the fact that bookmarks have some annoying bugs (which I was too lazy to report myself) and nobody has reported any I suspect the usage is very small.

We always need to judge how much it is worth committing our time to a new feature, there are currently only around 4 people actively working on the project on their free time, we need to be very picky about features.

[2018-06-25 23:56] insidegui commented on #484
Good idea.

[2018-06-25 23:56] insidegui commented on #486
We had someone implement something like this, but we disabled it because of other issues. We're currently working on changes to the player that are going to change the way it behaves when playing at faster speeds.

@allenhumphreys Is something you'd like to take a look at?

[2018-06-27 16:37] PaulSolt commented on #416
I haven't had time, traveling. Will try when I get time to watch WWDC
videos again.

On Sun, Jun 24, 2018 at 3:11 PM Guilherme Rambo <notifications@github.com>
wrote:

--
Paul Solt
PaulSolt@gmail.com
215-341-0407 (Cell)

[2018-06-28 16:43] the7thgoldrunner commented on #484
I'll have a pull request for this soon.

[2018-06-28 19:04] #465 closed

[2018-06-29 17:09] allenhumphreys commented on #412
Fixed in #451

[2018-06-29 17:17] #479 closed

[2018-06-30 11:15] the7thgoldrunner commented on #443
Is this fixed? I'm asking because #465 has been closed and these two issues are marked as related.

[2018-06-30 11:16] allenhumphreys commented on #443
I think we’re holding off to get feedback on whether the related issues addressed the underlying problem here.

[2018-06-30 11:17] the7thgoldrunner commented on #443
Got it. Thanks!

[2018-07-04 20:20] insidegui commented on #438
Maybe a menu/shortcut to clear all filters would be a good compromise?

[2018-07-04 20:20] insidegui commented on #416
This should be fixed now, please open another issue if you manage to reproduce it again in 6.0.4. Thanks

[2018-07-04 20:20] #416 closed

[2018-07-04 20:21] insidegui commented on #326
Is this still happening on the latest version?

[2018-07-05 07:02] bcmn commented on #482
Given the responses, I think we should close this issue for now. We can always reopen it if we have a change of heart.

[2018-07-05 07:02] #482 closed

[2018-07-05 07:06] bcmn commented on #289
In the now-closed issue above, one of the sub-suggestions seemed to be simply the ability to play a queue of items back to back. The nature of this behaviour seems well-suited to this issue, as otherwise we would likely end up rethinking this UX twice over.

[2018-07-05 07:13] bcmn commented on #326
I'll try & recreate later. It's been a while, from what a recall, I think it just occurred randomly when repeatedly scrolling cells in & out of view.

[2018-07-05 13:52] insidegui commented on #289
The queue aspect of playlists is exactly the one I worry about the most 😅

I don't know, it sounds too complex to implement for very little benefit. We're talking about sessions of about an hour in duration, who watches several of them non-stop? Is it really that hard to find, select and play the next session you want to watch?

[2018-07-05 13:56] insidegui commented on #289
After this year's WWDC, I did end up watching a few sessions in sequence, this is what I would do:

1 - Favorite the sessions I want to watch
2 - Filter by `year=2018`, `favorites` and `unwatched`
3 - When the current session ended, choose the one I wanted to watch next and click play

For me, the only thing that would change in this workflow with queueing would be the fact that I don't have to ma

[2018-07-05 19:34] yarnichat commented on #438
I feel like that adds another thing to learn, and still doesn't speed things up. It's not clearing filters that needs to be faster, but toggling individual filters.

[2018-07-06 07:22] bcmn commented on #289
Yeah, my workflow is the same. I can't say I necessarily share the need for it, I just thought it was telling that the issue above was willing to forego all the sharing stuff that seems valuable to get this functionality.

[2018-07-14 14:14] allenhumphreys commented on #486
@shadowfacts
`AVAudioUnitTimePitch` appears to be for the audio engineering portion of AVFoundation and there is no apparent API on AVPlayer/Asset/PlayerItem that could make use of it. We are using the [time domain](https://en.wikipedia.org/wiki/Audio_time_stretching_and_pitch_scaling#Time_domain)-based stretching built into AVFoundation and supported by AVPlayerItem's `audioTimePitchAlgorithm` pr

[2018-07-18 14:34] allenhumphreys opened #495 "Add-remove-add favorite results in a permanently favorited session"
The problem has to do with this code and the soft-deletion of `Favorite`s. Could probably be remedied by changing `removeFavorite` to soft delete all the favorites and `createFavorite` to only add a favorite object if one isn't already there, otherwise it should undelete it.

I'm not fixing this right now because I'm not really sure why soft deletion and an array of objects is even needed.

[code]

[2018-07-18 14:52] allenhumphreys commented on #495
*only happens when favoriting from the session actions. Using the table context menu appears to have a different implementation.

[2018-07-18 15:07] insidegui commented on #495
This seems like a good solution

That combination made syncing significantly easier to implement.

[2018-07-20 14:05] the7thgoldrunner commented on #484
Can we close this?

[2018-07-20 19:04] the7thgoldrunner commented on #458
If we still want to fix this, I think I'll take it.

[2018-07-20 19:05] allenhumphreys commented on #458
@bcmn Any issue with that?

[2018-07-20 19:07] bcmn commented on #458
Yeah that’s fair enough, I’ve had a lot of things come up recently & not
had time to fully update this stuff to unassign myself and everything. My
bad.
On Fri, 20 Jul 2018 at 20:05 Allen Humphreys <notifications@github.com>
wrote:

[2018-07-23 18:20] #458 closed

[2018-07-23 19:12] allenhumphreys commented on #422
Work began [here](https://github.com/insidegui/WWDC/pull/497)

[2018-07-25 15:29] insidegui commented on #456
That's great! Go ahead

[2018-07-27 09:29] rshev opened #498 "Subtitles are not in sync with video if playback speed is not 1x"
- Version of macOS: 10.13.6 (17G65)
- Version of the app: 6.0.4
- What were you trying to do when the issue happened: watch videos with subtitles on on playback speed 1.25x
- Any particular hardware/software configuration you have that might be affecting the app: nope
- If it is a wrong behavior, list all steps required to reproduce it:
1. start a video (for example "Embracing Algorithms" 2018-223

[2018-07-27 13:41] insidegui commented on #486
I'm closing this since it's not an actionable issue.

[2018-07-27 13:41] #486 closed

[2018-07-27 13:45] insidegui commented on #498
I was unable to reproduce the issue, but it sounds similar to an issue we've been having with audio when streaming at >1x. Does that happen every time? Can you do a screencast showing the steps leading up to the issue? Thanks

[2018-07-27 22:05] dinesharjani commented on #456
@insidegui can you give me ticket assignment rights, so I can assign myself to issues / tickets?

[2018-07-28 14:15] insidegui commented on #456
@dinesharjani That's not necessary, stating in a comment that you're doing it is enough 😉

[2018-08-03 13:43] dinesharjani commented on #456
![image](https://user-images.githubusercontent.com/1042411/43646006-857ebe72-972b-11e8-9f3d-ca3821f8603c.png)

I'm close to having a pull request.

[2018-08-03 16:34] insidegui commented on #456
Nice! May I suggest that the bottom of the time tooltip be aligned with the current time and time left?

[2018-08-03 19:00] dinesharjani commented on #456
I can do that. What I don't know what to do about is what happens when the preview overlaps the time labels; I thought of making them invisible when previewing the time, but I have no direct delegate from the Timeline View object to the Player View object. Should I add one or leave it for you guys to decide?

[2018-08-03 19:48] insidegui commented on #456
It could rise when it's close to the edges or maybe we could not show it when too close to the edges. I feel like it's more useful in the middle of the video.

[2018-08-03 19:50] insidegui commented on #456
@bcmn @VicenteBorrell @allenhumphreys Any opinions on the above?

[2018-08-03 19:56] allenhumphreys commented on #456
My first thought is to just limit it's movements so it can only come within 10 pts of the time labels.

[2018-08-03 22:02] insidegui commented on #456
The simple solution is often the best one :)

[2018-08-07 15:39] dinesharjani commented on #495
Is work on this issue needed? I cannot tell reading your comments :)

[2018-08-07 15:44] allenhumphreys commented on #495
Yes, this is still a bug. A minor logic update should be all that is needed. I think there are 2 places where add/remove favorite logic is implemented. 1 for the session list and another for the session detail. The table menu handles things correctly.

- [ ] Must unify logic for (un)favoriting a session if possible
- [ ] Must ensure both places can correctly (un)favorite sessions

[2018-08-07 15:46] dinesharjani commented on #495
Alright. I think I can pick this up once #499 is approved / merged.

[2018-08-07 16:25] insidegui commented on #495
It should be possible to abstract this to ConfCore and have a single implementation that's just a simple method to favorite/unfavorite which just does the right thing.

[2018-08-11 16:02] insidegui commented on #444
I made a potential fix for this issue in ChromeCastCore 0.3, it should be fixed on the next update.

[2018-08-31 11:01] dinesharjani commented on #456
I'm so happy we finally merged #499 in!

That being said, I think we can close this issue now 🥇

[2018-08-31 12:17] allenhumphreys commented on #456
Thanks @dinesharjani! I wanted to let you know, in case you didn’t, that you can [“link” a PR to an issue](https://help.github.com/articles/closing-issues-using-keywords/). Though I’m not sure if it works if the PR author doesn’t have push access to the target repo. Maybe give it a try on your next work!

[2018-08-31 12:17] #456 closed

[2018-08-31 15:08] insidegui commented on #456
Thanks @dinesharjani !

[2018-08-31 19:03] insidegui commented on #454
@allenhumphreys Maybe use `NSUbiquitousKeyValueStore`? If you'd like to make this more generic, maybe provide a way for the app to inject something that conforms to a protocol so the player doesn't have to know about iCloud vs. user defaults...

[2018-09-12 21:18] allenhumphreys opened #502 "Migrate to Swift 4.2/Xcode 10"
The GM is out, and [travis](https://docs.travis-ci.com/user/reference/osx/#os-x-version) finally learned their lesson and dropped the beta from their image identifiers so that the switch for them will be automatic.

[2018-09-14 08:39] bcmn opened #504 ""Tech Talks" are incorrectly appended with a year in the TableView"
Sessions belonging to the "Tech Talks", "Developer Insights" & "App Store Connect" events get incorrectly appended with a year in the TableView on the left, as shown below:

![image](https://user-images.githubusercontent.com/11646957/45539325-4a8c8000-b801-11e8-9a37-345546dd9c55.png)

Specifically, the issue is related to [this function](https://github.com/insidegui/WWDC/blob/master/WWDC/SessionVi

[2018-09-14 09:08] marcocapano commented on #504
I'm on it :) 😊

[2018-09-14 12:51] marcocapano commented on #504
PR submitted🎉

[2018-09-14 12:56] insidegui commented on #504
Thanks @marcocapano

[2018-09-14 14:01] marcocapano commented on #504
Since a PR is already on this I guess we could close it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-14 14:05] bcmn commented on #504
Typically, we close issues once the PR is merged -- especially as there's a reference to the PR above. It's possible to use [Github's keywords](https://help.github.com/articles/closing-issues-using-keywords/) to make this even easier, & even do it automatically.

[2018-09-14 15:15] insidegui commented on #504
Implemented in #506

[2018-09-14 15:15] #504 closed

[2018-10-05 23:35] #502 closed

[2018-10-05 23:37] insidegui opened #507 "Mojave issues"
I noticed these when linked against the 10.14 SDK. I'll be doing some work to get these fixed and adopt the standard dark mode on Mojave instead of doing our own.

<img width="1172" alt="screen shot 2018-10-05 at 20 34 27" src="https://user-images.githubusercontent.com/67184/46564555-6229c680-c8de-11e8-9231-b7443485badb.png">

[2018-10-11 05:50] yoasha opened #509 "iCloud sync stops when zone gets deleted"
I'm running WWDC app version 6.0.4 on macOS Mojave on two devices: iMac and MacBook Pro and app data is out of sync (i.e. favotites  and session progress). Sync used to work properly in the past but currently it isn't. I'm not sure if issue is related to macOS Mojave...

I tried to restart both computers, disable and enable back iCloud sync in preferences, but nothing helped. I also wanted to clea

[2018-10-11 12:53] insidegui commented on #509
You can help us diagnose the issue by running the app with Console.app running, filtering by `WWDC` and sending us a txt file with the logs.

[2018-10-12 13:28] yoasha commented on #509
Thanks for your reply. Attached two log files: one log file when WWDC app is loaded, and another log file when I context click a session and selected "Add to Favorites".
[WWDC_add_favorite.txt](https://github.com/insidegui/WWDC/files/2473216/WWDC_add_favorite.txt)
[WWDC_load.txt](https://github.com/insidegui/WWDC/files/2473217/WWDC_load.txt)

[2018-10-12 14:47] insidegui commented on #509
Hmmm, there's an error message `"Zone was purged by user"`, so it looks like you deleted the iCloud data for the WWDC app at some point, which wiped out the custom zone we use for syncing. We'll need to handle that error in our sync code.

[2018-10-12 14:53] yoasha commented on #509
I probably deleted it by mistake, though I can't remember doing it. Is there any workaround I can manually apply now, or this issue must be handled by WWDC app's code?

[2018-10-13 19:58] insidegui commented on #509
You could try deleting the preferences by running `defaults delete io.wwdc.app` in Terminal and restarting the app.

[2018-10-14 07:18] yoasha commented on #509
Two issues:
1. After deleting preferences as you instructed, there are warnings and errors when loading app. See attached file.

Specifically:
WARNINGS (YELLOW)
error	10:12:41.508386 +0300	WWDC	Unable to load Info.plist exceptions (eGPUOverrides)
default	10:12:41.627270 +0300	WWDC	background session setup reply received: session <private> with identifier <private>
error	10:12:42.017486 +0300	WWDC

[2018-10-17 21:32] allenhumphreys opened #511 ""Save a copy..." for Downloaded Sessions"
Just a thought I had while working on the downloads window. Sometimes I'd like to trim down a clip to send to someone and finding it/getting a copy of it to work with would be handy. Could go in the share menu possibly.

I don't think we want to encourage a "Reveal in Finder" type mechanism as users doing anything to the files other than deleting them could be disastrous.

[2018-10-18 15:25] insidegui commented on #511
Sounds like a good idea and not too hard to implement.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-21 21:46] allenhumphreys opened #513 "Additional features for download management"
Followup features to #422:

* Estimated time to completion
* Download throughput
* Some kind of notification of download completion
* Overall download progress inside the downloads button

[2018-10-22 09:06] Linasses commented on #114
Not sure if this is a NEW feature request, or an elaboration on this one. How about Search results linking/highlighting text in the transcript. Then user click on the highlighted text moves the scrubber to the correct time stamp.

[2018-10-23 22:03] #422 closed

[2018-11-03 21:40] #507 closed

[2018-11-07 16:37] sgtcoolguy commented on #445
@insidegui Hey - any idea if there was movement on this? I'm running into similar issues on an entirely separate repo/app, but this is about the only place I can find reference to this bug.

[2018-11-07 16:41] allenhumphreys commented on #436
Can't reproduce anymore, could be Mojave, could be it was fixed in other work.

[2018-11-07 16:41] #436 closed

[2018-11-07 19:07] insidegui commented on #445
I believe this is not happening anymore since we linked the app to the 10.14 SDK. @allenhumphreys have you experienced this issue on Mojave? It's fine for me here...

[2018-11-07 19:20] sgtcoolguy commented on #445
I'm running into a similar issue in that we're running some automated tests on an iOS app running in an iOS 12.0 Simulator on macOS Mojave (and Xcode 10). Trying to use the AVPlayer APIs to play a movie file in the iOS app prompts the permissions for microphone in Mojave. This is in our CI node setup, so I don't really ant to try and upgrade our build nodes to Xcode 10.1 and macOS 10.14.1 unless I

[2018-11-07 19:50] allenhumphreys commented on #445
This hasn't happened with our app. I have had Xcode and Android studio both ask for microphone permissions completely randomly, though. So something isn't quite right out there.

[2018-11-07 19:59] insidegui commented on #445
I'm closing this since it's not applicable anymore.

[2018-11-07 19:59] #445 closed

[2018-11-07 20:11] ekhodykin commented on #445
It happens for me as well with our CI setup for UI tests.

@sgtcoolguy It would probably be a good idea to post an additional bug report to http://bugreport.apple.com/. Maybe it will help to adjust this bug's priority.

But the WWDC app itself is OK, I can't reproduce this issue anymore even when I create a new user and run a fresh download of the app from it.

[2018-11-07 22:10] insidegui commented on #445
That's good to know, thank you!

[2018-11-08 19:02] allenhumphreys commented on #424
@insidegui Is this complete?

[2018-11-09 12:17] insidegui commented on #424
Yeap

[2018-11-09 12:17] #424 closed

[2018-11-09 12:17] #423 closed

[2018-11-10 13:06] bcmn commented on #511
I've really liked the idea of being able to bookmark a chunk of video, instead of a point, for quite a while now. I wonder if this idea would work well with it -- the ability to either link to the chunk, or export the chunk as a new file to share. 🤔

[2018-11-10 13:44] allenhumphreys commented on #511
My workflow is to get the file, trim with QuickTime and then share.

[2018-11-10 15:48] insidegui commented on #511
That's not too hard to implement with `AVFoundation`

[2018-11-10 16:31] allenhumphreys commented on #511
No, but the UI though... big can of worms turning the app into an editor.

[2018-11-11 16:05] insidegui commented on #511
I believe `AVKit` has a built-in control that can handle trimming.

[2018-11-13 14:09] luvvie opened #520 "Crash upon launch"
Process:               WWDC [1193]
Path:                  /Users/USER/*/WWDC.app/Contents/MacOS/WWDC
Identifier:            io.wwdc.app
Version:               6.1 (900)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           WWDC [1193]
User ID:               501

Date/Time:             2018-11-13 08:52:00.478 -0500
OS Version:            Mac OS X 10.12.6 (16G1

[2018-11-13 19:32] insidegui commented on #520
Sorry, we don't support macOS 10.12 anymore and forgot to change the deployment target. You can download the latest version that can run on 10.12 [here](
https://github.com/insidegui/WWDC/releases/tag/6.0.4).

[2018-11-13 19:43] spaceleviathan opened #521 "[Missing UI Element] - iCloud Sync Toggle"
- Release version of macOS 10.14.1 (18B75)
- Latest version (from WWDC.io) of WWDC.app - 6.1

In the latest version the toggle or checkbox for iCloud sync (beta) has disappeared.
The label is there in the settings panel, but not the toggle to activate it.
_(perhaps this is intentional?)_
I haven't seen this identified anywhere, my apologies if this is a duplicate.

Would love to have syncing back

[2018-11-13 19:45] allenhumphreys commented on #521
Confirmed

[2018-11-13 19:50] insidegui commented on #521
Oops 🥴

[2018-11-13 22:19] luvvie commented on #520
Fair enough.

Should/could the "Software Update" dialog not appear on systems that do not support running version 6.1 (i.e. leaving the app in a state that crashes upon startup)? I'm just pointing this out. I consider myself to not have standing to ask for one preference or another.

My sincere thanks for this remarkable piece of software.

[2018-11-14 00:41] insidegui commented on #520
Yes, that should be the behavior, but unfortunately we made a mistake and forgot to change the deployment target with the latest update.

[2018-11-14 12:44] #521 closed

[2018-11-15 09:32] pzoltowski opened #523 "Version 6.1 shows only session from 2018"
I just updated WWDC to 6.1 and noticed I cannot see anymore sessions from different years. It shows only from 2018 even though I have also many sessions from 2017 and previous years downloaded. I have only 'All events', 'All platforms', 'All Tracks' combo boxes for filtering. 'All events' have only 'Sessions' and 'Labs and others' options.
My setup:
10.13.6 High Sierra
Macbook Pro 15'' 2012 unibod

[2018-11-15 11:59] insidegui commented on #523
Switch to the "Videos" tab.

[2018-11-15 11:59] #523 closed

[2019-01-15 12:18] andywarwick commented on #445
There seems to be two issues here: microphone access for both Xcode and the app itself.

Your app (or a test) can prompt/fail for either or both, though not always on same run.

Both of these dialogs must be approved to allow access, after which the permission persists between Xcode and Simulator resets or restarts.

You can confirm access has been approved for Xcode in System Preferences -> Secur

[2019-02-17 05:30] ScherisMarie opened #524 "Light UI Option (or basing it off the user's macOS theme choice)"
I'm running the latest version of the application, along with the latest version of macOS 10.14.

Would it be possible down the road to add a light UI option as an option (or since Dark Mode support is built into the OS, change the UI theme based on the user's choice).

I noticed in the closed issues that it was mention "Light UI will not be an option", but I can't use dark UIs without straining a

[2019-02-18 13:31] insidegui commented on #524
I understand your frustration, but we've decided to not implement this. Sorry.

[2019-02-18 13:31] #524 closed

[2019-03-15 07:36] mediter opened #525 "Improvement Suggestion: Option to Limit the Number of Concurrent Downloads"
Currently (version 6.1 with macOS 10.14.3 (18D109) ), it is very nice that we can see and control every download in Download Manager. However, all the downloads start at the same time. If you happen to download a whole bunch of them, each one of them would progress slowly, especially during the day when network usage is high. And very likely some of them would fail when that happens.

Having the o

[2019-03-15 08:44] bcmn commented on #525
Good idea, thanks for the suggestion -- it definitely sounds like we should have a max in there.

UX-wise, I suspect an option would be quite a tricky preference for a user to be presented with. I'm not sure a user would have all the information as to the trade-offs. Perhaps a limit is all that is needed.

[2019-03-15 14:10] insidegui commented on #525
Weird, I thought the `URLSession` mechanism would manage that for us, I believe it does on iOS. I agree we should come up with a limit and apply it, I'm against adding a preference for it.

[2019-03-15 16:22] allenhumphreys commented on #525
It *kind of* does. In my development, it mostly limited active downloads to 3 while the remaining ones sit in a pending state. And this behavior was somewhat dynamic, so if you are on a slow it will start fewer. I agree that a setting would be a nice to have. I'm not sure what the standard use case it. For example, is it typical to download between 1-5 at a time, or an entire year.

[2019-03-16 01:45] mediter commented on #279
But on the website of another project of yours, namely ASCIIwwdc, it lists transcripts for videos dating as far back as 2010. Is it possible to use a separate data source for videos released between 2010 and 2013?

[2019-03-16 14:32] insidegui commented on #279
That's not something we're interested in doing.

[2019-03-22 01:05] mediter opened #527 "In selected state, illegible title due to low contrast to background"
![Screen Shot 2019-03-21 at 11 36 54 PM](https://user-images.githubusercontent.com/57368/54794234-60cc3a80-4c81-11e9-98ae-2638c56a6d6f.jpgilleg

[2019-03-24 14:31] mediter opened #528 "Download Failure"

[2019-03-24 14:41] #528 closed

[2019-03-24 14:45] mediter opened #529 "Download Failure Recovery"
Currently:

1. Sometimes download failures are silent, meaning that they do not invoke alerts.
2. All the failed downloads are removed from the download manager automatically.

This is in contrast to how apps like Safari are handling these situations: the failed download would remain in the download queue with a resume button.

Judging by the fact that videos being downloaded prior to app relaunch

[2019-03-24 14:59] allenhumphreys commented on #529
@mediter Are the failures you're referring to happening when the app is not running? Could you give a specific way to reproduce the failures?

Regarding using local notifications: That's an excellent suggestion, we could even do download completion notifications.

As an FYI, Safari manages persistence above and beyond what `NSURLSession` provides out of the box to keep track of certain things.

[2019-03-25 02:06] mediter commented on #529
I am in Beijing, China. Local ISP China Unicom 50Mbps broadband

To reproduce the failure, maybe you can try the following:
try to download at least 20 videos all at once.

[2019-03-25 02:47] allenhumphreys commented on #529
The downloads continue to run when you quit the app since they are background downloads.

[2019-03-25 02:50] lizhaojie001 commented on #529
I met some server error about downloadURL sometimes

[2019-03-25 03:33] mediter commented on #529
It is when the app is running. I didn't know it has this feature.

[2019-03-25 16:46] allenhumphreys opened #531 "Rewrite filters to use a codable capable type structure."
As the final step to remove SwiftyJSON as a dependency, the filters and their persistence can be re-written to allow using `Codable` for persistence.

[2019-04-10 19:01] insidegui opened #532 "App is copying the video URL instead of the website share URL"
When selecting the "copy link" sharing option, the app is copying the video streaming URL instead of the URL for the WWDC website.

[2019-05-02 16:26] #532 closed

[2019-05-02 16:45] #520 closed

[2019-05-02 17:10] insidegui opened #535 "Sync error when trying to mark all videos as watched"
We need to batch uploads to CloudKit when there are too many items to be updated. I tried marking all videos as watched and got the following error:

[code]

[2019-05-02 17:12] insidegui commented on #511
Just had a thought about how cool this feature could be for sharing short clips from the videos, but then I thought about copyright laws and got depressed 😑

[2019-05-02 17:20] #498 closed

[2019-05-02 17:23] #444 closed

[2019-05-02 17:24] #396 closed

[2019-05-02 17:24] #329 closed

[2019-05-02 17:28] insidegui commented on #375
I think we should just skip this feature altogether. I'm not sure how useful it would be and it would be quite a bit of work to get it working. Besides, there's the issue of not knowing if the user is an attendee or not and Apple could get upset if we displayed all info (even for non-attendees). What do you think @bcmn, @allenhumphreys ?

[2019-05-02 17:29] insidegui commented on #364
Closed by #530

[2019-05-02 17:29] #364 closed

[2019-05-02 17:29] insidegui commented on #364
Thanks for the work on this @otaviolima and @allenhumphreys

[2019-05-02 17:30] davedelong commented on #375
What about checking for the presence of the attendee ticket in Wallet? They're located in `~/Library/Mobile Documents/com~apple~shoebox/UbiquitousCards/`.

[2019-05-02 17:37] insidegui commented on #375
That folder doesn't exist on my Mac

[2019-05-02 20:44] CoolTomatos opened #538 "Play-control overlay won't go away when cursor moved to a different display"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- [x] Are you running the latest version of the app?
- [x] Are you running a release, stable version of macOS?
- [x] Have you looked at previous issues to see if you're having an issue that's already being worked on?
- [x] If your issue is about compilation or project setup, have you followed the instruc

[2019-05-02 22:30] allenhumphreys commented on #538
I don't have an external monitor setup to mess with this

[2019-05-03 21:04] CoolTomatos commented on #538
@allenhumphreys can you please forward this issue to other developers?

[2019-05-03 22:35] allenhumphreys commented on #538
@cooltomatos that’s what I was doing by saying I couldn’t work on it. 👍🏼

[2019-05-04 09:59] insidegui commented on #538
I'll try to repro using DuetDisplay and/or AirPlay

[2019-05-14 10:38] insidegui opened #540 "Notarize releases"
We should start working on getting our releases notarized. The main issue currently is Sparkle. I tried following the [instructions here](https://github.com/sparkle-project/Sparkle/issues/1266#issuecomment-440789584), using the separate branch mentioned, but always got errors about Autoupdate and Updater.app not having the Hardened Runtime enabled.

Maybe we should wait until Sparkle has better su

[2019-05-23 11:32] JayBrown opened #544 "WWDC 6.1.2 hangs after launch on 10.14.5"
WWDC launches fine, but then starts to hang after 2 or 3 seconds, complete with spinning beach ball of death, and "Application not  responding" warning.

system: macOS 10.14.4 & macOS 10.14.5 with supplemental firmware update for T2 MBPs
app: WWDC 6.1.2
when: happens after launching the app
note: no special hw/sw configuration, but I tested launches without any background security apps, and the pr

[2019-05-23 13:05] tomassliz opened #545 "Sync watched/unwatched marks with official Apple's WWDC app"
I would like to sync the watched/unwatched videos with the official Apple app (iOS, web). I don't know if this will be even possible to implement but I still want to ask.

[2019-05-23 13:16] allenhumphreys commented on #544
@JayBrown Any chance you could profile the app in instruments to see what it's doing during the hang? It's hard to get a good picture of the problem with a sample report.

[2019-05-23 13:39] insidegui commented on #545
That's not possible, sorry.

[2019-05-23 13:39] #545 closed

[2019-05-23 15:23] JayBrown commented on #544
How do I do that, "profile the app in instruments"?

[2019-05-23 15:43] JayBrown commented on #544
Here's a profile. One thing was a little different this time: WWDC did not launch with an empty window, as before, but actually had some contents, like video titles etc., but was still hanging.
[wwdc-profile.trace.zip](https://github.com/insidegui/WWDC/files/3213028/wwdc-profile.trace.zip)

[2019-05-23 18:41] insidegui commented on #544
Thanks!

[2019-05-23 18:49] insidegui commented on #544
@JayBrown we had a similar issue (#284 / #464) a long time ago and it came down to a problem with Realm (which we use for data storage) which was causing database files to become corrupted in a way that made the app hang like you're seeing. Could you check the size of your database file? It's located in `~/Library/Application Support/io.wwdc.app/ConfCore.realm`.

Something you can try is to move t

[2019-05-23 20:51] JayBrown commented on #544
The ConfCore.realm db was 144 MB. I removed the whole AppSupport folder, and WWDC rebuilt it, and now it's 18 MB. But WWDC is still hanging. After 5 minutes or so, it loads the main window contents, though without images, but immediately goes into a hang again, with CPU at 100%.

[2019-05-23 21:10] insidegui commented on #544
Would it be possible for you to zip your app support folder `io.wwdc.app` and send us a link so we can inspect it?

If you prefer, you can e-mail it to me: `insidegui [at] gmail.com`

Thanks

[2019-05-23 21:15] JayBrown commented on #544
See here: https://transfer.sh/hCIOh/io.wwdc.app-20190523_231358.tar

[2019-05-24 02:15] allenhumphreys commented on #544
I took a look and there are definitely no photos in the image cache, but when I put these files into my application support folder the app started up fine and loaded the images. I tested with network link conditioner too just to make sure it wasn't being caused by a slower network.

I took a look at the trace and it's left me wanting to ask a seemingly unrelated question, but what are your locale

[2019-05-24 09:00] JayBrown commented on #544
location: Germany
language: English (US)
keyboard setting: German (QWERTZ)

Question: did you put the app into ~/Applications? That's where I'm launching it from. But I don't believe that's the problem.

Question: does WWDC in some form rely on AppleScript or something similar, e.g. to control other apps (macOS apps) or use some of their functionality?

[2019-05-24 22:47] allenhumphreys commented on #544
Question 1: To test, I took your application data and dropped into my production app's application data and ran the app located in /Applications (not ~/Applications)

Question 2: No, it doesn't. It's really just a video player that gets streaming links for the WWDC videos and lets you play them. Nothing too fancy.

After a bit of fiddling I got the trace to symbolicate and I think the problem has

[2019-05-24 22:55] JayBrown commented on #544
Thank you. I've deleted the localVideoStoragePath key and removed the AppSupport folder, and now everything's back to normal again. Will stick to the default settings.

[2019-05-24 22:55] #544 closed

[2019-05-29 19:43] alphachung opened #546 "Sidebar selected item's text unreadable under light mode"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- [x] Are you running the latest version of the app?
- [x] Are you running a release, stable version of macOS?
- [x] Have you looked at previous issues to see if you're having an issue that's already being worked on?
- [x] If your issue is about compilation or project setup, have you followed the instruc

[2019-05-30 02:48] mediter commented on #546
Similar to #527

[2019-05-30 16:56] JoshHrach commented on #430
I was just about to open an issue on this. Has there been any change to the priorities on this?

[2019-05-31 03:37] insidegui commented on #546
Closing this as a duplicate of #527

[2019-05-31 03:37] #546 closed

[2019-05-31 12:18] ajtruex opened #547 "macOS Spinning Pinwheel within seconds on launch"
macOS Mojave 10.14.5
WWDC 6.1.2
Nothing out of the ordinary is going on with my laptop as I am and have been running applications all day.
Opened the app to check the WWDC schedule for next week and it immediately went to the spinning pinwheel. I then had to force quit the app because I had waited a few minutes without any changes. I repeated this process 3-4 times including uninstalling and redow

[2019-05-31 12:58] allenhumphreys commented on #547
@ajtruex Could you check https://github.com/insidegui/WWDC/issues/544 to see if you have a similar issue? The problem there was around having a custom downloads directory set.

[2019-05-31 17:44] insidegui commented on #430
Nope. Would require a massive re-engineering of the way our listing works. I believe both @allenhumphreys and @davedelong have done some experiments and came to the same conclusion.

[2019-05-31 17:46] insidegui commented on #544
Leaving a comment here in case other people run into the same problem: the issue occurs when the downloads folder for the videos is set to a folder that contains lots of files and/or subfolders. We strongly suggest not changing the downloads folder or creating a separate folder specifically for this on your file system.

[2019-05-31 19:04] JoshHrach commented on #430
Understood. Thanks for explaining. 👍🏻

[2019-05-31 20:53] allenhumphreys commented on #430
@JoshHrach I have an implementation that won't be considered for merge/release until after WWDC, if you'd like to take advantage of it, you're welcome to checkout https://github.com/insidegui/WWDC/pull/548 and build it locally. iCloud syncing doesn't work when you build locally, otherwise the experience should be identical!

[2019-06-02 03:09] mediter commented on #527
6.1.2 same issue

![Screen Shot 2019-06-02 at 11 02 26 AM](https://user-images.githubusercontent.com/57368/58756243-d88ecf00-8526-11e9-900c-1e04cdecc054.jpg)

[2019-06-02 06:22] insidegui commented on #527
@mediter There is no need to comment that the issue is still occurring. We'll close this issue when it gets fixes.

[2019-06-04 00:13] yigitcanyurtsever commented on #538
Actually, this is caused by calling `showControls(animated: false)` on `NSWindow.didResignMainNotification` notification [here](https://github.com/insidegui/WWDC/blob/master/PlayerUI/Views/PUIPlayerView.swift#L1357).

Removing this line fixes the issue but I didn't want to open a PR directly because I wasn't sure if that line was added for handling something else.

There's also another issue relat

[2019-06-04 00:26] allenhumphreys commented on #538
It sounds like you’ve thoroughly researched the problem and are at a point we’re a PR would allow for an easier logical review! We can also check our your branch and test in a single window environment! So a PR would be very welcome!

[2019-06-04 01:24] berkcebi commented on #540
Hey @insidegui, we worked around this by codesigning `Autoupdate.app` in a build pre-action run script:
[code]

…right here in the Scheme editor:
<img width="964" alt="Screen Shot 2019-06-03 at 6 21 32 PM" src="https://user-images.githubusercontent.com/447045/58844548-87690300-862c-11e9-8f1c-822474ba249a.png">

Hope it helps!

[2019-06-04 14:56] alexpersian opened #550 "Add ability to export list of "Favorites" from app"
Our team has been trying to coordinate what sessions each other are watching, along with what ones we deem as high-priority to get information from.

It would be amazing if there was a feature that allowed for exporting your list of favorited events. Possibly to a json or text file. Importing would be a nice to have, but less critical IMO.

Thanks for all the great work. Love the app!

[2019-06-04 20:21] ilyakooo0 opened #551 "2.5x and 3x speed option"
It would be great to be able to speed the video up more than 2x.

[2019-06-05 01:11] dbarros opened #552 "Full screen not showing full screen video."
I am on macOS 10.15.5, and WWDC latest version 6.1.2.

When the app is in full screen mode, would it be possible to have just the video be in full screen? Unless I'm not seeing how it's done, there's not much point in having a full screen mode in a video app if it's not the video itself which is playing and taking over the whole screen.

This is what I see in full screen mode at the moment:

<img

[2019-06-05 01:19] allenhumphreys commented on #552
To put the video player into full screen by itself, use this button:
<img width="1471" alt="Screen Shot 2019-06-04 at 8 18 24 PM" src="https://user-images.githubusercontent.com/8225090/58923619-fe25ff00-8705-11e9-8643-c8f72ebc7ff6.png">

[2019-06-05 01:31] dbarros commented on #552
@allenhumphreys I'm sorry that I didn't see that earlier. Just checked now and the reason I didn't is because it doesn't show up when the app is in full-screen mode. Thanks.

[2019-06-05 01:31] #552 closed

[2019-06-05 18:26] insidegui commented on #552
You can also double-click the video to move it to fullscreen.

[2019-06-05 20:01] FaroukZeino opened #553 "Bookmarks are not appearing immediately"
When adding a bookmark to a streaming video, it's not appearing immediately, I need to play the video for a couple of seconds to get it appears.
I am not sure of downloaded videos, but I think they have the same problem.

[2019-06-05 20:32] allenhumphreys commented on #553
Do you mean "favorite"?

[2019-06-05 23:54] FaroukZeino commented on #553
No, have a look [https://imgur.com/a/KSTqq66](here)

[2019-06-06 01:28] allenhumphreys commented on #553
Sorry I was confused. Could you upload a brief gif or screen recording of the behavior by chance?

[2019-06-06 02:32] allenhumphreys commented on #553
The delay has to do with generating a thumbnail image we use for the UI. It's likely way more pronounced when using when playing a streaming video compared to a downloaded video (generating a thumbnail will be dependent on internet connection as well). To make the UI snappier, the architecture would need to change somewhat to allow for a deferred delivery of a video thumbnail after the creation of

[2019-06-06 05:20] Urkman opened #555 "Need to restart app to see if new videos are available"
There is no way to update the list. So I need to restart to see if new videos are available...

[2019-06-06 06:45] DD-P commented on #555
Try switching on **Preferences | Refresh Schedule and Videos periodically**.  The help balloon suggests that it will refresh "every five minutes (useful during WWDC week)".

[2019-06-06 07:55] ygit opened #556 "Feature Request: Add toggling/hide-unhide support in Videos tab for Sections like Featured/Design/Frameworks/etc"
- There are many videos under sections like Featured/Design/Frameworks/etc on the Videos Tab
- Scrolling through that huge list of videos requires scrolling vertically a lot
- The section headers should be able to hide/unhide the videos under that section on clicking the header
<img width="1355" alt="Screenshot 2019-06-06 at 1 26 29 pm" src="https://user-images.githubusercontent.com/8512357/590165

[2019-06-06 08:10] deszip opened #557 "WWDC 6.1.2, Realm crashes on macOS 10.15 (19A471t)"
macOS 10.15 Catalina, app crashes right after the launch inside Realm framework. Building it from source using WWDC target doesn't crash, I suppose smth wrong with Realm <-> iCloud integration.

Please see attached log.
[wwdc.log](https://github.com/insidegui/WWDC/files/3260591/wwdc.log)

[2019-06-06 08:29] allenhumphreys commented on #555
You can use cmd + R. There’s also a button in the menus.

[2019-06-06 11:24] allenhumphreys commented on #556
This feature essentially exists in the "Filter" area

[2019-06-06 13:39] bcmn commented on #555
Like Allen said, I'm not sure what would UI changes help emphasise this -- I think we've already aimed to match similar patterns elsewhere.

Perhaps this is partially a signal that the five minutes refresh is too long -- Allen & I actually had a brief chat yesterday where I was unsure if the timer had stopped or something, which might add to that.

[2019-06-06 15:48] FaroukZeino commented on #553
I still don't understand the relation between downloading the thumbnail and creating a bookmark? can't the thumbnail created after the bookmark?

[2019-06-06 15:58] FaroukZeino commented on #553
I have uploaded a video [here](https://imgur.com/1fcytxs) to show you what I exactly mean, it took about 14 seconds for the bookmark icon to appear.

[2019-06-06 18:20] allenhumphreys commented on #553
Yeah. This is a valid issue. The program flow seems to optimize for the downloaded videos, but it does work as implemented.

[2019-06-06 18:28] insidegui commented on #555
Closing this since it’s not really an issue. If you have any suggestions about how this could be improved, open a feature request.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 18:28] #555 closed

[2019-06-06 18:29] insidegui commented on #553
Yeah we need to implement lazy loading of thumbnails for bookmarks.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 18:30] insidegui commented on #556
Closing since filters can be used for, well, filtering.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 18:30] #556 closed

[2019-06-06 18:31] insidegui commented on #557
Working fine here on Catalina. Not sure if OS version is the culprit.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 23:30] wangguan1 opened #559 "Still consuming network traffic when the stream is paused or ended"
Not sure this is really an issue. I was watching the stream under a very slow network connection(about 2-3 mbps). So this is pretty noticeable.

Screenshot when watching of 2019 sessions.
![image](https://user-images.githubusercontent.com/1572803/59072620-1b7ada80-8878-11e9-8a89-6352265648d7.png)

//----
mojave 10.14.5
build 6.1.2

[2019-06-07 01:32] insidegui commented on #559
We don't control when the app is or isn't downloading the video stream, that's handled by AVFoundation.

[2019-06-07 01:32] #559 closed

[2019-06-07 15:07] navaler opened #560 "dual monitor - video controls always showing"
- Version of macOS
macOS Mojave 10.14.5 (18F132)

- Version of the app
6.1.2

- What were you trying to do when the issue happened
Watch a video on second display and working on the primary display

- Any particular hardware/software configuration you have that might be affecting the app
nope

- If it is a crash, please provide the crash log
nope

- If it is a hang (beach ball), please provide a p

[2019-06-07 15:10] allenhumphreys commented on #560
Duplicates #538

[2019-06-07 15:10] #560 closed

[2019-06-08 01:22] literalpie commented on #524
This is very disappointing. I am colorblind and cannot read the text of selected items in the list. White text on a light blue background is nowhere close to accessibility standards!

<img width="442" alt="image" src="https://user-images.githubusercontent.com/20398475/59140340-33328b80-896a-11e9-9084-9e16a366a584.png">

[2019-06-08 05:10] insidegui commented on #524
That's a bug we're tracking on #546 . Keep in mind this is an open-source project we do on our free time. We're not your employees 😉 This type of attitude against open-source maintainers is what makes many of us give up on doing open-source work altogether.

[2019-06-08 07:56] nik6018 opened #561 "Navigation hierarchy for related session"
When I am **n** level deep after going from related session of one video to another, there is no way of going back to **n-1** screen. Either I have to search the video or again manually go through from one related video to another.

Can't a back button like the Mac App Store be implemented here? Don't know if it will be appropriate for a Mac App.

Also can a favourite mechanism be implemented for

[2019-06-08 16:31] insidegui commented on #561
Not sure about the navigation thing, it's a complex problem to solve. Any ideas @allenhumphreys ?

This is something we should definitely think about implementing.

[2019-06-08 17:24] alessaba opened #562 "Download videos in destination folder rather than moving it"
It would be nice if instead of downloading videos in a cache folder and then moving it, the app would download the file directly in the destination folder

Why, you may ask

i have a external SSD on which I have a 40GB partition for the latest beta of macOS Catalina (yes, I know it's very little, my bad)
and a 460GB partition for data.

i set the destination folder for videos in my Data partition,

[2019-06-08 17:29] insidegui commented on #562
We use the standard URL session downloading mechanism which uses a temporary folder by default. I'm not sure if it's possible to change its behavior.

[2019-06-08 17:31] allenhumphreys commented on #561
I think adding the favorite directly in the related session link should be a separate issue since they’re 2 features.

Without looking, I think it’d be possible to implement a super simple navigation history by piggy backing on the infrastructure that drives the related session linking. I don’t think it’d be a simple feature but I also don’t think it’d require major refactoring or re-writing of ex

[2019-06-08 19:31] allenhumphreys commented on #562
Support for this does not appear to be in `URLSession`'s download task API.

[2019-06-08 21:35] #540 closed

[2019-06-09 14:57] ludagoo commented on #557
It is crashing after updating to Catalina for me too... what info can I collect to help with this?

[2019-06-09 15:11] ludagoo commented on #557
oh I'm on 5.3... I thought I downloaded the latest a few days ago

I deleted all realm files in /Users/lucasgoossen/Library/Application Support/io.wwdc.app. after doing that it launched enough to be able to tell me I was on an old version? Tho I'm fairly certain I downloaded most recent a few days ago. Maybe the missing realm files triggered the update dialogue?

[2019-06-09 15:15] ludagoo commented on #557
Application Specific Information:
fatal error: Realm initialization error: Error Domain=io.realm Code=2 "Unable to open a realm at path '~/Library/Application Support/io.wwdc.app/ConfCore.realm': Unsupported Realm file format version." UserInfo={Error Code=2, NSFilePath=~/Library/Application Support/io.wwdc.app/ConfCore.realm, Underlying=Unsupported Realm file format version, NSLocalizedDescriptio

[2019-06-09 16:10] insidegui commented on #557
Thats a VERY old version. You’ll have to delete your realm database and reinstall the latest version without running the old one

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-10 09:08] pcolton opened #566 "Some WWDC 2019 sessions not showing up in list."
Running on Catalina, app version 6.1.2, not all the WWDC 2019 sessions are showing up. For example, "Window Management in Your Multitasking App" (session 246), is among some of them NOT showing up in the WWDC app. I've refreshed as well.

I'm going off this list: https://developer.apple.com/videos/play/wwdc2019

[2019-06-10 11:24] Blackjacx opened #567 "Auto-delete watched videos"
It would be cool to provide an option in the settings to auto-delete watched session videos so they do not clutter up disk space.

# Specs
- Version of macOS: 10.14.5
- Version of the app: 6.1.2

[2019-06-10 16:56] #538 closed

[2019-06-10 16:58] insidegui commented on #566
The video you mentioned shows up here.

<img width="1471" alt="image" src="https://user-images.githubusercontent.com/67184/59212027-bda40680-8b87-11e9-8f97-b9de6d386cfb.png">

[2019-06-10 16:58] insidegui commented on #566
@pcolton Are you sure you weren't searching in the "Schedule" tab? Video-only sessions won't show up there.

[2019-06-11 08:49] mluisbrown commented on #566
@insidegui I'm having the same issue. Session 408 "Adopting Swift Packages in Xcode" is not showing up for me:

![image](https://user-images.githubusercontent.com/4175766/59257474-eb438b00-8c2d-11e9-936b-22dbd8b98972.png)

Although the session that @pcolton doesn't see *is* showing up for me.

[2019-06-11 13:36] allenhumphreys commented on #566
@mluisbrown  I'd have to say the most likely culprit is stale data. The doesn't refresh it's data automatically by default. So if you have the app open for a long period of time (white dot under the dock icon) you can miss out on changes that apple publishes.

Just to make sure no assumptions are missed. Please quit the app entirely (cmd + q) and relaunch it _while connected to the internet_ to ma

[2019-06-11 13:39] allenhumphreys opened #568 "Add the ability to favorite (and download?) via the related session section"

[2019-06-11 14:08] allenhumphreys commented on #561
Feature description

1. A standard AppKit NSSegmentedControl will be added to the title bar area
a. The forward and back buttons will be inactive at appropriate times
1. A back stack will be maintained
a. It will be modeled by a tab and optionally a selected session
b. The stack will behave similar to finder
c. Items will be added to the stack when the tab it changed manually
d. Items will be adde

[2019-06-11 14:40] gtriisd opened #569 "Removing a Favorite does not sync to other Macs"
macOS 10.14.5
WWDC Version 6.1.2
The action "Add to Favorites" syncs via iCloud to my other Mac, but "Remove from Favorites" does not sync. Not a huge deal, but would be a nice-to-have feature.

[2019-06-11 14:46] allenhumphreys commented on #569
Does this relate to #495?

[2019-06-11 19:44] insidegui commented on #566
The periodic refresh is only active during WWDC week. We should probably tweak it to stay active for a few more days after the week ends.

[2019-06-11 20:43] kubatruhlar commented on #544
Happened to me as well. After I changed the path and moved the files, the app just refused to work. Thanks @allenhumphreys.

[2019-06-11 20:44] allenhumphreys commented on #544
@kubatruhlar See https://github.com/insidegui/WWDC/issues/544#issuecomment-495807483 to reset the preference

[2019-06-12 17:35] Blackjacx opened #571 "Add the count of displayed items in the left schedule/video list"
When the user filters the amount of items in the left list decreases. It would be nice, also as motivation to watch more session videos, to know how much videos are left in the left list, e.g. when I activated the `unwatched` filter.

[2019-06-12 21:34] bcmn opened #572 "Improve colour contrast on Playback progress indicator"
There are three colours in the playback progress indicator -- the current time, the hovered time, & the background colour. The WCAG contrast ratio (not normally applied to two non-font elements, but 🤫) doesn't pass on simply the current + background colour, never mind the intermediary hover colour.

<img width="170" alt="Screenshot 2019-06-12 at 22 26 44" src="https://user-images.githubusercontent

[2019-06-13 16:02] insidegui commented on #571
Doesn't sound that interesting to me tbh. What do you think @allenhumphreys @bcmn ?

[2019-06-13 16:04] allenhumphreys commented on #571
I actually had been having this same thought. It'd be nice to have, like Finder's status bar. But I'm not itching to implement it. I think it'd be an easy thing to do if @Blackjacx wanted to do it.

[2019-06-13 16:06] insidegui commented on #571
Marked as "Good first issue" 😄

[2019-06-13 16:07] insidegui commented on #567
Removing the "Good first issue" tag since as it turns out, this is not as simple as it sounds 😅 (Developing in #570).

[2019-06-13 18:37] Blackjacx commented on #571
Ha Ha Ha ;-) After Dub Dub I have plenty of other things in my mind ^^ But hey Guilherme, nice performance at Swift over Coffee at AltConf - saw it live 👍

[2019-06-14 22:07] chrislconover opened #573 "MacOS standard Ctrl-Click should work for context menu"
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS: 10.15
- Version of the app: 6.1.2
- What were you trying to do when the issue happened:
    Mark session as read

- If it is a wrong behavior, list all steps required to reproduce it:

What happened:
Trying to use the Mac OS standard approach of Ctrl-Click for cont

[2019-06-14 22:16] chrislconover opened #574 "Changing Watched / Unwatched session status update filter until relaunch"
- Version of macOS: 10.15
- Version of the app 6.1.

Context:

Left index view provides a context menu for setting watched / unwatched status, which gets around known bugs in watched status. Further, there is a watched / unwatched filter category to show and hide these sessions.

What should happen:

With "watched" filter selected, using the context menu to mark a session as watched should remove

[2019-06-14 22:20] chrislconover opened #575 "Mark as watched / unwatched context menu item should reflect current watched / unwatched state"
- Version of macOS: 10.15
- Version of the app: 6.1.2

What happened:

When using the context menu for a session in the index view, the context menu shows options for both: "mark session as watched"  and "mark session as unwatched" for new, never visited states.

What should happen:

In general, since we are assuming a binary watched / unwatched state, this should be reflected in the *context* men

[2019-06-15 08:23] cameroncooke commented on #562
I second this feature request, had exactly the same issue ran out of disk space on my system drive even though I've got the app set to download to external hdd.

[2019-06-15 12:20] insidegui commented on #574
I couldn't reproduce this building from master. Can you check @allenhumphreys ?

[2019-06-15 12:21] insidegui commented on #575
We are happy with the way this menu behaves currently, with options that enable/disable themselves based on the currently selected items.

[2019-06-15 12:21] #575 closed

[2019-06-15 17:50] allenhumphreys commented on #574
It's very possible the user is experiencing the persistence of an item triggered by whether it is in the active player. Additionally, the "watched" status is based solely on the current progress. So if you're watching a video and it is not past the 97% limit we use and you mark it as "watched" the progress will be quickly updated to match the currently playing progress and it will then no longer b

[2019-06-15 20:50] insidegui commented on #574
I think the case where a video was manually marked as watched could have some special handling so it doesn't get overridden by the player, but that would require decoupling the progress from the watched/unwatched state so I don't think it's worth the hassle.

Assuming the case reported was caused by one of the examples given by @allenhumphreys, I'm going to close this issue.

[2019-06-15 20:50] #574 closed

[2019-06-15 20:52] allenhumphreys commented on #574
Agreed

[2019-06-16 19:49] F3000 opened #576 "iPad Version possible ?"
- Do you plan such an app ?
- Maybe over Catalyst ?

[2019-06-17 08:27] bcmn commented on #576
I think it's safe to say we recommend [Apple's official WWDC app](https://apps.apple.com/us/app/wwdc/id640199958?mt=8) for this. This project isn't anywhere near cross-platform, & I don't think it's a high priority for us.

[2019-06-17 08:27] #576 closed

[2019-06-21 14:19] pcolton commented on #566
The videos are showing up now. 🤷🏼‍♂️ Thanks.

[2019-06-21 14:32] #566 closed

[2019-06-24 08:03] arbab commented on #5
I still think if there can be a flexibility to choose between SD and HD videos at the time of downloading, it would be a great option. (Consider I have to download and watch it while inside MTA train, I wouldn't want to download and transfer a heavy file to my phone.)

[2019-07-13 17:48] bcmn commented on #567
Closed #570 as I'm not likely to revisit it immediately. Just to capture...

• Needs toggle in Preferences
• Must respect existing "watched" definition, used for filters, etc.
• Should probably sweep for watched videos on first enabling
• Avoid deleting newly-watched videos until player torn down -- but we don't have a stop state for videos, which makes this a little tricky
• Should probably delet

[2019-07-20 10:13] bartzy opened #578 "ConfCore.realm is huge"
- Version of macOS: 10.14.2
- Version of the app: 6.1.2

Hi,

My ConfCore.realm file is 4.8GB. ImageCache.realm file is also ~400MB.
How can I rebuild the database (or just bring the file size down) without losing my favorites, watched, etc?

Thanks!

[2019-07-22 02:00] Logistes opened #579 "Unwatched filter not working"
My MBP is running macOS 10.15 Beta (19A512f)
I'm running WWDC Version 6.1.2

I have been going through the videos I wanted to see, using the filters Downloaded and Unwatched to ensure that I was always getting new one. But for a while the Unwatched filter has not been working. It could be that it stopped when I installed 10.15. Now, after watching a video to the end, it still shows up even when I

[2019-07-24 07:28] bcmn commented on #578
This definitely sounds unusual -- mine is significantly smaller. It'd be good to establish whether there's some unusual behaviour going on -- would you mind sharing it with us somewhere?

[2019-07-24 07:30] bartzy commented on #578
@bcmn Can you perhaps let me know what to look for and I'll try to take a look?

[2019-07-24 07:44] bcmn commented on #578
The image cache is pretty believable to me. I'd mainly be looking at ConfCore -- & at this size I'm mainly worried there'll be some duplication going on, so even just working out which type of records (Realm Studio calls them "classes") are making up the bulk of the file would be useful as an initial hint. I'll compare the values to what I would expect in more typical versions of the file.

[2019-07-24 07:54] bartzy commented on #578
The TranscriptAnnotation table has 393492 entries. Maybe that's the culprit?

[2019-07-24 08:01] bcmn commented on #578
Yeah, but TranscriptAnnotation almost always has the most entries -- there's just far more lines of dialog that anything else. I'm not sure that number is actually particularly unexpected. Can you screenshot the overall values?

[2019-07-24 08:22] bartzy commented on #578
Sure:

https://user-images.githubusercontent.com/167339/61777150-21675380-ae05-11e9-9315-fbd64dada50a.png
https://user-images.githubusercontent.com/167339/61777173-2a582500-ae05-11e9-8d43-1c2d7f1829d2.png

[2019-07-24 13:09] insidegui commented on #578
BTW there's a way to "compact" a Realm file. I tried implementing an automated way of doing that but it was too flakey to ship. Maybe we could offer a manual way of doing it.

[2019-07-24 14:02] bartzy commented on #578
Awesome. I opened the `ConfCore.realm` file in Realm Studio, saved it, it created a 65MB file instead of the 4.8GB one. I replaced the old file with the new one and everything seems to work well.

Thanks!

[2019-07-24 14:02] #578 closed

[2019-07-24 14:23] insidegui opened #580 "Database compression"
As described in #578, the ConfCore.realm file can get quite big. Realm offers a way to re-save a database file in a way that compresses it. I remember trying to do this automatically a long time ago but having trouble getting it to work reliably.

Maybe something changed that would allow us to implement this now, or at least offer a manual way for the user to do so that doesn't require downloading

[2019-07-24 14:23] insidegui commented on #578
It probably did the compacting thing I mentioned. @bcmn let's brainstorm how we could integrate this into the app itself. Let's brainstorm in #580

[2019-08-04 09:22] bcmn commented on #580
There's some intriguing [Realm docs about larger-than-expected Realm files](https://realm.io/docs/swift/latest/#limitations-file-size), especially around accessing while using GCD. I've not had a chance to work out if any of these might be describing what's happening here.

I've seen some fairly "nuclear option" implementations of forcing a re-compression, where people will write another realm fil

[2019-08-05 15:07] insidegui commented on #580
I believe the `shouldCompactOnLaunch` thing is what I tried before and it caused an awful hang when launching the app. We could try it again to see if it's better now tho.

[2019-08-05 15:08] bcmn commented on #580
🤔 Interesting, okay.

[2019-09-20 09:24] yoasha opened #582 "WWDC app not synced across mac computers"
I have two macs with this great app, while sync is enabled, but some how the apps went out of sync. What is the recommended method to reset the sync data on iCloud and start syncing from scratch?

BTW, where is WWDC sync data is located on iCloud? How can I remove it from iCloud? The usual location of System Preferences > iCloud > Manage, is not showing WWDC.

[2019-09-20 14:57] insidegui commented on #582
@yoasha There is a previous bug you filed for the same issue: https://github.com/insidegui/WWDC/issues/509

[2019-09-20 15:16] yoasha commented on #582
Thank you for pointing out issue #509 and sorry for opening a new issue on the same topic.

I'm reading the #509 history and see something about that my WWDC iCloud zone was deleted. I'm an iOS developer and keep my app's data in iCloud container. If anything goes wrong, I'm guiding my customers to simply delete the app data at Settings > iCloud > Manage and my app will create it again. I never en

[2019-09-20 15:19] yoasha commented on #582
I just wish to workaround the issue and clear any leftovers of the WWDC iCloud sync data manually, if that is possible. Is it?

[2019-09-20 20:40] insidegui commented on #582
This is a bug in the WWDC app we haven't fixed yet, where it won't re-create the zone if it was deleted, as I mentioned here: https://github.com/insidegui/WWDC/issues/509#issuecomment-429351485

Closing as a duplicate.

[2019-09-20 20:40] #582 closed

[2019-09-20 20:41] insidegui commented on #509
Just reiterating that this is a bug where the app won't re-create the CloudKit zone if it gets deleted, we need to handle this case in the sync code.

[2019-09-21 07:25] yoasha commented on #509
I understand. Is there anyway I can manually fix or workaround this issue rather than wait for a fix via the code?

[2019-09-22 16:47] insidegui commented on #509
Make sure the app is not running, then run the following commands in Terminal:

[code]

That should make the app re-create the missing zone and re-upload everything once it's launched again.

[2019-09-23 08:19] yoasha commented on #509
Thank you. It worked perfectly!

[2019-09-23 14:22] luvvie opened #583 "Ability to filter for Non-Downloaded videos."
Hopefully this desired functionality can adequately be described as being the opposite of what the 'Downloaded' filter provides. Essentially displaying what videos have not yet been been download, allowing one to hone in on what videos may want to be added to the download queue.

This would be in addition to the existing downloaded indicator within each list cell, and would most likely (hopefully)

[2019-09-28 13:20] subdan commented on #551
@insidegui Hello, Rambo. I want to implement this feature. Can I do it as a part of Hacktoberfest 2019?

[2019-09-28 14:23] subdan commented on #573
@insidegui Hey, Rambo. I want to fix this feature. Can I do it as a part of Hacktoberfest 2019?

[2019-09-29 17:49] subdan opened #584 "If user sets directory with a lot of files as Download folder, app will freeze"
- Version of macOS
10.14.6 (18G103)
- Version of the app
6.1.3
- What were you trying to do when the issue happened
I changed Download folder to ~/Documents
- If it is a hang (beach ball), please provide a process sample
I used Instruments.app and discovered that
`DownloadManager.updateDownloadedFlagsByEnumeratingFilesAtPath`
freezes the app because I changed Downloads folder to ~/Documents where

[2019-09-30 14:03] allenhumphreys commented on #584
Thanks for investigating this @subdan , unfortunately [we've known about this issue for a while](https://github.com/insidegui/WWDC/issues/544) but just haven't had time to investigate a really good direction on a fix.

One potential short-term solution is to limit the recursion on the file discovery to a set depth. This would likely fix the issue for 95% of use cases as directories with massive nu

[2019-09-30 14:23] insidegui commented on #573
@subdan Feel free, PRs welcome 😃

[2019-09-30 14:24] insidegui commented on #551
@allenhumphreys @bcmn Do we want this feature? 🤔

[2020-02-05 00:38] AustinConlon opened #589 "Mac App Store?"
Would be neat if this was available on the Mac App Store.

[2020-02-05 20:31] insidegui commented on #589
It would, but this app would never be approved by App Store review.

[2020-02-05 20:31] #589 closed

[2020-05-09 11:37] negna1 commented on #572
If this issue is still open i would like to work on that.

[2020-05-09 12:23] insidegui commented on #572
@negna1 Absolutely! PR welcome :)

[2020-05-10 07:52] MainasuK opened #594 "Add session resource index to make app could play the disappeared videos"
It looks like Apple remove some WWDC videos from the website. For example, there are only dozens of videos on the [WWDC 2014](https://developer.apple.com/videos/play/wwdc2014) list.

And here is a [gist](https://gist.github.com/jianpx/eea1e938d5868e980b11) for the resources for WWDC 14. I can play the WWDC 14 session 714 directly from the video [URL](http://devstreaming.apple.com/videos/wwdc/2014/

[2020-05-10 14:03] insidegui commented on #594
Sorry, we have no intention in displaying content that's been removed from Apple's API. Maintaining two separate data sources would be a huge source of complexity and is really bug-prone. If you need to consume that old content, I suggest browsing it directly from the sources you mentioned.

[2020-05-10 14:03] #594 closed

[2020-05-14 17:09] mackuba commented on #580
@insidegui I've just been comparing some Time Machine snapshots to see why it sometimes needs to back up more than I would expect, and I found an interesting file in the diff - a `~/Library/Application Support/io.wwdc.app/ConfCore.realm` weighing 38.65 GB… this is not normal, is it? 😬

[2020-05-14 17:11] insidegui commented on #580
We've had some builds in the past that entered sync loops, causing the database file to grow in that way. If you've been using the app for a long time, it's possible you were affected. Unfortunately, there's no easy solution I can recommend besides just nuking your database file and starting over :/

[2020-05-14 17:13] mackuba commented on #580
What do I lose if I do that?

[2020-05-14 17:36] insidegui commented on #580
Favorites, bookmarks and video progress (watched/unwatched). The rest is downloaded from the service.

[2020-05-14 17:38] mackuba commented on #580
So favorites and watched status aren't synced between computers?

[2020-05-14 17:50] insidegui commented on #580
They are. If you’re using iCloud sync, they should be restored. Keep a copy of the original db file just in case.

[2020-05-14 18:03] mackuba commented on #580
Ok, thanks 👍

[2020-05-19 04:25] el-greco-de-github commented on #527
@insidegui I followed the trail here for adhering to system theming, apologies for commenting on an old issue with an unrelated topic, but I felt it appropriate to ask before opening a new issue.

Out of pure curiosity, why the persistent dark mode over adhering to the system?

[2020-05-19 11:36] insidegui commented on #527
It’s a media consumption app, it was a design choice.

[2020-05-19 15:43] el-greco-de-github commented on #527
I am bored at the moment, can I play around with it and see how it looks? Might be able to get it looking nice in both themes. I have a thing for the light/dark theming (don't lean either way, but am a believer that most apps should adhere to the system...it looks weird when a light app is alongside a bunch of dark ones, or vise versa).

[2020-05-19 15:58] insidegui commented on #527
Thank you for the experimentation, but we don't have any intention of supporting both themes.

[2020-05-24 14:18] Huang-Libo commented on #267
Problem still remain in version 6.2

[2020-05-24 15:28] insidegui commented on #569
Assuming this is the same as #495

[2020-05-24 15:28] #569 closed

[2020-05-27 20:06] #557 closed

[2020-05-27 20:25] #547 closed

[2020-05-27 20:27] insidegui commented on #573
I haven't been able to reproduce this on the latest version in macOS 10.15.4. Are any of you able to reproduce this @bcmn @allenhumphreys ?

[2020-05-27 22:24] #584 closed

[2020-05-27 22:28] insidegui commented on #580
Handled in #596

Let us know how it goes for your database @mackuba. I expect it may hang the first time you launch the app with this enabled, but afterwards it should be fine.

[2020-05-27 22:28] #580 closed

[2020-05-29 23:12] insidegui commented on #527
I couldn't reproduce this anymore as of #600. Anyone?

[2020-06-03 14:54] #572 closed

[2020-06-03 18:42] bcmn commented on #375
I think we can probably close this as “Won’t do”?

[2020-06-03 18:48] insidegui commented on #375
Yeap

[2020-06-03 18:48] #375 closed

[2020-06-03 19:45] #511 closed

[2020-06-03 21:12] insidegui opened #613 "Crash when permissions are weird in the application support directory"
For some reason, a user had their io.wwdc.app folder with weird permissions. We should address these types of issues with some sort of message instead of a fatal error, even though the app can't really continue.

Two things that came to mind:
1 - Offer the option to delete/move the existing folder if this issue occurs
2 - Offer the option to save the database somewhere else

[code]

[2020-06-12 18:15] tkrajacic commented on #613
I had the app also crash shortly after launch and removing the mentioned folder in ApplicationSupport fixed it. My error though was
[code]

[2020-06-12 18:33] insidegui commented on #613
@tkrajacic This crash has nothing to do with the issue mentioned above. I will move it into another issue.

[2020-06-12 18:36] insidegui opened #615 "Crash: "Cannot register notification blocks from within write transactions""
I've seen this crash happen every now and then, it seems to be timing-related and I *think* it's happening somewhere in the sync engine. I tried moving all sync engine Realm operations to a background Realm, but then we lost the ability to prevent Realm update notifications from being sent when saving sync-related data, which caused sync loops.

Backtrace provided by @tkrajacic:

[code]

[2020-06-16 06:09] mirkoevo opened #616 "Crash at startup"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app? YES
- Are you running a release, stable version of macOS? YES
- Have you looked at previous issues to see if you're having an issue that's already being worked on? YES
- If your issue is about compilation or project setup, have you followed the instruction

[2020-06-16 11:11] insidegui commented on #616
Already covered in #613

[2020-06-16 11:11] #616 closed

[2020-06-21 18:49] mackuba commented on #615
I'm getting this about every half an hour today…

[2020-06-21 18:50] mackuba commented on #615
(When I'm watching a video - I don't think this happens when I'm not watching)

[2020-06-22 12:12] insidegui commented on #615
@mackuba Do you have iCloud sync enabled?

[2020-06-22 12:28] mackuba commented on #615
Yup.

[2020-06-22 13:06] insidegui commented on #615
@mackuba Could you try disabling it and check if it persists? I have a hunch that it's related.

[2020-06-22 13:31] mackuba commented on #615
I'll give it a try.

[2020-06-22 14:22] insidegui commented on #615
By the way, it is related to registering the session progress, so it shouldn't happen for live streams, since those don't get their progress saved.

[2020-06-23 20:17] mackuba commented on #615
Haven't turned off iCloud yet, but one thing I've noticed is that most of the time it seems to be happening around the time when I'm pausing/resuming, usually just after resuming I think. Or sometimes within a second after the app is launched.

[2020-06-23 20:42] insidegui commented on #615
I've been running with iCloud sync disabled and haven't experienced it so far. I know it is related to playback, likely some sort of race condition with registering notifications for progress.

[2020-06-23 21:40] insidegui opened #618 "Clip sharing doesn't work in the schedule tab"
I have been able to verify that this issue is being caused by `viewModel` being `nil` in line 133 of the `ShelfViewController`. I haven't been able to find the root cause yet.

[2020-06-23 21:52] BrianBatchelder commented on #618
I was looking at the same thing. It works in the "Videos" tab, but not the "Schedule" tab.

[2020-06-23 22:57] insidegui commented on #618
Thanks for pointing that out, I completely forgot about the Videos tab for a moment here 😅

[2020-06-24 10:47] #618 closed

[2020-06-24 13:58] hvsw commented on #615
I'm having the same issue, disabling iCloud syncing to test...

[2020-06-24 17:20] hvsw opened #620 "Crash: This method may only be called on RLMArray instances retrieved from an RLMRealm"
- Version of mac: OS10.15.5 (19F101)
- Version of the app: 7.0.2
- What were you trying to do when the issue happened: Just watching a session

Since we have https://github.com/insidegui/WWDC/issues/615 I think it's worth mentioning that my **iCloud syncing is disabled**

[code]

[2020-06-24 20:03] allenhumphreys commented on #620
I also got this one, @insidegui any chance you can symbolicate those memory addresses?

[2020-06-24 20:26] insidegui commented on #620
@allenhumphreys I would need the full crash report, please send me one if you have it

[2020-06-24 22:16] BrianBatchelder opened #622 "Clipped video is not sized correctly"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app? ***YES***
- Are you running a release, stable version of macOS? ***YES***
- Have you looked at previous issues to see if you're having an issue that's already being worked on? ***YES***
- Have you read the Code of Conduct, and will you uphold it's values?

[2020-06-25 01:50] insidegui commented on #622
Already dealt with in #621

[2020-06-25 01:50] #622 closed

[2020-06-25 15:32] tarasis opened #623 "Bottom of screen not visible on 1366 x 768 displays"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app? -- **Yes**
- Are you running a release, stable version of macOS? -- **Yes**
- Have you looked at previous issues to see if you're having an issue that's already being worked on? Yes
- If your issue is about compilation or project setup, have you followed t

[2020-06-25 16:00] allenhumphreys commented on #623
The good news here is we've moved to a scroll view for the session summary. This keeps the maximum window height to 733 pixels. This hopefully will just barely squeeze into your display. Any chance you could confirm via building master directly?

[2020-06-25 16:03] tarasis commented on #623
I can build it, just might take a while on this thing. will report back later and thanks for the swift reply.

[2020-06-25 16:47] insidegui commented on #623
I had the same issue, which prompted #617, so this has already been fixed 🥳

[2020-06-25 16:47] #623 closed

[2020-06-25 17:40] BrianBatchelder commented on #622
Thanks!

[2020-06-26 08:31] demianturner commented on #615
Same here, crashes about once every 10 mins with 'Cannot register notification ...' error, going to try 'disable iCloud sync'

[2020-06-26 11:09] #620 closed

[2020-06-27 11:29] davuthdv opened #625 "Ability to see video length on thumbnail"
Please add video length on the video thumbnail just like the official Developer app from Apple.

Right now, I can see the length if I click to go to detail screen, but I would have to do it one by one. It would be great to see the length of each video in a glance so that if i have like 15 minutes, I know which one I can watch.

[2020-06-27 14:54] davuthdv commented on #615
I'm not sure if it's the same thing, but my app does crash a lot and it follows the same pattern as stated above.

[2020-06-30 09:56] muescha opened #626 "Playback Speed: add shortcut keys for changing playback speed"
### Where

- while playing a video

### What i do

- i often change the speed to skip not important parts
- i often then like to fast change the speed to normal speed to understand details

### What i expect

- i like to adjust the speed with keyboard shortcuts

### what i see

- i can right click but i need to choose in a select list: then still it takes time to select the speed
- i can click, bu

[2020-06-30 12:34] insidegui commented on #626
Hi, you can use the `+` and `-` keys, which are already implemented. There is also a button in the Touch Bar.

[2020-06-30 12:34] #626 closed

[2020-06-30 18:27] muescha commented on #626
a) my macbook not have a touch bar
b) the buttons are not documented

i suggest:
1) add shortcuts to repo readme
2) add info about shortcuts as quicktip while hover over the speed button

[2020-07-01 18:49] mackuba commented on #615
It doesn't seem to be happening with the iCloud sync off. (Although I would prefer to have iCloud sync…)

[2020-07-02 16:40] insidegui commented on #626
Feel free to open a pull request with those additions :)

[2020-07-04 02:27] masters3d opened #629 "WWDC 2014 Swift Sessions missing"
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS 10.15.5
- Version of the app 7.0.2
- What were you trying to do when the issue happened n/a
- Any particular hardware/software configuration you have that might be affecting the app n/a
- If it is a crash, please provide the crash log
- If it is a hang (beach ball),

[2020-07-04 13:49] insidegui commented on #629
I don't see those sessions in the contents feed, they have probably been pulled by Apple.

[2020-07-05 22:51] mediter opened #631 "Feature Request: Export Transcript"
For translation and other purposes

[2020-07-06 17:05] nspaul commented on #615
I'll join this discussion and say that I am seeing this crash when iCloud sync is on. I turned it off about a week ago, and it stopped crashing. I turned syncing back on today to attempt to sync everything to my other Mac, and just by turning on iCloud sync, the app crashed.

Previously, I noticed it would happen when hitting play/pause, as others suggested here, but it also would crash when I cha

[2020-07-06 19:01] insidegui commented on #615
This is definitely a problem with the sync engine. @allenhumphreys and I are working on a solution in #630. I'll limit the conversation here since we've already identified the source of the problem. Thanks everyone for the contributions and patience as we resolve this.

[2020-07-09 16:16] insidegui commented on #615
Update: the [issue](https://github.com/realm/realm-cocoa/issues/6629) has been [fixed](https://github.com/realm/realm-core/pull/3811) in Realm. We should have an update with the fixes out soon.

[2020-07-11 04:10] masters3d commented on #629
Trying to get some traction on this issue on the swift forum as the videos missing are swift related. https://forums.swift.org/t/wwdc-videos-archive/38202/4

[2020-07-13 08:52] bcmn commented on #629
I think its safe to close this issue? We're clear we'll render anything that appears in the feed.

[2020-07-13 08:52] #629 closed

[2020-07-17 03:10] masters3d commented on #629
Here is the list:

https://gist.github.com/jianpx/eea1e938d5868e980b11

[2020-07-20 23:08] insidegui commented on #579
Closing this since we haven't been able to reproduce it and the version of the app reported is older than the most current version. Please let us know if you can give reproduction steps in the latest version.

[2020-07-20 23:08] #579 closed

[2020-07-20 23:08] insidegui commented on #615
Fixed in 7.1

[2020-07-20 23:08] #615 closed

[2020-07-20 23:08] insidegui commented on #613
Fixed in 7.1

[2020-07-20 23:08] #613 closed

[2020-07-20 23:10] insidegui commented on #573
Closing since we haven't been able to reproduce the issue in recent versions of the app. Please let us know if you have reproducible steps in version 7.1.

[2020-07-20 23:10] #573 closed

[2020-07-20 23:10] insidegui commented on #509
This has been addressed in version 7.1

[2020-07-20 23:10] #509 closed

[2020-07-21 01:08] insidegui commented on #580
Just FYI: this has been temporarily disabled in version 7.1 as we wait for Realm to fix https://github.com/realm/realm-cocoa/issues/6652

[2020-08-03 06:56] dennisjbr opened #636 "Blank screens for Featured, Schedule, Video sections"
Note: Community tab shows content just fine.

### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app?
YES

- Are you running a release, stable version of macOS?
YES - Catalina

- Have you looked at previous issues to see if you're having an issue that's already being worked on?
YES
- If your issue is about comp

[2020-08-03 13:44] insidegui commented on #636
Hi @dennisjbr! This looks like it could be due to a poorly-handled network failure. Is the app completely stuck in this state or does it populate itself with data if you quit and launch it again?

If it's still the case after a relaunch, it would really help out if you could capture some logs. Quit the app, then run this in Terminal:

```log stream --color always --level debug --style compact --pr

[2020-08-05 05:54] Jimmy-Lee opened #637 "Crash: app opens, but crash after 2 second"
App starts up fine, but crash after 2 second.

I have tried remove the old app and download a new one from https://wwdc.io/ , still crashing.

Here is the crash log:

Process:               WWDC [6364]
Path:                  /Applications/WWDC.app/Contents/MacOS/WWDC
Identifier:            io.wwdc.app
Version:               7.1 (1008)
Code Type:             X86-64 (Native)
Parent Process:        ?

[2020-08-05 13:40] insidegui commented on #637
@Jimmy-Lee (or @klaes-ashford): would you be able to send us your database from `~/Library/Application Support/io.wwdc.app` so that we can forward this issue to Realm?

These are the files we need:
<img width="316" alt="image" src="https://user-images.githubusercontent.com/67184/89419690-0c0b5180-d708-11ea-84a5-f5993881f1ad.png">

You can zip them up and send us a Dropbox/Drive link.

That would b

[2020-08-05 14:10] klaes-ashford commented on #637
I am unable to locate ~/Library/Application Support/io.wwdc.app. Probably because mine is a fresh install. Although the crash is still happening. Attaching my crash log.
[crash.log](https://github.com/insidegui/WWDC/files/5028922/crash.log)

[2020-08-05 15:43] insidegui commented on #637
@klaes-ashford Even if you have previously deleted the app, it's possible that an old database file still exists on your system.

Please run the follow command in Terminal (Applications > Utilities > Terminal). If the command doesn't result in an error, then it means there was a database in that directory. What happens if you re-run the app after running the command?

```mv ~/Library/Application\

[2020-08-05 15:54] klaes-ashford commented on #637
@insidegui yes the database exists and I was trying to locate the files in /Library/Application\ Support/. Once I move the files the app starts albeit with a loading spinner. When I kill and open the app again I see blank screens except for the community tab. I can not upload the ConfCore.realm file because its around 7 Gb.
<img width="377" alt="Screenshot 2020-08-05 at 9 21 06 PM" src="https://us

[2020-08-05 16:49] insidegui commented on #637
Thank you for sending that in!

Regarding your second issue, we're tracking that in #636. It would be great if you could follow the steps described in [this comment](https://github.com/insidegui/WWDC/issues/636#issuecomment-668030957) so we can figure out what's going on.

[2020-08-05 17:28] klaes-ashford commented on #636
@insidegui please find the logs on a fresh start :
[WWDC.log](https://github.com/insidegui/WWDC/files/5030132/WWDC.log)
log on subsequent launch:
[WWDC2.log](https://github.com/insidegui/WWDC/files/5030136/WWDC2.log)

[2020-08-06 02:59] Jimmy-Lee commented on #637
Hi @insidegui, upload is done.

https://drive.google.com/drive/folders/1WDgAnfRJRms-IJXS8MS62EVQefAGE8Bl?usp=sharing

[2020-08-15 09:45] owenzhao opened #638 "The Max Speed of Lan Went Down After WWDC Played and Paused an Online Video"
- Version of macOS
10.15.6 (19G2021)

- Version of the app
7.1

- What were you trying to do when the issue happened
I have a Mac mini connected a router with ethernet (1000Mbps). An iMac 5K connected the router with WiFi(5G Wifi 5). Normally, the speed of downloading a file from Mac mini to iMac was around 90MB/s. However, if I played an online video and paused it by playing another local downloa

[2020-08-17 18:18] insidegui commented on #638
The app uses `AVFoundation`s own streaming, which we don't have much control over. It is normal for streaming on a device to affect the overall internet speed to some extent. Not sure what to do with this issue 😅 Any ideas @allenhumphreys ?

[2020-08-17 23:28] owenzhao commented on #638
I can accept the QoS when the online video is playing or caching. However, in my example, the player played the local video and paused, also the caching was stopped, the QoS was still there. So I believed that was a bug.

Whenever the online video was stopped playing or caching, the QoS should stop as well. For me, there are below conditions:

1. the online video playing is finished.
2. the online

[2020-08-18 13:21] insidegui commented on #638
@owenzhao Would you be able to collect a sysdiagnose of your Mac right after reproducing the issue? I believe our best bet here is to submit it as a bug to Apple, since we're using their video framework.

[2020-08-18 14:11] allenhumphreys commented on #638
@owenzhao when you’re streaming a video via WWDC, does the bandwidth usage show up in iStat?

[2020-08-19 22:17] mackuba commented on #637
I'm having the same issue…

[2020-08-21 08:37] owenzhao commented on #638
I downloaded the code from main branch and build the app with Xcode. I found something was incorrect from my previous posts.

First, there was no need to play an online video. Simply playing a local downloaded video by WWDC app would trigger this issue.

Second, I captured a url that WWDC played, which was "https://devstreaming-cdn.apple.com/videos/wwdc/2020/10190/3/C97B27EE-98C2-458D-B775-28D3951

[2020-08-26 05:44] Hokila commented on #637
@mackuba I delete the wwdc DB in ~/Library/Application Support, then reopen app. it's work
try this one

rm -rf ~/Library/Application\ Support/io.wwdc.app

[2020-08-29 12:47] mackuba commented on #637
I deleted all data, it worked for a day or two, and now the same thing is happening again :|

[2020-08-29 12:49] mackuba commented on #637
[code]

[2020-09-12 19:04] allenhumphreys opened #639 "Add logic to delete the old image cache Realm"
We switched away from Realm for the image caching for good reason, but we forgot to delete the Realm files. This can take up a few GB of space!

[2020-09-13 12:26] insidegui commented on #639
https://github.com/insidegui/WWDC/blob/2cc0d88c24440b5f817fe459cc3296936e1bdee9/WWDC/ImageDownloadCenter.swift#L79

Maybe you've downgraded during testing, so the `deletedLegacyImageCache` flag was already set? Maybe we could just check for file existence instead of having this flag 🤔

[2020-09-13 12:29] allenhumphreys commented on #639
Oh yeah I bet that's absolutely what happened! During release testing I did several down/upgrade combinations.

[2020-09-13 23:26] #639 closed

[2020-09-14 12:17] #637 closed

[2020-09-14 12:38] #535 closed

[2020-09-14 12:39] insidegui commented on #636
We believe this may have been temporary a server-side issue given the `500` errors seen in the logs. Please let us know if it's still happening or in case it happens again in the future.

[2020-09-14 12:39] #636 closed

[2020-09-14 12:41] insidegui commented on #637
Fixed in [7.1.1](https://github.com/insidegui/WWDC/releases/tag/7.1.1)

[2020-09-14 12:44] insidegui commented on #562
I think the best approach here would be to implement #525 and maybe warn when the disk space seems too low for the amount of content being downloaded, since we don't plan on moving away from the `URLSession` API we're currently using.

[2020-09-14 12:44] #562 closed

[2020-09-14 12:45] #399 closed

[2020-09-14 19:26] aritropaul commented on #625
I'd like to work on this!

[2020-09-14 23:39] allenhumphreys opened #641 "Application performance degrades over time if "Referesh Schedule and Videos Periodically" is enabled"
There seems to be a performance issue related to Realm, the more times the refresh logic is run, the slow Realm operations become.

If you encounter hangs or high CPU usage after the app is open for one extended period of time, please ensure the setting is off

[2020-09-15 00:40] mackuba commented on #637
It works now, thanks! 👍

[2020-09-15 09:25] aritropaul commented on #625
So I started out with cloning and running bootstrap.sh, and ran into an error in building RxRealm.

[code]

[2020-09-15 11:12] allenhumphreys commented on #625
This looks like you might be using Xcode 12 which we haven't confirmed compatibility with yet.

[2020-09-15 11:14] aritropaul commented on #625
Yeah, also had a couple of errors with dependencies not being built with Swift 5.3. Most of them resolved on being built from source, but this doesn't go away.

[2020-09-15 11:17] allenhumphreys commented on #625
That's just a fact of how Carthage prebuilt binaries work as well as Swift's approach to module stability. But it sounds like you're up and running?

[2020-09-16 02:50] difujia opened #642 "Feature Request: Watch List (Queue) or Watch Later"
It would be great to be able to create **watch lists** just like youtube does. So that the user can manually categorize videos for different purposes (watch later, ARKit series across different years, etc.)

I could take this task if no one is already working on similar features.

[2020-09-26 09:21] subdan opened #643 "Improve bootstrap.sh by checking for Carthage installation"
Hello, @insidegui.

I've run `./bootstrap.sh` and get the following error:
`line 55: carthage: command not found`

I want to add checking for Carthage installation and install it via Homebrew if Carthage not found.
Can I do this as part of Hacktoberfest 2020?

[2020-09-26 10:17] subdan commented on #631
I will make it as a part of Hacktoberfest 2020.

[2020-09-28 17:22] insidegui commented on #643
Hi @subdan !

Feel free to improve the script and send a PR.

Thank you

[2020-10-02 12:42] #643 closed

[2020-10-07 12:31] #631 closed

[2020-11-06 08:24] owenzhao opened #646 "io.realm.asyncOpenDispatchQueue Crashed on macOS 10.15.7 (19H15)"
App crashed on opening.

- Version of macOS
10.15.7 (19H15)
- Version of the app
7.1.1 (1010
- What were you trying to do when the issue happened
open the app
- Any particular hardware/software configuration you have that might be affecting the app
no
- If it is a crash, please provide the crash log

[code]

[2020-12-02 17:17] insidegui opened #647 "UI issues with macOS Big Sur"
- [x] Sidebar rows have rounded corners which look out of place with our current layout (should we adopt that or keep using the old style?)
- [x] Sidebar section headers draw with the wrong height when filtering
- [x] Titlebar is split, which makes the rendering weird

<img width="1264" alt="image" src="https://user-images.githubusercontent.com/67184/100907352-fbe26380-34a8-11eb-9006-9ebb7dda7a7f.

[2021-01-14 07:54] owenzhao commented on #646
This issue could be fixed by manually removing "ConfCore.realm" file in "~/Library/Application Support/io.wwdc.app/". Or the app would crash every time it started.

By the way, normally, I thought this file should be in "WWDC" folder, but the developer made a bundle for that with a different name. I had to take sometime in the source code and found it.

This issue probably related to the buggy Rea

[2021-03-30 15:34] insidegui commented on #647
Improved on bbb3c25, still not great in full screen.

[2021-04-05 14:23] #647 closed

[2021-04-12 10:35] JetForMe commented on #498
I also see audio get way out of sync with the video if I pause or rewind at 1.5x

[2021-04-12 14:18] insidegui commented on #498
We have basically settled on not supporting streaming at >1x but unfortunately never reflected this in the app itself. Again, if someone knows some `AVFoundation` magic that can fix this, let us know.

[2021-04-14 19:38] insidegui commented on #498
I'm locking this thread since we don't plan on addressing this. Again, if someone has a solution please feel free to open a pull request.

[2021-05-01 19:48] teogeos opened #651 "Can't see transcripts"
- Version of macOS: 11.2.3
- Version of the app: 7.2

Hello. I can't see Transcripts for any video. I don't know if I'm missing something here, but I can't see any button or anything to see transcripts. Here is a screenshot of the app on my mac:
<img width="1552" alt="Screenshot 2021-05-01 at 21 42 30" src="https://user-images.githubusercontent.com/9444441/116793352-a09fb600-aac6-11eb-8017-3927819

[2021-05-28 19:39] insidegui commented on #651
The spinner in the preferences window suggests that transcripts haven't been indexed yet. This could be due to a networking problem that's preventing the app from downloading scripts. After scripts are downloaded, you'll see a new "Transcripts" tab under the video player.

I'll close this issue for now since this seems to be due to a temporary networking issue that prevented the transcripts from d

[2021-05-28 19:39] #651 closed

[2021-05-28 19:41] insidegui commented on #646
Closing this since the latest release has been upgraded to Realm 10.x, hopefully fixing this (and other issues).

[2021-05-28 19:41] #646 closed

[2021-05-28 19:41] insidegui commented on #641
FYI this may have been solved by us upgrading to Realm 10.x. I'll leave this issue here in the meantime just in case someone runs against it with the latest version.

[2021-05-28 19:56] insidegui commented on #625
We already show the video duration in the cell:

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/67184/120035809-8c6fab80-bfd5-11eb-87fa-5c6091f85789.png">

I think maybe it's not shown in the schedule tab, but it's definitely there in the videos tab.

[2021-06-08 13:54] young40 opened #657 "Subtitle button is missing after download video"
- Version of macOS: 10.15.7
- Version of the app: 7.3.3
- What were you trying to do when the issue happened
After download video
![Screen Shot 2021-06-08 at 8 51 29 PM](https://user-images.githubusercontent.com/1680953/121197654-0fc9b080-c8a4-11eb-96e9-bdb09c3add19.png)

[2021-06-08 17:05] insidegui commented on #657
This has been a long-standing issue (as seen in #286). Basically the downloaded videos don't include the subtitles (at least not in a way that our player, which is just a wrapper around AVPlayer, understands). So if you rely on subtitles, you'll have to use streaming for now. I'll leave this issue open so that others can reference it.

[2021-06-16 09:16] martinwinter opened #659 "Feature Request: Option for sorting by session number"
Currently, videos are sorted by title. Optionally sorting by session number would make it easier to browse and watch videos in chronological/topical order.

[2021-07-03 18:06] japanese-goblinn opened #660 "Eggy looking sound control element"
- Version of macOS: 11.4
- Version of the app: 7.3.3
- What were you trying to do when the issue happened: Just open the first video.

Tried to fix it myself but failed to build the app without paid developer account 😢

**Actual result**
<img width="137" alt="image" src="https://user-images.githubusercontent.com/33631005/124363081-cf124c80-dc41-11eb-94ba-1382882b920e.png">

**Expected result**
<im

[2021-08-23 20:26] das-anubhav commented on #660
Hi!
I would like to solve the issue.

[2021-08-24 07:14] bcmn commented on #660
Hey @das-anubhav 👋 You're more than welcome -- we'll get any PRs reviewed as & when.

I've not looked into this much, but it would seem [PUIPlayerView](https://github.com/insidegui/WWDC/blob/7b40c04cdfdce600452e6a22aca347979066812f/PlayerUI/Views/PUIPlayerView.swift#L529-L552) would be the place to start.

[2021-08-24 20:04] das-anubhav commented on #660
Hi @bcmn
The issue is solved now.

[2021-08-31 15:20] bcmn commented on #660
Fixed above.

[2021-08-31 15:20] #660 closed

[2022-01-26 03:15] Xcode123456 opened #663 "change language fail"

[2022-04-16 19:20] sebastienboisvert commented on #578
Still happens in the latest release - left the app running in the background over several days, eventually ate up all my free harddrive space with the `ConfCore.realm` file taking up over 95GB of space:
<img width="716" alt="WWDC app eating up all free space" src="https://user-images.githubusercontent.com/6633750/163688567-332504f4-9dc3-44ba-847e-3e357b846678.png">

[2022-06-08 14:08] zonebin opened #664 "No contents opened in MacBook Pro 2015 intel CPU"
<img width="1552" alt="截屏2022-06-08 22 07 34" src="https://user-images.githubusercontent.com/14846054/172637710-b27f085d-994f-4f90-81f2-ee21187ac002.png">

- Version of macOS: macOS 12.4 (21F79)

- Version of the app: 7.3.3

[2022-06-08 14:11] zonebin commented on #664
- Version of macOS: macOS 12.4 (21F79)

- Version of the app: 7.3.3

[2022-06-08 14:35] zonebin commented on #664
First install the App 7.3.3, there is no content.
Then Install 7.2 version, it is all right.
And upgrade to v7.3.3, it is still Ok.

[2022-06-08 16:42] insidegui commented on #664
I think it's likely that this was a networking failure. The initial content fetch can be heavy and the servers are being hit a lot during this week. I'll leave the issue opened for now in case others have more to add.

[2022-06-08 23:22] insidegui commented on #664
@ohmantics @zonebin A server issue was identified and fixed that was likely the underlying cause for this issue. Could you check if it's addressed for you?

[2022-06-09 13:33] zonebin commented on #664
Delete WWDC app, and reinstall v7.3.3, it is OK.
But have installed other version, not sure is OK for the first installation of v7.3.3.

[2022-06-09 14:26] #664 closed

[2022-06-20 15:46] maclacerda commented on #531
@insidegui I can contribute to this improvement, let me know what do you think?

[2022-06-20 18:23] AustinRandall206 commented on #531
I’d love to help in anyway possible as well, not as experienced as some but if someone has a certain aspect of code they want me to write feel free to reach out I’ll do whatever I can.

[2022-09-03 05:26] sugarmo commented on #657
Is it possible to convert transcript to subtitles? Putting text in front of the video player should not be that hard (just my opinion).

[2022-11-03 03:36] outcoldman opened #665 "Keeps crashing on macOS Ventura"
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS: Ventura
- Version of the app: 7.3.3
- What were you trying to do when the issue happened: try to search
- Any particular hardware/software configuration you have that might be affecting the app: M1 Max MBP Pro

[code]

[2022-11-03 18:16] insidegui commented on #665
Thanks for reporting @outcoldman.

Could you [download the pre-release version 7.4](https://github.com/insidegui/WWDC/releases/tag/7.4-b3) and check if it still happens in that version?

Thanks!

[2022-11-07 11:46] outcoldman commented on #665
Yeah, still the same

[code]