[2015-04-21 17:46] jbrennan opened #1 "App opens in a weird state"
Yosemite 10.10.2

![screen shot 2015-04-21 at 10 46 08 am](https://cloud.githubusercontent.com/assets/131923/7258815/b0c5822a-e813-11e4-97dd-5a5ffeae3a70.png)

[2015-04-21 17:48] insidegui commented on #1
Interesting... must have something to do with autolayout. What's your screen resolution?

[2015-04-21 17:55] jbrennan commented on #1
1440x900 (retina display). I was able to fix it by going fullscreen and then adjusting the splitview (the splitview seemed stuck when it first opened). After returning from fullscreen, I was able to adjust it willy nilly.

[2015-04-21 17:56] jbrennan commented on #1
Oh, and this was the build I downloaded, I didn’t build it myself.

[2015-04-21 18:27] insidegui commented on #1
Can you test [this new build](http://cl.ly/2w0s2B080t0j/br.com.guilhermerambo.WWDC.savedState.zip) to see if it fixes the problem?

Before launching It make sure to delete the folder **~/Library/Saved Application State/br.com.guilhermerambo.WWDC.savedState**

[2015-04-21 18:36] jbrennan commented on #1
Hmm you seem to have linked to your own version of the application state, not a new build?

[2015-04-21 18:39] insidegui commented on #1
Uoops, wrong key combination :P

There you go: http://cl.ly/3y3t013D3M20/WWDC.app.zip

[2015-04-21 18:46] jbrennan commented on #1
Much better, thanks!:

![screen shot 2015-04-21 at 11 46 06 am](https://cloud.githubusercontent.com/assets/131923/7260022/03b905ee-e81c-11e4-8515-451257606608.png)

[2015-04-21 18:46] #1 closed

[2015-04-22 11:12] k06a opened #2 "Feature Request: integrate asciiwwdc.com"
Add ability to search through http://asciiwwdc.com

[2015-04-22 13:35] insidegui commented on #2
Good idea, I'll look into that.

[2015-04-22 14:37] Dwiyer opened #3 "There is no voice on the videos"
When played the video I selected, I can't hear the voice of the video, What's wrong with it?

[2015-04-22 14:47] insidegui commented on #3
I don't know. Are there any log messages?

[2015-04-22 22:12] b3ll opened #5 "Download Videos"
It'd be awesome to be able to download (or batch download videos!) :D

[2015-04-22 22:27] insidegui commented on #5
Batch download is outside the scope of the app, but download like on the iOS app I plan on adding :)

[2015-04-23 04:11] dyzdyz010 opened #6 "App crashes when search before sessions list shows"
The app(v1.3) crashes when I type in search field before something camp up on the left side.

OS: Yosemite 10.10.3

[2015-04-23 04:37] #6 closed

[2015-04-23 04:37] #5 closed

[2015-04-23 04:44] b3ll commented on #5
sweet! 🎉

[2015-04-23 04:58] insidegui commented on #3
I am closing this issue for now, the problem probably happened due to a network hiccup.

[2015-04-23 04:58] #3 closed

[2015-04-23 16:18] CameronBanga commented on #2
:+1:

[2015-04-23 21:34] #2 closed

[2015-04-25 18:29] zortje opened #10 "App forgets its position and size when quit"
Would be nice if I didn't had to resize and reposition the app every time I opened it.

[2015-04-25 18:30] insidegui commented on #10
Yeap.

[2015-04-25 18:33] zortje opened #11 "Mark video as watched/unwatched"
It would be cool if I could mark a video as watched or unwatched (I have already seen some of the videos and would like to mark them as viewed), maybe as an context menu when right clicking on an row in the table view?

[2015-04-25 18:35] zortje opened #12 "Download overview"
It would be nice with a way to view active downloads and a way to cancel downloads.

[2015-04-25 20:34] insidegui opened #13 "New "Live events" tab. Opinions requested!"
I made a new feature where the app has a tab at the top to select between "WWDC" and "Live Events". On the "Live Events" tab It is possible to watch previous special events (not necessarily WWDC-related). I am also planning on making the live stream available the day of the keynote.

If you want to test this new functionality, checkout the [live-events](https://github.com/insidegui/WWDC/tree/live-

[2015-04-25 23:53] zortje commented on #13
Maybe call it "Keynotes" or "Special Events"; "Live Events" could imply that it is just for actual LIVE events.

But considering that Apple has podcasts for the special events and that people watch them live (on Apple TV as an example), maybe it is better to leave it out and focus on WWDC related stuff.
Otherwise you might need to change the app name ;)

[2015-04-26 02:42] Abhishaker17 opened #14 "Crash!"
Happens when you open the app. Attaching crash log:

Process:               WWDC [732]
Path:                  /Users/USER/Downloads/WWDC.app/Contents/MacOS/WWDC
Identifier:            br.com.guilhermerambo.WWDC
Version:               1.5.1 (16)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           WWDC [732]
User ID:               501

Date/Time:

[2015-04-26 02:45] insidegui commented on #14
First launch?

[2015-04-26 02:50] Abhishaker17 commented on #14
Yes. First launch!

[2015-04-26 02:55] insidegui commented on #14
Please [run this build of the app](http://cl.ly/3m2d2f0Q2044/WWDC.app.zip) and if It crashes send me the report.

[2015-04-26 03:35] Abhishaker17 commented on #14
Still crashing.

Process:               WWDC [1054]
Path:                  /Users/USER/Downloads/WWDC.app/Contents/MacOS/WWDC
Identifier:            br.com.guilhermerambo.WWDC
Version:               1.5.1 (16)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           WWDC [1054]
User ID:               501

Date/Time:             2015-04-26 09:05:21.228 +0530
OS V

[2015-04-26 03:44] insidegui commented on #14
I think the crash is happening in `DataStore.swift`, in the function `fetchSessions`, inside the callback for the URLSession's dataTask. If you can, please try to debug It yourself, I am unable to reproduce the error.

[2015-04-26 10:49] art-divin commented on #14
This was a simple unwrapping issue of the response when back end is unavailable. Simple test case: change internal URL to non-existent endpoint

[2015-04-26 11:05] art-divin commented on #13
+1 for Keynotes;
(live event) cell details text looks redundant, would be better to replace it with Keynote, or maybe removing it completely, since it is the same for all items

[2015-04-26 12:59] #14 closed

[2015-04-26 13:14] art-divin commented on #12
I think it would be better to add a separate window like Safari downloads popup with all available tasks.

[2015-04-26 13:16] insidegui commented on #12
I agree.

[2015-04-26 18:20] art-divin commented on #12
@insidegui please review my pull request

[2015-04-26 18:23] art-divin opened #17 "Possible bug: changing UI from background thread"
I think that method
`URLSession(session: NSURLSession, downloadTask: NSURLSessionDownloadTask, didFinishDownloadingToURL location: NSURL)` is usually called from background thread, however, a notification like `NSNotificationCenter.defaultCenter().postNotificationName(VideoStoreNotificationDownloadFinished, object: originalAbsoluteURLString)` is [being sent][1] directly from networking queue.

I h

[2015-04-26 18:31] art-divin opened #18 "WWDC Source Code examples"
Would be great to incorporate something like this: https://github.com/jfahrenkrug/WWDC-Downloader

[2015-04-26 20:11] insidegui commented on #17
The subscriber can specify in what thread it wants the notification listener to be called. I can't check it right now because I'm not home.

[2015-04-26 20:13] insidegui commented on #12
I will. Thanks.

[2015-04-26 20:57] art-divin commented on #17
Thanks. I am too used to `-[NSNotificationCenter addObserver:selector:name:object:]`

[2015-04-26 20:57] #17 closed

[2015-04-27 02:24] insidegui commented on #13
Renamed to "keynotes". Still not sure if I'll really add this to the app.

But I'll definitely make something that will enable people to watch the WWDC keynote live through the app :)

[2015-04-30 13:55] SunburstEnzo opened #20 "Simple loading NSProgressIndicator on load"
I opened the app and for 5 minutes it was just blank but eventually it loaded the content. For a better ux it is probably worth adding some kind of progress notifier.

Also, Check for Updates would be great for the release versions :D

[2015-04-30 13:57] insidegui commented on #20
Yeap.

[2015-05-01 07:49] mac-cain13 opened #21 "Search through ASCII WWDC transcripts in main screen"
Currently it's only possible to search through the transcript when watching the video. Often I remembers some keywords of a talk, but don't know which one it was about that specific topic. It would be great if the searchbar in the main window with the overview of all videos also searched in the transcripts.

I would imagine that search results are ordered like this:
- hit in the title
- hit in des

[2015-05-01 11:36] art-divin opened #22 "Session list row should get reloaded if file was removed"
**Steps to reproduce:**
1. Launch the app
2. Download any session
3. After download will end, remove file physically from `~/Library/Application Support/WWDC/`
4. Select session which file was removed

**Expected result:**
- download arrow on a cell should be removed since file was removed

**Actual result:**
- download arrow on a cell still shown, even though session view header shows "Download"

[2015-05-01 11:39] art-divin opened #23 "Allow two-digit "year" search query"
[Following code][1]:

    if let year: String = qualifiers["year"] as? String {
        if session.year != year.toInt() {
        return false
      }
    }

I think that it would be better to allow "10", "11", "12", "13", "14" in "year" search query

[1]: https://github.com/insidegui/WWDC/blob/master/WWDC/VideosViewController.swift#L160

[2015-05-01 15:20] insidegui commented on #21
I don't know, I think this would make the search too complicated.

Currently the transcripts are only downloaded when the transcript window is opened, and the processing of the transcripts is quite expensive, It would be hard to search through all of them on every single keystroke.

That said, if anyone wants to tackle this, go ahead :)

[2015-05-01 16:19] #22 closed

[2015-05-01 16:20] art-divin commented on #21
I am almost done with this one.. :wink:

[2015-05-01 16:22] insidegui commented on #21
=3

[2015-05-01 17:26] klundberg opened #25 "2x or greater speedup has no sound"
If you try to stream a video at 2x speed or greater, there's no sound at all. I haven't tried downloading a video before watching yet to see if that's different, but even if it is it'd be nice to watch videos at 2x speed and hear what's being said without needing to download them.

[2015-05-01 17:28] insidegui commented on #25
I don't own the video decoding/streaming stack, that's on Apple :/

[2015-05-01 17:35] klundberg commented on #25
Aha, i see. That's unfortunate :(. I'll close this then, thanks for the reply!

[2015-05-01 17:35] #25 closed

[2015-05-01 17:47] klundberg opened #27 "Add ability to mark videos as favorite/bookmarked"
It'd be nice to mark favorite videos as such, to have a short list of videos that may be useful in the future to refer back to, similar to how the wwdc app on iOS lets you favorite sessions to keep track of them for the conference.

[2015-05-01 18:01] insidegui commented on #27
I am actually trying to make use of the same favorites from the iOS app, if I can't accomplish that I will make a separate favorites system.

[2015-05-01 18:06] art-divin commented on #21
@insidegui I've implemented transcript search, and the keyword is `transcript`. Would be great to add it to README.md...

I had to set -[NSSearchFieldCell setSendsWholeSearchString:] to `YES` because otherwise there would be too much request being sent to `asciiwwdc.com` endpoint.

However, this implies that now users have to press "Enter" in order to start search

[2015-05-01 18:21] art-divin opened #28 "Cancellation of downloads doesn't work"
Tasks should be cancelled via VideoStore shared instance' method called `cancelDownload`, otherwise it will get "stuck" and UI will not be consistent with VideoDetails view

[2015-05-01 18:22] insidegui commented on #28
Can you fix this please?

[2015-05-01 18:22] art-divin commented on #28
Done

[2015-05-01 18:34] art-divin commented on #23
Done

[2015-05-01 18:58] #28 closed

[2015-05-01 18:59] art-divin commented on #12
I think this issue can be closed now

[2015-05-01 19:03] art-divin opened #31 "Check for Updates option in App Menu"
As suggested in #20 it would be great to have "Check for Updates" option in App menu, as well as there should be a mechanism of In-App update.

For initial implementation and for simplicity, would be good just to `openURL` GH's Release/*.zip URL

[2015-05-01 19:03] art-divin commented on #20
I would rather create a separate issue for "Check for Updates" thingy :wink:
#31

[2015-05-01 19:04] insidegui commented on #31
Yeap.

[2015-05-01 19:08] insidegui commented on #21
As discussed in [this defunct pull request](https://github.com/insidegui/WWDC/pull/26), the best approach will be to cache the transcripts locally and search the local cache.

@art-divin do you want to make this or do you want me to make It? Maybe I can do the cache thing and you can do the search, what do you think?

[2015-05-01 19:19] art-divin commented on #21
@insidegui I think it should be separated into 3 aspects:

1. "Fetch Transcripts" Service implementation (you can do that, I've no experience of working with XPC)
(on the second thought, this can be implemented via NSURLSession...). This might include class extension for existing WWDCSessionTranscript object model due to the fact that matches should be counted
2. CoreData - I can do that, basic tr

[2015-05-01 19:37] #23 closed

[2015-05-01 20:57] #12 closed

[2015-05-01 20:57] #11 closed

[2015-05-01 20:57] #10 closed

[2015-05-01 22:04] masters3d opened #32 "Sync PDF Slides with video"

[2015-05-02 00:33] insidegui commented on #32
Not technically possible, unless someone wants to time stamp every slide of every session.

[2015-05-02 00:33] #32 closed

[2015-05-02 04:56] #31 closed

[2015-05-02 12:14] MKGitHub opened #34 "Ability to set video window size."
Ability to set video window size.
I.e. 25% 50% 75% 100%

[2015-05-02 12:15] MKGitHub opened #35 "Ability to customize transcript text"
Ability to customize transcript text, font, size, color etc.

[2015-05-02 13:31] zortje commented on #10
Don't you want this implemented? Why was it closed?

[2015-05-04 00:13] mcansh opened #37 "preferences are cut off"
![screen shot 2015-05-03 at 8 12 19 pm](https://cloud.githubusercontent.com/assets/11698668/7447619/c51333d2-f1d0-11e4-9d86-a14866c9444b.png)

[2015-05-04 08:25] art-divin commented on #21
@insidegui I've started with this feature, I'll do it myself :wink:

[2015-05-04 18:29] brennanMKE commented on #27
@insidegui How are you able to access these favorites? Is there an API you can access once the user is authenticated? How do you authenticate the user?

[2015-05-04 18:30] brennanMKE commented on #27
btw, I am interested working on one of these issues to learn a bit more about Mac development after doing only iOS work. Let me know where you'd like help. I can fork and send PRs.

[2015-05-04 18:51] insidegui commented on #27
I sniffed the traffic from the iOS app and there is an authentication happening, after the developer logs in there are 3 HTTP calls which can be made:
1 - Mark a video as favorite
2 - Remove a video from favorites
3 - Get a list of all favorites

Once we have the auth working, the rest is simple. I didn't look too much into It yet, but if you are comfortable with reverse engineering I would love t

[2015-05-04 19:40] brennanMKE commented on #27
I use the Paw HTTP Client which is really helpful at this sort of thing. If you can provide me with URLs I could try them out and see what I can do with them. Is this not using SSL? How could you sniff the traffic? Just URLs?

[2015-05-04 20:43] insidegui commented on #27
It uses SSL. I use Burp Suite, It can generate SSL certs on the fly so you can sniff https traffic, but for this to work I've had to install a custom profile on my iOS device, and It doesn't work with all applications. The best approach would be to actually reverse engineer the app and see what kind of auth mechanism is in place, but for that the device has to be jailbroken.

[2015-05-04 22:00] brennanMKE commented on #27
Oh, I never jailbreak my iOS devices. But if you can tell me which REST calls are needed I could write the code for it.

[2015-05-04 22:46] insidegui commented on #27
The REST calls are the least of our problems, I still have to figure out how the authentication works :(

[2015-05-05 00:12] brennanMKE commented on #27
Maybe it is not worth the effort just to manage favorites. It could easily be done with a service like Parse. And CocoaPods Keys could be used to securely hold onto the keys and build the app with Parse support. Once the data is stored in Parse and the user is able to connect an identity with Parse their list of favorites could also be made available in a web browser or iOS app. Then it would be p

[2015-05-05 00:16] insidegui commented on #27
There will be no iOS app, so I don't see a need to have a service for the favorites. If I can't work out how to integrate with the native iOS WWDC app I'll implement something way simpler with NSUserDefaults ;)

[2015-05-05 00:25] brennanMKE commented on #27
Syncing with iCloud could also be a service which does this work without requiring keys for a third-party cloud service.

I do have an old iPhone 5 at home. Maybe I could use that for reverse engineering the authentication scheme, but the implementation could change anytime. It would be nice if Apple provided a supported service but that would be dreaming.

[2015-05-05 02:11] insidegui commented on #27
iCloud is only available for apps distributed via the AppStore :/

[2015-05-05 14:39] skywinder opened #38 "Feature-request integrate with ASCIIwwdc"
To search by text inside lections: https://github.com/ASCIIwwdc/asciiwwdc.com

[2015-05-05 14:40] insidegui commented on #38
This is already implemented.

[2015-05-05 14:40] #38 closed

[2015-05-05 14:50] skywinder commented on #38
After search in change log - i found it: Duplicate of #2

[2015-05-05 14:51] skywinder commented on #2
@insidegui can't figure out, how to use it. Can you provide some examples?

[2015-05-05 14:52] insidegui commented on #2
During video playback go to View > Transcript

[2015-05-05 17:46] brennanMKE commented on #27
My take is that favorites is not as useful as bookmarks and notes which can pinpoint an exact position in a presentation. Since Apple's app does not do that this is a feature which makes this app more useful to developers.

Keeping the focus on notes and bookmarks is probably more worthwhile.

[2015-05-07 17:04] #37 closed

[2015-05-08 13:32] #35 closed

[2015-05-08 14:45] #34 closed

[2015-05-08 16:36] #20 closed

[2015-05-08 18:41] VicenteBorrell opened #43 "Icon Suggestion"
I wanted to suggest two icon options and, as @insidegui said, let the people vote ;)
What do you think?

(I didn't use the Apple logo for legal reasons, but I may release them separately in the future for personal use)

![wwdc apple ios icon](https://cloud.githubusercontent.com/assets/584834/7544562/75b331fa-f5ce-11e4-9b00-bc35018f0025.png)
![wwdc15 logo icon](https://cloud.githubusercontent.com/a

[2015-05-08 19:01] insidegui commented on #43
I think I like the second one.

[2015-05-08 19:02] #13 closed

[2015-05-09 03:43] jakemarsh commented on #43
I vote the 2nd one as well! :+1:

[2015-05-09 03:44] francocarbonaro commented on #43
My vote is for the second one too.

[2015-05-09 10:39] MKGitHub opened #46 "Ability to mark many selections as watched."
Ability to mark many selections as watched.
Currently it is only possible to select each item and click Mark as Watched.

[2015-05-11 04:44] bishalg commented on #5
Where are the downloaded video saved in local drive ?
Also, there should be option to download SD or HD video.

[2015-05-11 15:12] insidegui commented on #5
@bishalg Open the preferences, you can set the downloads folder there.

I think there is not enough demand for download of SD videos to justify the amount of work and maintenance cost It would take to implement It.

[2015-05-11 15:31] VicenteBorrell commented on #43
OK then. I'll wait until the weekend and work on the second one!
I hope doing all the Mac icon sizes isn't a lot of work :S

[2015-05-11 15:36] insidegui commented on #43
@VicenteBorrell When you're done, send me the icon with all the different sizes and the original source file so I can put It in the repository.

[2015-05-13 18:41] dmthomas opened #48 "Save Window Size"
It would be really nice if the size of the window was preserved between launches. I constantly have to resize the window each time I use the app.

[2015-05-14 13:00] #48 closed

[2015-05-14 14:37] dmthomas opened #49 "Save split size between launches"
Thanks for adding the window size saving so quickly! If I adjust the split and close the app, when I relaunch the split is 50% | 50%, dead center. It would be nice if the split setting was saved as well.

[2015-05-14 14:38] insidegui commented on #49
I'm working on that right now :)

[2015-05-14 14:41] dmthomas commented on #49
Awesome!

[2015-05-14 15:44] dmthomas commented on #49
It seems like it's mostly respecting the split values you're saving in the plist, but when you relaunch the app, there's some auto sizing that overrides the exact values and resets them to that size. Maybe it's AutoLayout doing it based on the content size of the right pane.

[2015-05-14 15:57] insidegui commented on #49
It's working just fine here.
Try deleting the preferences, close the app and delete `~/Library/Preferences/br.com.guilhermerambo.WWDC.plist` and autosave files `~/Library/Saved Application State/br.com.guilhermerambo.WWDC.savedState`

After that run `killall cfprefsd`

[2015-05-14 17:33] dmthomas commented on #49
Okay debugging it this is what I found.

In SplitManager.swift, the didSet on the splitView var, never seems to get called to set the delegate, which in turn never fires "func splitViewDidResizeSubviews(notification: NSNotification)" to save the sidebarWidth.

Hacking on it a bit, in VideosViewController.swift where you create the SplitManager, I tried setting the delegate there.

if let splitView

[2015-05-14 17:35] insidegui commented on #49
The big question here is why It works on my machine and doesn't work on yours. I will see what I can do.

[2015-05-14 17:38] dmthomas commented on #49
I was going to say maybe it was Xcode 6.4 beta 3, but I just tried 6.3.1 even.

Maybe you can send me the archived binary you built and then we'll know if it's just user error for me building with Xcode or something.

[2015-05-14 17:41] insidegui commented on #49
I don't think It's a build issue, but just to be sure, here's my build: http://cl.ly/1t2v450z3x3I/download/WWDC_split_test.zip

Also, what version of OS X are you on? I'm running `10.10.3 (14D131)`

[2015-05-14 17:45] dmthomas commented on #49
That's really interesting. That binary doesn't set the sidebarWidth in the preferences either.

I'm running <code>10.10.3 (14D136)</code>

[2015-05-14 17:51] insidegui commented on #49
Can you create a new user and run this binary there? That way we can check if it's something broken on your account. I will add the "help wanted" tag to this issue, we need more people to test this to see if It's only working on my machine or if It's only NOT working on yours.

[2015-05-14 18:04] dmthomas commented on #49
I tested the binary on a Mac Mini running <code>10.10.3 (14D136)</code> and saw the same results. No sidebarWidth saved in the preferences and the window split wasn't being restored.

A Mac Pro running <code>10.10.1</code> and saw the same results.

A Macbook Pro running <code>10.10.3 (14D136)</code>. Here I saw different results. It actually was saving the application state, so when I relaunched

[2015-05-14 18:07] dmthomas commented on #49
On your machine is it restoring off application state, or do you actually see the key being set in the preferences file for sidebarWidth?

[2015-05-15 14:00] insidegui commented on #49
@dmthomas Please test this new binary to see if It's fixed before I commit: http://cl.ly/0F1K3C3l1s0O/WWDC_splitrestore_fixed.zip

[2015-05-15 15:15] dmthomas commented on #49
Sweet! That seems to work now. I see the DividerPosition setting you're saving into the prefs now.

It works fine, I just noticed that you see the "original" window for a split second before it loads the DividerPosition that's saved. Maybe WillAppear vs DidAppear/DidLoad?

[2015-05-15 15:36] insidegui commented on #49
Open a new issue for the split second thing, this one is done.

[2015-05-15 15:36] #49 closed

[2015-05-15 15:38] dmthomas commented on #49
Cool, thanks for working on this. It's makes the app so much more usable for me and I hope other people benefit and appreciate it!

[2015-05-15 15:45] dmthomas opened #50 "DividerPosition gets restored while window is visible"
When the app first loads, the "original" window appears for a split second before it loads the DividerPosition that's saved. Maybe WillAppear vs DidAppear/DidLoad?

[2015-05-15 15:46] dmthomas opened #51 "When a video is downloaded there's no built-in way to delete it"
When a video is downloaded locally, perhaps the download button can become a delete button so that the video can be removed without browsing to the location manually to delete the video.

[2015-05-15 15:47] insidegui commented on #50
I think `awakeFromNib` is the answer. Please test this: http://cl.ly/320m1A2O121W/WWDC_splitsecond_split.zip

[2015-05-15 15:48] insidegui commented on #51
Great idea!

[2015-05-15 17:07] dmthomas commented on #50
This build seems to work fine with the changes to <code>awakeFromNib</code>, but it seems like you regressed on the DividerPosition restoring in it.

[2015-05-15 17:10] insidegui commented on #50
You mean the position is not being restored?

[2015-05-15 17:11] dmthomas commented on #50
Yes. It is not being restored in this build.

[2015-05-15 17:15] insidegui commented on #50
😅

[2015-05-15 17:19] dmthomas opened #52 "Ability to mark a video as Unwatched"
Sometimes you might want to be able to mark a video as unwatched if you marked it as watched by accident, or started it partially and want to reset its status.

[2015-05-15 18:01] insidegui commented on #50
Is It better now? http://cl.ly/2T05221Y2j0H/WWDC_split2.zip

[2015-05-15 18:04] dmthomas commented on #50
It is properly restoring the divider position again, but it still flashes the initial nib layout before it adjusts. I'm not sure if there's a way to fix that or not.

Maybe I'm just being picky. :-)

[2015-05-15 18:07] insidegui commented on #50
It's freakin' autolayout doing Its thing :(

I'll leave this opened so others can try to fix It.

[2015-05-15 18:07] dmthomas commented on #50
Haha. Cool.

Maybe I'll mess with it myself and see.

[2015-05-18 02:56] #43 closed

[2015-05-19 13:00] brutella opened #53 "Cannot open interface builder"
Building the project always results in errors because the xib files cannot be opened.

`WWDCTranscriptViewController.xib: The document "WWDCTranscriptViewController.xib" could not be opened. The operation couldn’t be completed. (com.apple.InterfaceBuilder error -1.)`

The console says

    19/05/15 14:51:28,235 ibtoold[54494]: -[NSButton setSpringLoaded:]: unrecognized selector sent to instance 0x

[2015-05-19 13:01] insidegui commented on #53
I don't know, file a radar I guess...

[2015-05-19 13:01] #53 closed

[2015-05-19 13:04] brutella commented on #53
Which configuration are you using?

[2015-05-19 13:05] insidegui commented on #53
Xcode 6.3.1 (6D1002), Yosemite 10.10.3 (14D131)

[2015-05-19 19:58] dmthomas opened #54 "Scroll Indicator on Transcript Window Goes Beyond Search Field"
The scroll gutter on the transcript window extends underneath the search field pane on the bottom of the window.

[2015-05-20 12:28] mcansh opened #55 "crashes on launch"
![screen shot 2015-05-20 at 8 27 47 am](https://cloud.githubusercontent.com/assets/11698668/7725596/1fc02438-feca-11e4-9de0-13fdc9de5362.png)

[2015-05-20 15:55] insidegui commented on #55
1 - you're running a beta OS, crashes are expected
2 - I need the crash report, without it this issue is useless

[2015-05-20 16:03] mcansh commented on #55
will send report when I get back to my computer.

[2015-05-20 18:35] mcansh commented on #55
ok so I'm back at my computer and it opens fine now

[2015-05-20 18:35] #55 closed

[2015-05-22 17:04] insidegui commented on #52
I've implemented this, but It's only allowed when the video is watched completely (or manually marked as watched). I didn't want to add yet another button to the UI.

I'll probably add menu items to allow this for multiple sessions at once ;)

[2015-05-22 17:04] #52 closed

[2015-05-22 17:40] #46 closed

[2015-05-25 10:31] Mudox commented on #55
I got the same issue on OS X 10.10.3
When I opened a session video, and leave it paused for a long time, it will crash. and subsequently I try to open it again,  it will show 'Reopen' dialog endlessly.

[2015-05-25 12:54] insidegui commented on #55
Crash log please.

[2015-05-25 13:48] Mudox commented on #55
Process:               WWDC [31743]
Path:                  /Applications/WWDC.app/Contents/MacOS/WWDC
Identifier:            br.com.guilhermerambo.WWDC
Version:               1.8 (30)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           WWDC [31743]
User ID:               502

Date/Time:             2015-05-25 21:47:27.949 +0800
OS Version:            Mac OS

[2015-05-25 15:02] #27 closed

[2015-06-04 11:19] art-divin commented on #21
@insidegui I am sorry for a very delayed response , had a lot of work to do.
I've actually implemented this like 3 weeks ago, but I was really not satisfied with memory usage performance.
What I would suggest to do is for now just have CoreData enabled just for caching Transcripts (since they don't change over time at all), and leave searching through them for future.
What do you think?

[2015-06-04 15:41] insidegui commented on #21
I have an implementation using YapDatabase (It uses SQLite's FTS module for really fast text search), I just need to get the interface right, the performance is good.

[2015-06-05 14:37] #54 closed

[2015-06-05 14:38] #18 closed

[2015-06-05 17:55] insidegui commented on #21
Ok, now I have the search working, using the qualifier "transcript". To search for a phrase you can put the query in quotes like `transcript:"window chrome"`.

The performance seems ok on my Mid 2011 iMac, I thought about putting a progress indicator during slow searches but I don't know if it's necessary or not.

[2015-06-05 17:57] insidegui commented on #21
Ugh, actually the quotes don't work to search for phrases, It seems like the search will find anything that matches ANY word, I'll see what I can do about It...

[2015-06-09 09:55] DeepFriedPotato opened #62 "App crashing on OS X El Capitan"
Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'A SplitView managed by a SplitViewController cannot have its delegate modified'
terminating with uncaught exception of type NSException
abort() called

[2015-06-09 10:22] SatanWoo commented on #2
cool!

[2015-06-09 13:19] insidegui commented on #62
This was fixed on 2.0.2

[2015-06-09 15:43] abbasmousavi opened #64 "Is there any way to download SD video files instead of HD ones?"
Is there any way to download SD video files instead of HD ones?

[2015-06-09 16:01] insidegui commented on #64
Not currently. To simplify the interface (and the code) I've decided to only download the HD versions.

[2015-06-09 16:03] insidegui opened #65 "Live sessions only play audio on El Capitan"
When playing the live session stream, only the audio is played but not the video. I'm currently working on this.

[2015-06-09 20:09] #62 closed

[2015-06-10 08:50] deszip opened #66 "Filter videos by year"
Would be great to have filter (dropdown or smth) to filter only videos for a certain year

[2015-06-10 10:50] insidegui commented on #66
Use the qualifier year in the search `year:2015`

[2015-06-10 10:50] #66 closed

[2015-06-10 14:59] Yeti-or opened #67 "publish app to brew cask"

[2015-06-10 15:36] wy19901227 opened #68 "各种报错啊，怎么运行不起来了？"

[2015-06-10 16:00] insidegui commented on #68
If you are trying to open/compile the project under El Capitan (Xcode 7) you'll see tons of errors. I will continue to develop the app using the stable version of Xcode.

And please ask questions in english if possible. Thanks!

[2015-06-10 16:02] wy19901227 commented on #68
I  run it in xcode 6.1  it failed also.

[2015-06-10 16:02] insidegui commented on #67
Can somebody do this for me? Thanks!

[2015-06-10 16:41] insidegui commented on #68
Did you pull the dependencies? Check the build instructions on the readme.

[2015-06-10 16:58] nanoxd commented on #67
I'll add this in.

[2015-06-10 18:12] mrkd opened #70 "Add ability to skip forward/back 10s/15s/30s"
When watching these session videos I usually use VLC's step forward/backward shortcuts to skip forward/backwards if I want to skip or review something within the session video.

Is this something that can be added to the AVPlayer controls ?

[2015-06-10 18:56] nanoxd commented on #67
Done

[2015-06-10 20:40] iamcam opened #72 "Feature Request: Filter by year, platform"
It would be helpful to be able to filter by year and/or platform.

For example, filter the list so I see...
* Just 2015 videos
* iOS videos
* 2014 iOS videos
* etc

[2015-06-10 21:51] bre7 commented on #72
You can do it using the search bar:
* Just 2015 videos
 * year:2015
* iOS videos
 * focus:ios
* 2014 iOS videos
 * year:2014 focus:ios

Supported qualifiers are stated in the readme:

[2015-06-10 21:52] iamcam commented on #72
I'm sorry - I must have missed that part. Thanks!

[2015-06-10 21:52] #72 closed

[2015-06-10 21:55] bre7 commented on #72
Np.

[2015-06-10 22:35] insidegui commented on #70
Maybe.

[2015-06-10 22:37] #67 closed

[2015-06-10 22:40] insidegui opened #74 "Build fails in Xcode 7"
The app is currently not building in Xcode 7 and with the latest SDK. That's because of changes to the Swift language and some of the APIs.

The plan right now is to continue the development using the latest stable Xcode and SDK and migrate to the new stuff when It's stable.

[2015-06-11 02:01] insidegui commented on #65
It appears to be a bug in AVKit's AVPlayerView. I'm using a custom player view for now.

[2015-06-11 16:38] mrkd opened #77 "Crashes when I attempt to open downloads window (Yosemite)"
Crashes when I attempt to open downloads window.

Crash Log is below - let me know if there is any more information you need.

Crash Log
[code]

[2015-06-11 16:41] insidegui commented on #77
`⌘D` crashes as well?

[2015-06-11 17:09] mrkd commented on #77
Yes - ⌘D crashes as well.

[2015-06-12 03:23] Cee commented on #77
Only crashes at the time I attempt to open the Downloads window when the app is loading/initializing.

Crash Log:
[code]

[2015-06-12 11:26] insidegui commented on #77
That helps. Thank you!

[2015-06-13 07:09] MaddTheSane opened #79 "Screen goes to sleep when only playing movies"
My monitors went to sleep when I was playing an SD movie back, full-screened, on one of my monitors.

[2015-06-13 09:41] k06a commented on #2
@insidegui is it possible to search via texts?

[2015-06-13 09:47] k06a opened #80 "Ability to stream video to Apple TV"
Please add this ability :)

[2015-06-13 13:38] insidegui commented on #80
I think airplay video is only available on OS X 10.11

[2015-06-13 13:38] insidegui commented on #79
This needs to be fixed ><

[2015-06-13 13:39] insidegui commented on #2
@k06a Sort of, see #21 for details

[2015-06-13 13:52] #77 closed

[2015-06-13 14:02] #79 closed

[2015-06-13 15:05] Cee commented on #77
@insidegui Problem still exists.
I build the newest app and it still crashes.
I'm now trying to fix this.

[2015-06-13 19:31] bddckr commented on #70
On Yosemite I can swipe with two fingers two advance/rewind the video. Clicking on the forward/rewind buttons while holding ⌥ changes the playback speed.

[2015-06-14 14:48] insidegui commented on #70
I'm actually rewriting the player portion of the app to be more reliable/customizable.

[2015-06-15 15:06] dstd commented on #70
@mrkd for the time being you can try this branch https://github.com/dstd/WWDC/commits/playback-features.
It contains few playback features that I wanted: `float on top`, `playback speed` and `jump backward/forward`, available via `Window` menu.

[2015-06-15 20:20] mrkd commented on #70
@dstd - thanks i'll take a look

[2015-06-17 09:06] dstd opened #84 "Crashed on searching"
I got a crash while I was typing a search term "navigation" - in around of letter "g". I can reproduce this crash by typing slowly with erasing of symbols back and forth.

	Exception Type:        EXC_BAD_INSTRUCTION (SIGILL)
	Exception Codes:       0x0000000000000001, 0x0000000000000000

	Application Specific Information:
	fatal error: Array index out of range

	Thread 0 Crashed:: Dispatch queue:

[2015-06-17 14:26] kostiakoval opened #85 "add speed control"
The Quick player supports speed control when you click >> and << .
Also clicking it with "ALT" button allows 1.1, 1.2 speed control which is incredible useful.

Would love to have that feature.

[2015-06-17 15:28] insidegui commented on #85
I'm working on a new custom player that will allow me to add some more advanced controls.

[2015-06-17 16:40] kostiakoval commented on #85
Great, thanks! sorry for not contributing to the source code :(

[2015-06-17 16:42] insidegui commented on #85
No problem :)

[2015-06-18 01:33] justinjdickow opened #86 "Add Google Cast Integration"
Would be amazing to be able to watch these videos with on my TV via Chromecast

[2015-06-18 14:37] insidegui opened #87 "Crasher bug in VideosViewController tableView:viewForTableColumn:..."
Can somebody help me debug this? :)

http://crashes.to/s/e473b864624

[2015-06-18 14:38] insidegui commented on #86
I don't know anything about Chromecast. Let's see if others can help...

[2015-06-18 14:39] #68 closed

[2015-06-18 14:49] joeljfischer commented on #86
As far as I know the only Google Cast SDKs that exist are iOS, Android, and Chrome.

https://developers.google.com/cast/docs/developers

[2015-06-19 05:11] 0x8badf00d commented on #87
In VideosViewController.swift  , func tableView viewForTableColumn add this check:

`if row > count(displayedSessions)  {
    return cell;
 }`

[2015-07-09 17:16] tp opened #94 "Add ability to save slides"
Viewing the slides for each session is great :) And it would be awesome if I could save them as well.

(Especially since you include slides from WWDC 2013 which I could not find online...)

[2015-07-12 03:47] #87 closed

[2015-08-01 16:01] EvgenyKarkan opened #95 "My Mac goes screen-save mode while watching video."
Is that normal behaviour and should be managed by me in mac settings or is it WWDC app UX issue?

[2015-08-22 10:42] vani2 opened #96 "Crash while playing video"
I got many crashes on El Capitan during playing video

[2015-08-22 13:56] insidegui commented on #96
A crash log would be helpful...

[2015-08-23 07:54] haxpor commented on #96
I experienced the same as the original poster of this issue.
I've seen you use Crashlytics too, but anyway this is [my log](https://wasin.io/user-data/wwdc.log) regarding to multiple crashes in it.

[2015-08-27 16:53] insidegui commented on #86
I think maybe the iOS SDK could be used on the Mac, I haven't looked too far into It. If anyone wants to send me the US$50 for me to purchase a Chromecast and try It, my PayPal e-mail is insidegui@gmail.com :)

[2015-08-29 02:10] MaddTheSane commented on #86
@insidegui The ChromeCast SDK for iOS will not work with OS X: The framework file is just a fat ar archive, targeted to only the iOS platform. I tried to "flatten" it out to a dynamic library, but the library ended up being empty.

[2015-08-29 02:59] insidegui commented on #86
Ah, I thought It was open source. So yeah, no Google Cast integration for now...

[2015-09-10 15:34] #74 closed

[2015-09-10 18:10] insidegui commented on #95
Which version of OS X are you running? Do you have the latest version of WWDC? I couldn't reproduce this issue on 10.10.4 running the latest version of the app...

[2015-09-10 18:12] insidegui commented on #94
You can use ⌘S to save the slides (when viewing the slides for a particular session).

[2015-09-10 18:12] #94 closed

[2015-09-10 18:26] #84 closed

[2015-09-10 18:35] #80 closed

[2015-09-10 18:36] #65 closed

[2015-09-10 18:37] insidegui commented on #64
I've decided to not implement this since It's not very useful and would complicate things quite a bit.

[2015-09-10 18:37] #64 closed

[2015-09-10 18:38] insidegui commented on #21
This is working quite well (for me at least). I think I'll close this issue for now.

[2015-09-10 18:38] #21 closed

[2015-09-10 20:29] EvgenyKarkan commented on #95
OS X - v10.10.5 (14F27)
WWDC -  v2.2 (80)

[2015-09-10 20:43] insidegui commented on #95
I've added `.UserInitiated` to the list of activity options passed to `beginActivityWithOptions` on `VideoWindowController`, maybe that will prevent the screensaver from activating.

[2015-09-30 23:40] insidegui commented on #95
I'm closing this issue since I've had no other complaints and couldn't reproduce the problem myself.

[2015-10-01 00:25] #85 closed

[2015-10-23 23:20] flexaddicted commented on #50
The divider restore to the default width when the application is visible. To observe the behaviour, open the app. Drag the divider in order to reach a specific width. After a while the divider returns to the default width.

[2015-10-23 23:27] flexaddicted opened #99 "Grouping videos by WWDC Session"
It could be useful to have videos grouped by sessions using sections.

[2015-10-23 23:28] insidegui commented on #99
Maybe ;)

[2015-11-01 14:52] philosopherdog opened #100 "Speed up feature would be awesome."
Command clicking on the >> arrows does speed it up by 2x 5x etc but the audio cuts.

[2015-11-01 14:57] philosopherdog commented on #100
Ok, seems you can do this with option click on the >> arrows which is a basic quicktime hidden feature.

[2015-11-01 15:13] #100 closed

[2015-11-19 09:30] liufsd opened #103 "RealmSwift need update"

[2015-11-19 10:47] liuduoios commented on #103
👍

[2015-11-19 10:49] minzi26 commented on #103
🐂

[2015-11-19 10:49] minzi26 commented on #103
🐂

[2015-11-19 16:54] ghuiii commented on #103
👍

[2015-11-19 21:55] #103 closed

[2015-11-20 01:10] xcuYao commented on #103
+1

[2015-11-20 01:15] insidegui commented on #103
It's done.

[2015-12-17 19:44] sanguish opened #105 "Adding metadata to video files"
The metadata for description, title, and more is available in the app, but I've not found a good place to hook into to write it to the video file.

Anyone able to point me to the most appropriate place that has access to both the video file reference and the object that triggers the download?

[2015-12-21 13:47] hellowrcj commented on #96
I'm sorry that It crash just while playing video, I hope the image could help.
<img width="987" alt="screenshot" src="https://cloud.githubusercontent.com/assets/15797115/11931890/30817f68-a82c-11e5-8120-576e40ac00b2.png">

[2015-12-21 13:51] insidegui commented on #96
I am currently investigating this issue.

@hellowrcj Thanks, but your screenshot doesn't actually help. If you happen to encounter this issue again, copy the "Problem Details and System Configuration" information and send It here ;)

[2015-12-21 13:54] haxpor commented on #96
Lately, after El Capitan is out of beta, I didn't experience the crash again.

[2015-12-21 13:59] insidegui commented on #96
@haxpor Thanks for letting me know.

Now I've noticed @hellowrcj is running 10.10.5, I don't pay too much attention to old OS crashes. Since this app is aimed at developers, I only worry about It running well on the latest stable release of OS X.

[2015-12-21 14:02] hellowrcj commented on #96
My mac is on OS X Yosemite Version 10.10.5, this is info  [Problem Details and System Configuration](http://7xl4rd.dl1.z0.glb.clouddn.com/CrashLog.pdf) while crashing.Maybe I need update my OS.

[2015-12-21 14:11] haxpor commented on #96
@insidegui I'm on 10.11.1 (15B42).

[2016-02-08 00:08] insidegui opened #106 "Should the app be localized?"
Since all of WWDC's content is in english, I don't think there is much to gain by localizing the app. But I would like to hear other opinions and arguments.

Go ahead :)

Edit: if you think the app SHOULD be localized, please explain why.

[2016-02-08 00:58] Frizlab commented on #106
Even though I’m French, I personally don’t care about localization of this product (which, by the way, I find awesome :wink:).

[2016-02-08 11:02] Kirow opened #107 "WWDC2014-716 is missing"
Maybe some other videos are missing too. Checked only this one.

https://developer.apple.com/videos/play/wwdc2014-716/

![missing_item](https://cloud.githubusercontent.com/assets/1594953/12884005/114522d6-ce64-11e5-8033-c56a4858a680.png)

[2016-02-08 14:33] insidegui commented on #107
It's not available on WWDC for iOS either, It is not in the JSON file returned by Apple's server. This is Apple's fault 😬

[2016-02-17 00:47] tracicot opened #108 "Error trying to AirPlay"
Whenever I try to cast the stream via AirPlay, I get "An error occurred loading this content." Loading the video on Apple.com works fine. Anyone else experiencing this?

[2016-02-17 01:05] insidegui commented on #108
I will test this and see if it happens to me. What version of OS X and what Apple TV are you using?

[2016-02-17 01:09] tracicot commented on #108
Actually, this is a false alarm. I was trying to watch What's New in Cocoa from 2014, which failed to cast. I accidentally loaded up What's New in Cocoa from 2015 on Apple, which works both in WWDC and on the web. I think the 2014 video itself is bad, as it doesn't cast from Apple's site either.

[2016-02-17 01:15] insidegui commented on #108
Ok then, I will have a look anyway because this is an area I haven't tested very much...

[2016-02-17 01:15] #108 closed

[2016-02-17 03:41] mingming1222 opened #109 "video play issue"
When the video is loading, close the player window, the video is not paused will be playing in the background

[2016-02-17 17:51] lmihalkovic opened #110 "Support filtering for missing items"
Currently 'favorites' and 'downloaded' only filter on the true case. This issue is for people who like me would like to see what is not stored locally.

Default is to display all items:
<img width="469" alt="screen shot 2016-02-17 at 6 49 22 pm" src="https://cloud.githubusercontent.com/assets/1318077/13119029/55639f2a-d5a7-11e5-9041-51652b470f67.png">

Displaying only the ones that have been downl

[2016-02-20 13:46] tracicot opened #112 "Hotkey for global search"
Currently, there is no way to quickly activate the search field.

[2016-02-20 19:25] insidegui commented on #112
Can you update the title to reflect your suggestion and separate the two into separate issues? Thanks!

[2016-02-20 22:20] tracicot opened #113 "Toggle search between session title and session content"
The new search behavior makes it hard to pinpoint a session based on its title since several other results now show up.

[2016-02-20 22:22] tracicot opened #114 "Improve URL support: search and time"
It would be great to be able to make an Alfred search/workflow to launch the app right into a search result.

[2016-02-24 11:41] insidegui commented on #110
Implemented by https://github.com/insidegui/WWDC/pull/111

[2016-02-24 11:41] #110 closed

[2016-02-24 11:49] #112 closed

[2016-02-24 12:10] lmihalkovic commented on #110
Just realized the screenshots show the flags being reversed... "downloaded" should show only entries WITHOUT the download arrow, while "missing" should only show entries WITH the download arrow available... sorry about that.

[2016-02-24 12:18] lmihalkovic commented on #99
Personally I like to group them by year.

<img width="374" alt="screen shot 2016-02-24 at 1 12 53 pm" src="https://cloud.githubusercontent.com/assets/1318077/13285027/7cffdc78-daf8-11e5-8c56-bd3b98a63ddb.png">

Would it be ok to add another button to decide on a grouping strategy? (session, year, other?). If that is the case, maybe some graphic showing alternating horizontal bars with some thicker

[2016-02-24 12:48] #109 closed

[2016-02-24 15:52] lmihalkovic commented on #99
This is what it looks like for now (I need a better glyph than my crummy drawing code)

Default is no grouping
<img width="200" alt="screen shot 2016-02-24 at 4 48 18 pm" src="https://cloud.githubusercontent.com/assets/1318077/13291049/a0bb8252-db16-11e5-9c10-054014953fd1.png">

And then byYear or byTrack:
<img width="200" alt="screen shot 2016-02-24 at 4 45 20 pm" src="https://cloud.githubusercon

[2016-02-24 16:11] insidegui commented on #99
@lmihalkovic Put a placeholder image in `Images.xcassets`, I can find new icons later ;)

[2016-02-25 01:27] insidegui opened #115 "Apple TV Tech Talks"
Apple says the tech talks are going to be available on their app, I'm just waiting for them to be available there to see what I have to do to make them available here as well ;)

[2016-02-25 12:02] #96 closed

[2016-02-25 12:03] #107 closed

[2016-02-25 13:26] funky-monkey commented on #115
+1

[2016-03-04 23:54] tracicot opened #116 "Better searching through slide PDFs"
It'd be more effective be able to search through the PDF slides. It might be easier though, to just provide a button to open with Preview (like QuickLook) to be searched there.

[2016-03-05 00:56] insidegui commented on #116
I'll see what I can do, shouldn't be too hard to implement a simple search in there. For now you can just save the slides and open with Preview by hitting ⌘S

[2016-03-06 05:35] #116 closed

[2016-03-07 13:30] #115 closed

[2016-03-10 13:52] tracicot commented on #116
This is awesome. Thanks a lot for implementing this!

[2016-03-12 06:16] wang9262 commented on #106
It will be great to integrate the chinese subtitles just as the Safari does.By the way, the Safari screen shot is as below
![qq20160312-1 2x](https://cloud.githubusercontent.com/assets/5634225/13721297/ba82bb44-e85c-11e5-8b3e-a13557959d66.png)

[2016-03-12 11:42] insidegui commented on #106
Hi @wang9262 ! You can already use the chinese subtitles in the app:

![subs](https://cloud.githubusercontent.com/assets/67184/13722757/68831cf4-e82e-11e5-946e-20a336d69e6e.png)

[2016-03-12 11:50] wang9262 commented on #106
yeah,I got it.But when I select the HD Video,there is no Chinese subtitle option.Is the Chinese subtitle is not in the HD streaming m3u8 files?

[2016-03-12 11:52] insidegui commented on #106
Probably. The `Watch in HD` option uses the download link for the HD video. But the streaming video (`Watch Video` option) will be in HD as long as your connection can keep up.

[2016-03-12 13:14] wang9262 commented on #106
Great,thanks for your reply. :+1:

[2016-03-13 03:08] stormluke opened #117 "Please add chinese transcript support"
Apple provides chinese transcripts a few days ago for wwdc 2015, hope this app to support it. Thanks a lot.

[2016-03-13 03:11] #117 closed

[2016-03-14 04:11] alfredcc opened #118 "Can't switch subtitles to Chinese when Watch HD Video"
I can switch subtitles  to `Chinese`in SD Video, but HD Video.

[2016-03-14 13:20] insidegui commented on #118
Apple doesn't provide subtitles on the downloadable HD files which are used when you select "watch in hd".

[2016-03-14 13:20] #118 closed

[2016-03-15 10:38] yanndupuy commented on #118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  dupuyyann@gmail.com
    Domain zyapps.com has exceeded the max emails per hour (419/400 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includ

[2016-04-04 13:59] insidegui commented on #51
Implemented by @finngaida in #119

[2016-04-04 13:59] #51 closed

[2016-04-04 14:40] insidegui commented on #114
I don't use Alfred, what would be required of the app to get this functionality?

[2016-04-04 21:29] tracicot commented on #114
I think its called a url scheme. Basically a way to send in a query string into the app and have the app launch and execute that query. Here's a document from 2Do for examples of how they handle such a feature. http://www.2doapp.com/url-schemes-in-ios-and-os-x/

[2016-04-04 21:32] tracicot commented on #114
All you'd need is to provide that feature, and Alfred power users could make a shortcut to hook into the wwdc app themselves. Or I could make it and post it on the Alfred workflows forum and you could link to it.

[2016-04-18 09:57] chandanankush opened #120 "Integration with existing downloaded videos"
Hi Team,
First of all thanks for creating such a very good tool to watch wwdc sessions.

 I just have a simple enhancement request, i don't know whether it is already there. If it is there please let me know how to do that ?

So what is my problem is the videos i have already downloaded WWDC videos. can i map those wwdc sessions directly with this app.

I have downloaded all the videos 12 months b

[2016-04-18 15:19] insidegui commented on #120
I think if you put the files in the folder where the app is looking for the videos It should work, assuming the filenames match. You can set the folder in preferences.

[2016-04-23 04:09] zhenglaizhang commented on #120
@insidegui That's cool the app support the importing of existing sessions, thanks for the great work here. I just met with the same issue and so lucky i searched here and got this.
How about adding the instruction to readme or make it explicit in the app's work flow?

[2016-04-27 06:31] phiren opened #121 "don't find way for downloading SD video"
Hi

don't find way for downloading SD videos, tapping on download button, it downloads HD video only.

[2016-04-27 14:02] insidegui commented on #121
The app only downloads HD videos and I have decided to keep It that way.

[2016-04-27 14:02] #121 closed

[2016-05-12 05:54] tkrajacic opened #122 "Trying to download videos from 2013 fails"
When I download a video from 2013 the task stays without progress forever.
Looking in the console reveals that the nsurlsession task fails with error -1008 which is afaict "Too many redirects"

Do the URLs need to be updated?

On a sidenote, the 2012 videos are also available on Apple's site, so the app should display a download button for them I guess?

[2016-05-14 22:47] peterkos opened #123 "Suggestion: Embed video in selected event page?"
Instead of having the video popup over the rest of the application and obscure it from the user's view, could the video be embedded within the event page?

![wwdc_eventpackmockup](https://cloud.githubusercontent.com/assets/2782749/15271044/fa89a49a-1a03-11e6-8883-073aa58c7cb2.png)

(it was by coincidence that the NSCollectionView video was the same example shown in the readme)

[2016-05-14 22:59] peterkos commented on #114
Something like this?
[code]
... with optional filters (to an extent). For instance, if the session name is supplied, there's no need to look for the year, track, and focus if the video already exists. Alternatively, if only the track, focus, or year are supplied, then return an array of possible options. (I haven't used Alfred before and am not sure of the context of this implementation)

For impl

[2016-05-20 18:41] JoshHrach opened #125 "Crash when selecting an un-favorited video"
Have a list of videos that have been added as favorites. Filter the list is filtered to show these. Then select the last item in the list and remove it as a favorite. The filter doesn't update live, thus meaning that video stays in the list (this is true for any video in the list that you remove as a favorite). However, if you select another video and then select the last one again, it crashes the

[2016-05-25 02:31] UberJason opened #130 "AirPlay icon misplaced beneath playback speed"
See screenshot below: the AirPlay button is beneath the playback speed button, which means it's not possible to AirPlay this video because only the playback speed button registers the click.
![airplay](https://cloud.githubusercontent.com/assets/5779307/15526339/38488c3a-21ff-11e6-9af9-aeeb341fc7ee.png)

[2016-05-25 02:52] #120 closed

[2016-05-25 14:52] #125 closed

[2016-06-06 06:46] EliyahuStern opened #132 "Add schedule of upcoming WWDC events / sessions"

[2016-06-06 15:02] natecook1000 commented on #132
@insidegui Don't know if it helps before it's live on the web service, but there's a branch here with the (mostly redacted) 2016 sessions: https://github.com/ASCIIwwdc/wwdc-session-transcripts/tree/wwdc2016

[2016-06-06 15:06] insidegui commented on #132
Hi people! I'm working on It. Apple's API already provides the list of sessions so getting It is not a problem. The code part is relatively straightforward, I'm actually having more trouble deciding how to do it in terms of UX, but we'll have the schedule up before next monday 😅

[2016-06-06 15:18] peterkos commented on #123
I'm not sure if the custom player view should be discarded altogether (as the transcript would be available right below the video), or just have the transcript functionality disabled in the windowed view.

This might help fix #130, as in testing the bug didn't exist, so it's something to do with the custom view layout.

[2016-06-06 15:21] insidegui commented on #130
I fixed this by simply removing that button, It never looked right to me since the player shows the current speed when It's changed. To cycle between playback rates there's a menu option now with shortcut:
![captura de tela 2016-06-06 as 12 20 37](https://cloud.githubusercontent.com/assets/67184/15827246/225985fa-2be1-11e6-82ff-a21cb9b21c8b.png)

[2016-06-06 15:21] #130 closed

[2016-06-06 15:23] insidegui commented on #123
@peterkos I never used a fully custom player view, the only thing that changed was that ugly speed button but I fixed this with the last update by moving the option to a menu item. I already have a new player implemented (It's in the `WWDCPlayer` framework) and It can start playing within another view and can be detached to another window. You can see how It's going to work here: http://twitter.co

[2016-06-07 03:06] insidegui commented on #132
Here's what I've done:

The scheduled sessions are listed on the sidebar, ordered by date and time. They look different from the videos and when the session is live there is a "live" indicator (screenshot above).

**Only sessions with an associated video are shown**, therefore the labs are not. Since this app is mostly focused on the videos and live sessions I don't think this is a major issue.

!

[2016-06-07 03:06] #132 closed

[2016-06-07 03:09] brunov0id opened #133 "Question: App will not save favorites ?"
When I favorite a video, then I close WWDC app, after when I open again, the app does not keep the favorites saved. It's correct ?

[2016-06-07 03:11] insidegui commented on #133
It's a bug, probably solved by some of the changes I've made today. The update will be live soon.

[2016-06-07 07:08] EliyahuStern commented on #132
Thanks, looking great!

I was able to build this one from source, but `brew cask update wwdc` didn't work. When will it be available in brew?

[2016-06-07 12:32] insidegui commented on #132
I think brew gets the release version. The release will be available later today ;)

[2016-06-07 12:33] insidegui commented on #132
@EliyahuStern Be sure to update to the release version as soon as It's out because the debug version may not update correctly.

[2016-06-07 16:10] brunov0id commented on #133
Thank you 👍

[2016-06-07 17:51] insidegui commented on #133
This issue is fixed in 4.0. Let me know if you have any problems.

[2016-06-07 17:51] #133 closed

[2016-06-07 19:15] invariant opened #134 "Download is not properly signed, triggers gatekeeper warning."
<img width="532" alt="screen shot 2016-06-07 at 20 14 41" src="https://cloud.githubusercontent.com/assets/17520/15871430/816c884c-2cec-11e6-96a6-21a92dd62f95.png">
RB App Checker Lite:
![screen shot 2016-06-07 at 20 14 22](https://cloud.githubusercontent.com/assets/17520/15871416/73b11d94-2cec-11e6-8b6b-4faa633cb76d.png)

[2016-06-07 19:28] insidegui commented on #134
Looks like Xcode decided to bundle Fabric and Crashlytics with the app instead of just linking, I think that's the problem. Thanks for letting me know!

[2016-06-07 19:34] #134 closed

[2016-06-08 06:44] invariant commented on #134
Nice one, I confirm that the current build (4.1.1) validates fine.

[2016-06-08 20:21] jarrydfillmore commented on #122
Same here!

[2016-06-09 02:53] #50 closed

[2016-06-09 02:53] #70 closed

[2016-06-09 02:53] #99 closed

[2016-06-09 02:53] #106 closed

[2016-06-09 02:53] #105 closed

[2016-06-09 11:31] chandanankush opened #135 "App crashes when select a video and click on watch video button"
Here is detailed crash log..

Process:               WWDC [10350]
Path:                  /Applications/WWDC.app/Contents/MacOS/WWDC
Identifier:            br.com.guilhermerambo.WWDC
Version:               4.1.2 (412)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           WWDC [10350]
User ID:               867472751

Date/Time:             2016-06-09 17:00:54.

[2016-06-09 14:50] insidegui commented on #135
What live video? There was nothing live recently...

[2016-06-09 16:52] chandanankush commented on #135
It is with any video, i am not able to view any video. All other features like downloading of video and slides are working fine.

[2016-06-09 16:59] insidegui commented on #135
Can you please record a screencast of this happening so I can see exactly what's going on? You can use QuickTime to record your screen and upload it to Dropbox or Cloud.ly

Thanks!

[2016-06-09 18:58] chandanankush commented on #135
Dropbox link for video url
https://www.dropbox.com/s/251sicz62udi9sk/Crash_report_2.mov?dl=0

[2016-06-09 19:38] insidegui commented on #135
It seems to be a problem with 10.10, I will try to solve It before next week. Thanks for your help!

[2016-06-10 00:27] SoneeJohn opened #136 "Inconstancy with downloads from pre 2013"
Using the latest release of the application (4.1.2 at the time of writing) the following happens:

- Right click on a session from pre 2013 (e.g. 2011) and the contextual menu has a download option.
 - However, the right split view, that has additional details does not contain a download button.

I uploaded screenshots to demo this. Note videos from pre 2013 cannot be downloaded therefore, having

[2016-06-10 03:28] insidegui commented on #136
I am aware of this, It is a usability issue and will definitely be fixed. Thanks for reporting.

[2016-06-10 14:26] SoneeJohn commented on #136
@insidegui I think if fixed this with this PR: #137

[2016-06-10 17:20] #135 closed

[2016-06-10 17:37] insidegui commented on #135
Fixed with [latest release](https://github.com/insidegui/WWDC/releases/download/4.1.3/WWDC_v4.1.3.zip)

[2016-06-13 21:28] return opened #139 "Suggestion: Add to Calendar option for Live Sessions"
It would be helpful to have an option to add a Live session directly to Apple Calendar. So that the user can be alerted on whether if the session has started.

[2016-06-13 21:41] dstd opened #140 "Float on Top not working for Live window"
While `Float on Top` menu item is available for previous years' video, it is disabled for today's live broadcast 😔

[2016-06-13 21:43] insidegui commented on #140
Not implemented yet on the new player. Will update soon ;)

[2016-06-13 23:52] #139 closed

[2016-06-13 23:52] #140 closed

[2016-06-14 00:45] agucova opened #141 "Access to this event store is unathorized"
So, whenever I try to click "Create Reminder", I get this:
![Bug?](https://i.imgur.com/aPdHtkW.png)
I installed via brew cask, and I'm running OSX 10.11.15 (El Capitan).

[2016-06-14 00:47] insidegui commented on #141
It should have asked permission to you on the first try to allow calendar access. Check in System Preferences > Security & Privacy > Privacy, under "Reminders" if WWDC is listed there and checked:

![captura de tela 2016-06-13 as 21 47 05](https://cloud.githubusercontent.com/assets/67184/16027894/6b3daa24-31b0-11e6-83cc-5764f08e7657.png)

[2016-06-14 01:23] agucova commented on #141
Maybe I upgraded from an older version without requiring permissions? Look:
![Emmm.....](https://i.imgur.com/qMFeOqw.png)
Its in Spanish, but you can see the app it's not even listed. (neither on calendar or accessibility)

[2016-06-14 01:26] insidegui commented on #141
That is weird, the system should show you a dialog asking for your permission if the app is not listed in there. I had the old version and It worked for me.

I will craft a special build for you to run on your system to diagnose this issue, I'll send It here tomorrow. Thanks for reporting!

[2016-06-14 18:07] insidegui commented on #141
Please [run this special build of the app](https://dl.dropboxusercontent.com/u/452482/WWDC_141_b1.zip) and try to create a reminder for any of the scheduled sessions. Make sure to close the current version of the app if It's already running.

After you run and click the "Create Reminder" button there will be a file on your Desktop named `WWDC_Reminders_Log.txt`, please send me the file or It's con

[2016-06-15 00:41] brunodlz opened #143 "Question: why did my favorites disappeared ?"
Hey, day before yesterday I received a new update, however I had several favorites marked before upgrading, now I just have a favorite.

[2016-06-15 00:44] insidegui commented on #143
Sorry about that, do you have backups? If you do, let me know and I'll try to help you recover your data.

[2016-06-15 01:08] brunodlz commented on #143
No problem, I just updated the app, I do not remember their backup.

[2016-06-15 01:11] insidegui commented on #143
Hm, ok. But if you have a time machine backup It's recoverable 😅

[2016-06-15 01:25] brunodlz commented on #143
Sure, in the next update, I will backup the favorites 😅
Thank you.

[2016-06-15 02:03] #143 closed

[2016-06-15 06:54] sourabhshroff opened #144 "No option To Download Quality (SD/HD)"
When I want to download it directly start downloading. There is should be someway to configure format to download SD video or HD video.

Normally I prefer downloading HD videos as it consume too much bandwidth.

[2016-06-15 11:31] vitorgalvao opened #145 "Forgetting favourites after sessions occur."
For the second time this WWDC, the app has forgotten some of my favourites.

I favourited all the sessions I want to see, even the ones that haven’t happened yet. Today, I checked the app and all my favourited sessions that already happened (but that I haven’t seen) were gone from the favourites. Only the ones that haven’t happened yet stayed favourited.

[2016-06-15 13:59] insidegui commented on #144
This is a design decision: the app only allows downloading HD videos.

[2016-06-15 13:59] #144 closed

[2016-06-15 14:42] #145 closed

[2016-06-15 14:42] vitorgalvao commented on #145
Thank you.

[2016-06-15 14:43] insidegui commented on #145
Release will be up soon. Sorry about that!

[2016-06-15 14:49] vitorgalvao commented on #145
No problem. Thank you again for the quick fix and the great app.

[2016-06-15 15:22] benjamincrozat opened #146 "Missing ⌘H shortcut"
I'd love if this could be fixed. I prefer hiding windows over minimizing and more important, most apps support it anyway.

Keep on the good work!

[2016-06-15 15:38] insidegui commented on #146
I use ⌘H all the time, It works here...

[2016-06-15 15:38] DimaVartanian opened #147 "100% CPU usage in some cases after waking computer up? (possibly related to background downloads)"
I left the WWDC app running last night and put my computer to sleep. When I woke it up this morning, everything was halted to a stand still. I was able to open the activity monitor and saw that the WWDC app was using 115% CPU with 21 threads (not sure how relevant that second bit is but it seems to be using about half those threads under normal conditions). All other apps were using their normal a

[2016-06-15 15:40] insidegui commented on #147
Who knows, that's a hard one to reproduce, debug and fix, definitely not gonna have time for It now. Thanks for reporting tho.

[2016-06-15 15:46] DimaVartanian commented on #147
Yeah just wanted to get a record of it in case it comes up again later, no worries :)

[2016-06-15 16:06] MuscleRumble opened #148 ""Mark as watched" resets randomly"
This is hard to reproduce, but sessions "marked as watched" don't stay that way. They randomly get "unwatched", probably when quitting/starting the app again. It's also not consistent. It happens all over the place, not only for recently marked sessions. That means, sessions that I've marked weeks/months ago randomly get unmarked.

For older sessions this is really unfortunate, because I can't rem

[2016-06-15 16:34] insidegui commented on #148
Can you confirm this is happening on the latest release (4.2.2)? There was a bug with favorites which also affected watched status, I released 4.2.2 today.

[2016-06-15 17:56] MuscleRumble commented on #148
Thanks! I've updated the app and I'll keep an eye out on this issue. 😄 I'll just reopen this issue, if the bug reappears. Thanks for your great work!

[2016-06-15 17:56] #148 closed

[2016-06-15 22:01] bre7 commented on #86
Bump

Not sure how but Airflow does it: airflowapp.com

[2016-06-15 22:05] insidegui commented on #86
I don't have a Chromecast to test with :/

[2016-06-15 22:20] bre7 commented on #86
Is there a way to "Open location in Finder" for saved sessions ?

[2016-06-15 22:22] insidegui commented on #86
No but you can see/set the path in Preferences.

[2016-06-15 22:56] bre7 commented on #86
Thanks. So apparently they use a custom library. VLC has plans to add casting to all of their products so I guess they could update https://code.videolan.org/videolan/VLCKit at some point. Airflow is the way to go for now....Why can't Google just publish a library for desktop casting without Chrome 😢

[2016-06-15 23:26] bre7 opened #149 "UX improvements"
Minor UX improvements:

* Disable menu options taking into account the clicked item's current status (e.g: Disable "Mark as unwatched" if the element isn't marked as watched)
* Update progress on the tableview while a video is being downloaded. Might trigger too many tableview reloads when downloading multiple files.

[2016-06-15 23:41] insidegui commented on #149
There's already a pull request implementing your first suggestion (I think), but we're not doing any major changes to the app during this week for obvious reasons. After this WWDC is over this app is going to get a major overhaul with lots of improvements :)

Thanks for contributing!

[2016-06-16 00:42] bre7 commented on #149
I'll comment directly on #137 for the first point ;)

Awesome !

[2016-06-16 15:15] juanpdelat opened #150 "Sync user data between multiple computers"
I'd love to be able to synchronize the videos' status between my home and work computers so I don't have to go to the list and check which ones I have already seen.

[2016-06-16 15:17] insidegui commented on #150
Now that apps outside the AppStore can use iCloud this has become possible, so It's definitely coming in the future :)

[2016-06-16 15:17] peterkos commented on #150
Could this possibly be implemented with CloudKit so users wouldn't have to sign-in?

[2016-06-16 15:18] insidegui commented on #150
Yeap, the only reason the app doesn't have syncing yet is the lack of iCloud support for apps distributed outside the store.

[2016-06-16 15:42] uraimo opened #151 "Issues related to downloads"
Thanks for this useful app, a few things i noticed related to downloads:
- The pie chart download indicator seems to be partially broken (always has been afaik), sometimes the progress shown is from one the other downloads (e.g. new download, shows the progress of some other file)
- When the download completes and the file is moved to its final location the UI freezes. Other than doing this final

[2016-06-16 15:45] insidegui commented on #151
This part of the app is going to be completely redone on the next major release.

[2016-06-17 15:37] philippec opened #153 "Main window is named "Untitled" in the Window menu"
If you pull down the "Window" menu, you will notice that the main window is listed as "Untitled".

[2016-06-17 15:39] insidegui commented on #153
😆

[2016-06-17 16:06] insidegui commented on #153
Do you mean the about window? The main window shows as "WWDC" and all other windows have their correct titles, but the about window shows up as "Window".

[2016-06-17 16:39] philippec commented on #153
No, I do mean the Main window. Here's a screenshot. Note that this is on macOS Sierra, so maybe it's OS-dependent. I should have said that before, sorry!

<img width="1280" alt="capture d ecran 2016-06-17 a 09 37 36" src="https://cloud.githubusercontent.com/assets/74659/16157871/5b235e9c-346f-11e6-84a6-1d5226833e64.png">

[2016-06-17 16:41] insidegui commented on #153
I see, maybe It's a beta bug since It's working on El Cap, let's wait for the next releases...

[2016-06-17 16:41] #153 closed

[2016-06-17 17:41] D-32 opened #154 "Download Storage"
Hi, awesome app!
Just a quick question: where are the downloads saved to?

[2016-06-17 17:52] insidegui commented on #154
You can see and set the downloads folder in preferences.

[2016-06-17 17:52] #154 closed

[2016-06-17 20:31] EvgenyKarkan commented on #150
@juanpdelat, I guess you love your working place, cuz you can watch WWDC at work :)

[2016-06-17 21:21] bgerstle commented on #149
@insidegui do you plan to publish a feature roadmap so people interested in contributing can coordinate on the improvements you have in mind?

[2016-06-17 21:22] insidegui commented on #149
Yes I do, I should have done It already 😆

[2016-06-17 21:24] bgerstle commented on #149
Not like there's anything important going on right now 😜

[2016-06-17 23:37] tonyarnold opened #155 "Allow cancelling and removing downloads (not just pausing them)"
It would be great to be able to cancel, remove and clear downloads I don't want to complete. Right now, I end up with screens of "Paused" downloads.

<img width="593" alt="screen shot 2016-06-17 at 16 35 05" src="https://cloud.githubusercontent.com/assets/4802/16167433/b814b8f0-34a9-11e6-97f4-0997f6d14582.png">

(Is there a way to clear these in the current release?)

[2016-06-17 23:41] insidegui commented on #155
Select the download(s) and press delete 😉

[2016-06-17 23:41] #155 closed

[2016-06-17 23:42] tonyarnold commented on #155
One. At. A. Time.

Want a separate issue for that? I know you're planning on rebuilding this component post WWDC16.

[2016-06-17 23:45] insidegui commented on #155
Yes, please. I didn't realize It since I don't use this feature much 🙃

[2016-06-18 01:49] tonyarnold opened #156 "Crash when pressing delete in download window with no selection"
[code]

[WWDC_2016-06-17-164403_Tonys-MacBook-Pro-2.crash.zip](https://github.com/insidegui/WWDC/files/321519/WWDC_2016-06-17-164403_Tonys-MacBook-Pro-2.crash.zip)

[2016-06-18 01:52] tonyarnold opened #157 "Allow multiple selection in download window"
Currently the download window only allows selecting a single item. This makes deleting a number of items quite hard and time consuming.

It would be great to active the ability to select multiple items, and delete them.

[2016-06-18 17:37] Sun3 opened #158 "Remember Filters next time app opens"
I would like to request new feature that the selected Filters (like year of wwdc) are remembered next time you open up the app.

Thank you for a great app.

[2016-06-19 17:14] SoneeJohn opened #161 "Trouble building project"
Using Xcode 7.3.1 on macOS 10.11.6:

Clone project (changed directory to ~/Desktop/test):

```git clone --recursive https://github.com/insidegui/WWDC.git```

Output:

[code]

`pod install`

Output:
[code]
Opens workspace and attempts to build project, got these errors:
`Could not build Objective-C module 'Realm'`
` Umbrella header 'Realm.h' not found`

[2016-06-19 17:17] insidegui commented on #161
I see, you're using a beta OS. You should always use the latest stable OS release when working on this project since many of the tools used to build It may not support the first developer beta yet. I will migrate the project to the new toolchain in macOS later (probably when the public beta gets released).

[2016-06-19 17:17] #161 closed

[2016-06-19 17:17] insidegui commented on #161
I will add a note to the readme about this.

[2016-06-19 17:39] #149 closed

[2016-06-19 18:52] benjamincrozat commented on #146
So you close this issue assuming that I'm hallucinating? Very good attitude.

Anyway, I think the app is great so I take the time to give you the steps to reproduce: two screens, the main window on the main screen, and a fullscreen video playing on the second screen. You can't hide the main window (you have to close it or minimize it).

[2016-06-19 18:57] insidegui commented on #146
Fuck you (and your two screens).

[2016-06-19 19:22] insidegui opened #162 "[DISCUSSION] Roadmap"
I've added the [roadmap](https://github.com/insidegui/WWDC/blob/master/ROADMAP.md) for what I would like to do for the next major release.

I would like to get opinions on the roadmap and possible additions, if you want to contribute to the future of the project, please give your thoughts.

Thanks!

[2016-06-20 06:00] iandundas opened #163 "Resume downloads after relaunching app (instead of marking incomplete: "Complete")"
Currently quitting and relaunches the app marks all downloads that were "In Progress" as completed. Trying to play the video shows that the video is broken. The falsely "completed" files are all 3KB in the Application Support folder.

Either:
- resume the downloads on relaunch, or
- clear the incomplete files and restore state as not downloaded (less good)

otherwise all excellent. Thanks!

[2016-06-20 06:06] insidegui commented on #163
The app should resume the downloads when relaunched, [here's It working on the latest version (4.2.4)](https://www.dropbox.com/s/6r67n2qr8o7eunp/DownloadResume.mov?dl=0).

Can you give me more details about your setup (OS version, computer model, internet connection, etc)?

[2016-06-20 06:20] iandundas commented on #163
Just updated to 4.2.4 - previously had a release from a few days ago. Let me check it now

[2016-06-20 06:20] iandundas commented on #163
Yes - works now. Will keep an eye on it, seems great now. Cheers

[2016-06-20 06:21] insidegui commented on #163
If you encounter this problem again, just reopen the issue. Thanks.

[2016-06-20 06:21] #163 closed

[2016-06-20 14:32] isolution-de opened #164 "Sessions named equally from different years"
There seems to be a problem with sessions from different years that already exist in the video directory. I have the "Platforms state of the union" from 2015 in the directory and the app thinks this is the video from 2016 AND 2015. Maybe there should be different subdirectories for each year?

I downloaded last years videos with last years version of the app, installed the new version and set the

[2016-06-20 15:05] insidegui commented on #164
You're having a problem with the downloads because the session titles are the same, It's interesting that no one had noticed this yet 😅

It's definitely a bug and should be fixed, your idea of using directories sound good.

[2016-06-20 17:23] kylegrussell opened #165 "Unable to view transcript with video"
While watching a video if you select View > Transcript the app crashes
v4.2.4

[2016-06-20 17:31] insidegui commented on #165
What OS are you running and which video did you try to open the transcript for?

Thanks!

[2016-06-20 17:39] kylegrussell commented on #165
El Capitan v10.11.2
I tried the Keynote, What's New in Swift, What's New in Cocoa and Getting Started in Swift (all from 2016). The app crashed on all the videos. I went into Preferences and reindexed the transcripts as well in case that might help.

[2016-06-20 17:41] insidegui commented on #165
The transcripts are not available for this year's sessions yet, but the app should not crash, it should just do nothing in this case. I don't know why it's crashing on your system...

[2016-06-20 17:44] insidegui commented on #165
[Fabric](https://fabric.io) just sent me your crash logs, I know what's happening. Fix coming soon.

Thanks for reporting ✌🏼

[2016-06-20 17:48] kylegrussell commented on #165
Gracias! Yeah I figured the 2016 transcripts weren't available yet after I tried a few videos but then it started crashing.
Love the app though!

[2016-06-20 17:56] #157 closed

[2016-06-20 17:56] #165 closed

[2016-06-20 19:22] AndrewSB opened #166 "Brew cask install fails"
Currently the brew cask install is failing for me, I've tried `brew update`ing. I am on macOS Sierra, but I don't think it's related to that, seems like an issue with the zip maybe?

[code]

[2016-06-20 19:24] insidegui commented on #166
@nanoxd can you take a look at this? Thanks!

[2016-06-20 19:26] AndrewSB commented on #166
Was able to download the zip from the Github release page fine.

Also I noticed that brew doesn't have the latest version of the WWDC app

[2016-06-21 07:34] arthurhammer opened #167 "Crash when opening video via URL"
e.g. wwdc://2016/223

WWDC 4.2.4
OS X 10.11.5

**Update**: Gave it a quick look. The problem is `VideoWindowController` [here](https://github.com/insidegui/WWDC/blob/master/WWDC/URLSchemeHandler.swift#L57) goes out of scope and is dealloced while the video starts/plays. If you put it as a property on the `URLSchemeHandler`, it doesn't crash. But I don't know if that would be the right place for it

[2016-06-21 08:01] arthurhammer commented on #161
I'm seeing the exact same issue and I'm not on the beta. I'm on El Capitan, 10.11.5.

[2016-06-21 08:29] arthurhammer commented on #161
Alright, seems to be working now. Removed derived data, cleaned the project, deintegrated and then reinstalled pods.

[2016-06-21 10:43] insidegui commented on #161
Yeah Xcode can be tricky sometimes, when you have issues like this just delete all derived data and module cache and try again ;)

[2016-06-21 10:44] insidegui commented on #167
Good catch! ✌🏼

[2016-06-27 11:03] uchuugaka commented on #141
Check the code signing. If it's broken after install you might not get some things to work.

[2016-06-27 16:11] Nyoho opened #168 "Moving to the exact next/previous pages in slides"
I would like to move the _exact_ next or previous page in the slide view when I look at slides PDFs. Now space key works as a halfway moving in slide view.
I wrote some lines to WWDC/PDFWindowController.swift to add a feature of moving the exact next or previous page of the PDF.  Could I create a pull request about that?

[2016-06-27 16:28] insidegui commented on #168
Sure! :)

[2016-06-27 16:38] Nyoho commented on #168
Thank you! I've created a pull request (169).

[2016-06-27 18:17] walkerwzy opened #171 "was it able to select subtitles other than English?"
like Chinese?

[2016-06-27 18:36] insidegui commented on #171
Some sessions have subtitles in various languages (including Chinese), but not all of them. The sessions from 2015 do have Chinese subtitles but this year's sessions don't.

[2016-06-27 18:36] #171 closed

[2016-06-28 03:45] walkerwzy commented on #171
yes, I watched some 2015 sessions, and it do have Chinese subtitles but, only in the low definition version. the HD version still only have English subtitle, what's the reason?

[2016-06-28 14:03] insidegui commented on #171
I don't know. The videos come straight from Apple's server, there's nothing I can do in this case :/

[2016-06-28 23:53] deepumukundan opened #172 "Downloaded videos list does not reflect the latest"
![screen shot 2016-06-28 at 4 49 46 pm](https://cloud.githubusercontent.com/assets/1459484/16436159/67e0f100-3d50-11e6-8f25-aa71f002160c.png)

Attached screenshot. Here I have toggled to show only downloaded videos. I only have the 3 with the blue icon on the right on my mac. The rest I had downloaded, watched and deleted. The list is not picking up the right contents even after a reboot.

Is the

[2016-06-28 23:54] insidegui commented on #172
The app monitors the downloads folder but the search results come from the database which should be updated when the files change, but looks like we have a bug in this process 😁

[2016-07-01 12:59] phiren commented on #121
ok, found one way
File: DownloadProgressViewController.swift
Function: download

@IBAction func download(sender: NSButton) {
        if session == nil {
            return
        }

		if let url = session.hd_url {
            print("The url is.....\(url)");
			//VideoStore.SharedStore().download(url)
		}
	}

It prints video URL, just change _hd_ with _sd_ and it works :)

[2016-07-02 13:33] aceneerav opened #173 "quit app. rebooted mac. app not set to launch on its own. yet it launches process to continue downloads in background."
![screen shot 2016-07-02 at 7 00 17 pm](https://cloud.githubusercontent.com/assets/2323035/16540585/99b93bc6-4087-11e6-840b-cda06f36d5db.png)

[2016-07-02 14:13] insidegui commented on #173
This is standard behavior of Apple's NSURLSession.

[2016-07-02 14:13] #173 closed

[2016-07-02 15:07] aceneerav commented on #173
But how is the NSURLSession initiated without the app being launched after a reboot?

I have made an iOS app so not sure how it works on os x

[2016-07-02 15:39] insidegui commented on #173
When the app is terminated with a pending download task, the system keeps the NSURLSession daemon running to finish the task.

[2016-07-02 16:11] aceneerav commented on #173
But how does it launch the task after reboot when the app hasnt been launched yet?

[2016-07-02 16:39] insidegui commented on #173
It's a system thing, I don't know how it's implemented, I don't work at Apple...

[2016-07-05 06:27] Leon16 opened #174 "The video does not have the transcript synced with AsciiWWDC"
I am running the WWDC 4.3 and try to play one of the session video. However there is no option for me to show the synced transcript from ASCiiWWDC. The only transcript is from within the video

[2016-07-05 13:25] insidegui commented on #174
Which session are you trying to watch?

[2016-07-06 06:49] Leon16 commented on #174
I was viewing session 208  What's New in watchOS 3 of WWDC 2016. I thought I need to download the video and allow the app to do indexing. I did it but still could not see the sync'ed transcript

[2016-07-15 16:33] mackuba opened #175 "fix ordering sessions by year and id"
It seems the ordering has been recently changed (https://github.com/insidegui/WWDC/commit/26982f3f60b0bc90060a78f5e9760f4f132e794d) to sort the sessions using the `schedule` property. However, this doesn't seem to make much sense to me, at least now, after the WWDC has ended. This is how the list looks now: 101, 102, 103, 401, 201, 202, 402, 801, 701, 601... At first glance they don't seem to be o

[2016-07-15 17:36] mackuba opened #176 "prefix downloaded video names with a year (or add subdirectories)"
Currently the videos are saved with their original names, but this creates naming collisions between videos from different years. I had the 2015 keynote downloaded, and the app showed that I have the 2016 keynote - I removed it, redownloaded the 2016 keynote, and now it's still showing that I have both keynotes, even though I only have the new one :)

[2016-07-22 06:29] pahnev commented on #147
I had similar experience. I set the app to download a bunch of sessions and then put the computer to sleep. When I woke the computer the downloads were no longer progressing.

I just quit the app and forgot about the whole thing. Next morning after a while, I started getting warning that my disk was almost full. The downloads started again, but for some reason they were filling up the cache folder

[2016-07-22 14:02] insidegui commented on #147
Looks like an issue with Apple's `NSURLSession` background downloads, I'll search around and see if anyone has had this problem before. Thanks for the information.

[2016-07-26 15:37] chenzhijie opened #177 "Build issue on Xcode7.2, OS10.10.5"
Hello! I clone the repo recursive and pod install after pull the source code.  When I build it in Xcode7.2 ,some swift syntax errors happen. My mac os is 10.10.5.

Error message:

expected expression after operator
                if selector == #selector(NSURLSessionDelegate.URLSessionDidFinishEventsForBackgroundURLSession(_:)) {
                               ^
error: braced block of statements

[2016-07-26 15:50] insidegui commented on #177
Hi! The app does not support 10.10 anymore and building it requires Xcode 7.3 or later and will soon require Xcode 8 or later.

[2016-07-26 16:27] sfsam opened #178 "Skip forward and backward by 15/30 seconds in video"
It would be useful to be able to quickly skip forward and backward in increments of 15 and 30 seconds. Could we have buttons on the video player (and keyboard equivalents) for this?

Particularly for technical material like WWDC videos, it is useful to be able to repeat what a speaker has just explained so you are sure you understand it.

Thanks for making a great app.

[2016-07-29 20:56] lmihalkovic opened #179 "Fix offline watching"
The app support downloading videos. During playback the viewer does not check if the video is local and systematically plays from the remote location.

[2016-07-29 20:57] insidegui commented on #179
Selecting "watch in HD" always plays the local file when available, but this is definitely an usability issue and should be fixed.

[2016-07-29 21:23] lmihalkovic opened #180 "Fix download cancellation"
When following the following series of steps
- start several downloads
- exist the app before the end
- restart

The following situation happened in several instances (not always): the download never completes and it is impossible to resume or cancel it from the downloads list.

[2016-07-29 21:28] #156 closed

[2016-07-29 21:29] insidegui commented on #180
Maybe this is related to #147

[2016-09-02 21:32] #177 closed

[2016-09-09 12:21] pkasson opened #181 "No longer see transcripts after re-indexed"
I downloaded many sessions, and moved them to a network storage place.  I THINK it is playing them fine (I changed the location in prefs), but, before I did that, I could see the 'transcripts' / video sections to jump to, but no longer do, even after re-indexing.

[2016-09-09 13:06] insidegui commented on #181
I don't thing moving the video files would have any effect on the transcripts. Have you tried re-reindexing?

Also, try moving the videos back to the default location and changing it on preferences to see if the problem persists.

[2016-09-09 21:59] #136 closed

[2016-09-13 12:44] funky-monkey commented on #167
+1

[2016-09-27 12:02] makoni opened #182 "Picture in picture"
Is it possible to update the app to make Picture in picture mode available for video player?

[2016-09-27 14:30] insidegui commented on #182
Not yet, I'm working on a big update for 5.0. If someone wants to send a pull request with this, fell free.

[2016-12-19 06:54] diejmon commented on #182
Looks like there is no open API for PIP in macOS Sierra. http://stephenradford.me/hacking-macos-sierras-pip/

[2016-12-19 14:07] insidegui commented on #182
@diejmon Correct. I'll have to implement it myself like I did for [Apple Events](https://github.com/insidegui/AppleEvents) or use the private API.

[2016-12-28 18:04] insidegui commented on #182
I will probably be using [PIPContainer](https://github.com/insidegui/PIPContainer) to implement this ;)

[2016-12-28 18:05] insidegui opened #183 "ChromeCast support"
Now that I have [ChromeCastCore](https://github.com/insidegui/ChromeCastCore), it should be possible to implement ChromeCast support :)

[2017-01-01 16:03] PaulWaldo commented on #164
@insidegui it was noticed, I just have been lazy reporting it 😳

[2017-01-01 16:04] PaulWaldo commented on #164
A folder per year would be very nice for organization.  I also link these videos to iTunes so I can play them remotely from my Apple TV.

[2017-01-15 17:09] Huang-Libo opened #184 "Crash when click download button"
![2017-01-16 01 05 13](https://cloud.githubusercontent.com/assets/12227130/21964494/066bccca-db88-11e6-9896-824c17e2d5dd.png)

I have changed "downloaded video folder" to my home folder when I first open WWDC app, but when I click download button the app will crash (array out of bounds)

[code]

[2017-01-15 17:19] Huang-Libo commented on #184
[code]

[2017-02-02 15:27] muescha opened #185 "Missing: Changing Playback Rate to normal rate"
I accidently activated faster playback rate

it was very hard to get it back to 1x rate.

i tried `cmd+shift+r` but not working. no changes.
i tried mouse click on the rate `2x`. but they changed from `2x` to `4x` up to `60x` but not cycle to `1x`
i tried to click `pause` then `play` - still on 2x
i tried to click on the backward play. but it switches from `forward 2x` directly to `backward 2x` i

[2017-02-02 15:28] muescha opened #186 "Missing: Link to this github repo in `About`"
where: `About WWDC`
what: Missing a link to this github repo in the info box

[2017-02-02 15:31] muescha opened #187 "Change Font Size"
i like to change the font size with `cmd -` or `cmd +` at lest at the session description. on big monitors it's very small

[2017-02-02 16:03] insidegui commented on #187
Can you send me a screenshot showing this issue? Thanks!

[2017-02-02 17:52] muescha commented on #187
i think it is normal size. but it is too small for my eyes.

with a browser like Chrome/Firefox i can fast increase the font and and all is ok for me.

thats why my feature request.

[2017-02-12 15:20] PaulWaldo commented on #176
I also experience this problem

[2017-03-07 23:26] sfsam opened #189 "Allow sleep when video is paused"
WWDC.app shouldn't prevent computer from sleeping when a video is paused. It is common to pause a video so you can get up from your desk to go do something else for a while. This is particularly important when you are on a laptop on battery power. Please re-enable sleep when a video is paused.

[2017-05-02 13:48] insidegui commented on #86
I'm closing this as a duplicate. ChromeCast support will be available on version 5 😉

[2017-05-02 13:48] #86 closed

[2017-05-02 13:58] insidegui commented on #189
This is being worked on for v5. Thanks for reporting.

[2017-05-02 13:58] insidegui commented on #186
This is being worked on for v5. Thanks for reporting.

[2017-05-02 13:58] insidegui commented on #183
This is being worked on for v5. Thanks for reporting.

[2017-05-02 13:58] insidegui commented on #182
This is being worked on for v5. Thanks for reporting.

[2017-05-02 13:58] insidegui commented on #178
This will be available on v5. Thanks.

[2017-05-02 13:59] insidegui commented on #176
This is solved in v5, which should be available before this year's WWDC ;)

[2017-05-02 13:59] insidegui commented on #175
This is fixed in v5, which should be available before this year's WWDC ;)

[2017-05-02 13:59] insidegui commented on #150
This is being worked on for v5. Thanks for reporting.

[2017-05-02 13:59] insidegui commented on #123
This is implemented in v5, which should be available before this year's WWDC.

[2017-05-04 19:35] VicenteBorrell opened #190 "Implement bookmark creation/edition"
* Create new bookmark: click “Add bookmark” icon
-> shows an empty bookmark over the progress bar with the blinking cursor
* Edit bookmark: Click inside the bookmark preview's text
* Save bookmark: Press enter while in editing mode
* Delete: drag and drop from the progress bar or press Delete key while selected (white circle)

[2017-05-15 09:31] JunyiXie opened #191 "crash when scroll!!!"

[2017-05-15 12:19] #191 closed

[2017-05-15 21:27] VicenteBorrell opened #192 "UI/UX design tweaks"
Don't be overwhelmed @insidegui , (I hope) they're easy to change :)

Tweaks:
- [x] Change session/video title font weight inside Cell to Medium.
- [x] Change session/video title font weight in Video Detail to Bold with -1 spacing.
- [x] Change Videos section icon to filled glyph when selected (it's in the UI Kit)
- [x] Change Video detail background color to black
- [x] Have a default window widt

[2017-05-15 22:31] insidegui commented on #192
Until we have another way for the user to go back to the currently playing session, I think this should be the default behavior. Otherwise we'll put the user into a situation where he/she must go through the lists trying to find where the hell the video is playing (similar situation to having a video playing on a browser somewhere and not knowing exactly which window/tab it is)

Just to be clear:

[2017-05-15 22:36] VicenteBorrell commented on #192
Yeah, I mean the X. When you return from PiP, it should go to the Video Detail, but if you close it, you don't want to go back to that view or the app if you are doing other things.

[2017-05-15 22:36] insidegui commented on #192
Also I noticed that Safari pauses the video when the PiP is closed using the "X", we should do that too (if I can figure out how to get the right callback)

[2017-05-15 22:39] VicenteBorrell commented on #192
Yeah, in the case the video is paused with X, it should show that video's detail.

[2017-05-16 22:17] VicenteBorrell commented on #192
Hey @insidegui !

I reviewed the latest alpha and some changes aren't working:
- Change session/video title font weight in Video Detail to Bold with -1 spacing.
- Picture in Picture placeholder text Title color should be the same as the icon, like on the Sketch design.

And you changed the color of the Video Player controls! (not sure if on purpose or not XD) Can you revert it to white, please?

B

[2017-05-22 02:35] insidegui commented on #192
@VicenteBorrell Please check with the [latest alpha (7)](https://github.com/insidegui/WWDC/releases/tag/5.0-A7) and update the issue 🤓

[2017-05-22 15:46] VicenteBorrell commented on #192
OK, I'll do it now 👍

[2017-05-23 20:44] VicenteBorrell opened #193 "Video aligns to top after maximizing it"
When you maximize a video, the video clips to the top and stays that way after going back to windowed mode.

[2017-05-23 20:46] VicenteBorrell opened #194 "Pausing with space pauses the current video but starts playing the previous one"
Actually starts playing all the previous videos, not just the previous one 😱

[2017-05-23 21:03] VicenteBorrell commented on #194
It may be a cause of the high memory use

[2017-05-23 21:25] VicenteBorrell commented on #192
I updated the list after reviewing the latest changes @insidegui 👍

[2017-05-23 21:57] VicenteBorrell commented on #193
<img width="972" alt="screen shot 2017-05-23 at 22 24 28" src="https://cloud.githubusercontent.com/assets/584834/26378139/8053034c-4013-11e7-92d2-618bd64b31d5.png">

[2017-05-23 21:59] VicenteBorrell commented on #192
Video title should look like this:
<img width="549" alt="screen shot 2017-05-15 at 23 34 02" src="https://cloud.githubusercontent.com/assets/584834/26378201/c7c68b2c-4013-11e7-8818-330a5970d9f7.png">

[2017-05-26 14:56] insidegui commented on #193
I was unable to reproduce this. Can you try it on the latest alpha?

[2017-05-26 15:12] VicenteBorrell commented on #193
Yeah, it happens in the latest alpha too (9)
You have to maximize the video (not the window) and then you see it. And when minimizing it stays like that.

[2017-05-26 15:14] insidegui commented on #193
It doesn't happen here. You mean putting the video in fullscreen, right?

[2017-05-26 15:16] VicenteBorrell commented on #193
Yes.

[2017-05-29 17:51] VicenteBorrell opened #196 "Filters are reset when changing tabs"

[2017-05-29 17:52] VicenteBorrell opened #197 "Chronological order is lost after filtering in Schedule (now alphabetical)"

[2017-05-29 18:11] VicenteBorrell opened #198 "UX/UI Tweaks #2"
- [ ] Replace button with “Play” label with button with Play icon to load video
- [x] Selecting a bookmark shouldn't start editing, but clicking on the text label
- [x] When selecting multiple options in a filter dropdown, text should be cropped and appended with … (otherwise sidebar keeps getting wider)
- [x] Sidebar can be hidden but can't be shown again (need to restart)
- [ ] Have an <All X> o

[2017-05-29 18:16] VicenteBorrell commented on #198
Again, these are less important. They are more or less ordered by priority.
I don't think they'll be hard to fix. I know you have a lot of work to do but if you can fix them it would be great! :)

[2017-05-29 18:18] insidegui commented on #198
Most of them are simple fixes, I think I can get almost all of them done 😉

[2017-05-29 18:18] #194 closed

[2017-05-29 18:18] #193 closed

[2017-05-29 18:18] #190 closed

[2017-05-29 18:19] #189 closed

[2017-05-29 18:20] insidegui commented on #185
With version 5, there's now a speed button on the video controls that cycles through the available speeds.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:20] #185 closed

[2017-05-29 18:21] insidegui commented on #182
PIP is available in v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:21] #182 closed

[2017-05-29 18:22] insidegui commented on #181
I'm closing this issue since it's not applicable anymore in v5. Please let me know if you find anything else on this new release. Thanks

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:22] #181 closed

[2017-05-29 18:23] insidegui commented on #184
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:23] #184 closed

[2017-05-29 18:23] insidegui commented on #179
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:23] #179 closed

[2017-05-29 18:23] insidegui commented on #175
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:23] #175 closed

[2017-05-29 18:24] insidegui commented on #178
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:24] #178 closed

[2017-05-29 18:24] VicenteBorrell commented on #198
Awesome! :)

[2017-05-29 18:24] insidegui commented on #162
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:24] #162 closed

[2017-05-29 18:25] insidegui commented on #147
Because of this (and other related issues), v5 doesn't have batch downloads anymore. Thanks for reporting!

I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:25] #147 closed

[2017-05-29 18:26] insidegui commented on #167
V5 doesn't use the custom URL scheme anymore, but it can open `developer.apple.com/wwdc/*` links, so I think this issue can be closed now. Thanks for reporting.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:26] #167 closed

[2017-05-29 18:27] insidegui commented on #172
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:27] #172 closed

[2017-05-29 18:30] insidegui commented on #176
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:30] #176 closed

[2017-05-29 18:31] insidegui commented on #146
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:31] #146 closed

[2017-05-29 18:32] insidegui commented on #123
Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:32] #123 closed

[2017-05-29 18:32] insidegui commented on #141
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:32] #141 closed

[2017-05-29 18:45] insidegui commented on #113
This is fixed in v5 with a preference.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 18:45] #113 closed

[2017-05-29 19:00] insidegui commented on #164
This is fixed with v5, the downloaded videos are separated in subdirectories for each year.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 19:00] #164 closed

[2017-05-29 19:40] insidegui commented on #187
V5 uses bolder and larger fonts so I think it fixes this issue :)

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 19:40] #187 closed

[2017-05-29 19:41] insidegui commented on #174
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 19:41] #174 closed

[2017-05-29 20:53] insidegui commented on #180
I'm closing this issue since it is not applicable anymore with the release of v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. [wwdc.io](https://wwdc.io)

[2017-05-29 20:53] #180 closed

[2017-05-29 22:22] insidegui commented on #198
I was unable to reproduce this

[2017-05-29 23:47] insidegui commented on #198
This is not possible without some serious hacking

[2017-05-30 00:47] #196 closed

[2017-05-30 00:47] #197 closed

[2017-05-30 00:49] #192 closed

[2017-05-30 00:49] insidegui commented on #198
Can you elaborate?

[2017-05-30 12:35] joshfriend commented on #198
Can the "lab" sessions be hidden by default? They have no video and make up the majority of the sessions in the schedule. The majority of people using this app are probably not attending WWDC, so they won't care when the labs are. The official WWDC iOS app already shows lab times for the people who actually do care.

[2017-05-30 13:10] insidegui commented on #198
I was already thinking about adding a preference to hide labs, sounds like a good idea. What do you think @VicenteBorrell ?

[2017-05-30 15:52] VicenteBorrell commented on #198
@insidegui
- When you go fullscreen window, the icon to go fullscreen video disappears
- I was talking about the background selection color (currently blue). No problem 👍
- I was referring to the Play button on the video before it starts playing

Yeah, we could hide Labs by default, but that wouldn't be the expected behavior @joshfriend
I think they can be visually skipped very easily. Maybe after

[2017-05-30 21:57] insidegui opened #199 "Tab bar should not be available"
Currently, the "show tab bar" menu option is enabled. Since the app doesn't support multiple windows/tabbing, this option should not be available.

[2017-05-30 21:58] insidegui opened #200 "Thumbnail loading needs improvements"
With the new version of Apple's API, they now have multiple image sizes, we can leverage that in the app to improve loading speeds and fix some hiccups that occur because of the fact that the app must create the thumbnails locally from a much larger version of the image.

[2017-05-30 21:59] insidegui opened #201 "Menu command to toggle sidebar only works for the first tab you use it in"
Title is self-explanatory.

[2017-05-30 22:00] insidegui opened #202 "Player UI needs improvements for live video playback"
When playing a live video, some options should be disabled / hidden like the timeline, the time remaining indicator, seek forward/backward, etc.

[2017-05-30 22:05] insidegui commented on #122
This is working on v5.

Version 5 is available as a pre release download now and users of the previous version will get the automatic update later this week. wwdc.io

[2017-05-30 22:05] #122 closed

[2017-05-30 22:13] insidegui opened #203 "Bookmark thumbnail is black when created on a streaming video"
When creating a bookmark on a video that's not downloaded, the thumbnail is all black. This is probably an issue with the method being used from `AVAssetImageGenerator`, I think using [https://developer.apple.com/reference/avfoundation/avassetimagegenerator/1388100-generatecgimagesasynchronously](this async method) may solve this.

[2017-05-30 22:17] insidegui opened #204 "Some code needs to be cleaned/removed after API changes"
Apple's WWDC REST API changed today and this meant I had to rewrite a lot of JSON parsing and a lot of the models and storage stuff. There is some dead code in there that's not used anymore and should be removed.

Some of the new code is messy and needs refactoring.

[2017-05-30 23:23] insidegui opened #205 "Sometimes videos are duplicated on launch and the app freezes"
Sometimes if the app was quit while on the videos tab, when launching it again it will go into a weird state where videos appear duplicated multiple times and the app is frozen for a few seconds.

![screen shot 2017-05-30 at 20 22 59](https://cloud.githubusercontent.com/assets/67184/26609122/cb4f1932-4575-11e7-93ff-63e8f6dba351.png)

[2017-05-31 13:01] insidegui opened #206 "Implement playlists"
The new version of the iOS app has playlists with curated sessions. We could add a new tab to the app called "Featured" that would contain these playlists.

[2017-05-31 15:37] insidegui opened #207 "Implement subtitles"
The subtitles button is not currently working, needs implementation 😬

[2017-05-31 15:39] insidegui commented on #166
Brew cask install has been updated to v5.

[2017-05-31 15:39] #166 closed

[2017-05-31 15:40] insidegui commented on #168
On v5 I decided to just open the slides on the default browser, I don't think it's worth to have a built in PDF viewer since there's Preview and other apps which are much better at that.

[2017-05-31 15:40] #168 closed

[2017-05-31 15:42] insidegui commented on #114
With v5, the app does not have a custom URL scheme anymore, but it does support `developer.apple.com/wwdc/*` URLs. Apple has its own scheme to open a video on a specific time, I think we should support that and add extra parameters for filtering.

[2017-05-31 17:27] insidegui commented on #151
I'm closing this since it's not applicable anymore with v5. If you see any other issues, please don't hesitate to report them.

Version 5 is available now on wwdc.io and the update for users of older versions will come later this week.

[2017-05-31 17:27] #151 closed

[2017-06-01 02:05] #199 closed

[2017-06-01 02:09] bcmn commented on #199
Now disabled.

[2017-06-01 03:07] Nyoho commented on #168
I see! I checked out the current master branch and It's good.

I feel easier to use a build-in viewer for slides because when I open the slides of the session that I'm watching, I want to operate the next/previous slide moving without switching to other apps (command + tab or something). But it's my personal feeling.

[2017-06-01 14:31] bcmn opened #208 "Rare Fatal NSInvalidArgumentException Thrown from VideoPlayerViewController.reset"
Description: "An instance of AVPlayer cannot remove a time observer that was added by a different instance of AVPlayer."

Apparent race condition.

[2017-06-01 14:40] insidegui commented on #208
Fabric link: https://fabric.io/canyon/mac/apps/io.wwdc.app/issues/592f1bafbe077a4dcc7e7efb?time=last-seven-days

Stack trace:

[code]

[2017-06-02 01:58] samingzhong opened #209 "Could I please ask how to cancel a downloading task?"

[2017-06-02 04:34] insidegui commented on #209
This is not implemented yet.

[2017-06-02 13:33] VicenteBorrell opened #211 "Schedule order tweaks"
* Group normal sessions at the top of a time section and group Labs at the bottom
* Order Labs by track within the group

[2017-06-03 03:20] insidegui commented on #208
Fixed in #210

[2017-06-03 03:20] #208 closed

[2017-06-03 04:21] #211 closed

[2017-06-03 19:29] bcmn opened #213 "NSInternalInconsistencyException"
https://fabric.io/canyon/mac/apps/io.wwdc.app/issues/592f6672be077a4dcc80e015?time=last-ninety-days

Fatal Exception: NSInternalInconsistencyException
dismissViewController:: Error: maybe this view controller was not presented?

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x7fff937fd2b3 (Missing)
1  libobjc.A.dylib                0x7fffa860848d (Missing)
2

[2017-06-04 05:35] itaen opened #215 "How do I change download path?"

[2017-06-04 06:49] samingzhong commented on #209
Come on guy!👍

[2017-06-04 15:08] VicenteBorrell opened #216 "Sidebar contextual menu"
Is there a way to mark as unwatched?
I think it could be done by right clicking on the session/video cell and selecting from a menu.
There could also be other options in the same menu like:
- Download / Delete download
- Mark as favorite / Remove from favorites
- Share

What do you think @insidegui ?

[2017-06-04 15:15] VicenteBorrell commented on #198
The sidebar can be hidden with by dragging the separator and the action to show it again is not enabled on the View menu @insidegui

[2017-06-04 15:53] insidegui commented on #216
Yes, I renamed this to "Sidebar contextual menu". In v4 you could select multiple sessions on the sidebar and use the contextual menu for these kinds of actions, it's not available yet because I didn't have time to implement it.

[2017-06-04 15:54] insidegui commented on #215
This will be available in the preferences soon.

[2017-06-04 15:54] insidegui opened #217 "Download folder customization in preferences"

[2017-06-04 15:54] insidegui commented on #215
This is duplicated in #217

[2017-06-04 15:54] #215 closed

[2017-06-04 16:02] VicenteBorrell commented on #216
OK!

[2017-06-04 22:08] #213 closed

[2017-06-04 22:24] insidegui commented on #217
This is implemented in v5.0.6

[2017-06-04 22:24] #217 closed

[2017-06-04 22:24] insidegui commented on #209
Implemented in 5.0.6. Thanks @CassiusPacheco

[2017-06-04 22:24] #209 closed

[2017-06-04 22:25] insidegui commented on #207
Implemented in 5.0.6

[2017-06-04 22:25] #207 closed

[2017-06-05 11:44] VicenteBorrell commented on #207
👏 👏 👏

[2017-06-05 14:30] cannyboy opened #220 "10.11 version?"
For those of us with 'senior' computers, is there a version which works with 10.11?

[2017-06-05 14:31] insidegui commented on #220
Unfortunately not.

[2017-06-05 14:31] #220 closed

[2017-06-05 17:04] muescha commented on #220
not nice :(

at least El Capitan would be nice because my iMac Begin 2009 i can not install macOS Sierra :(

[2017-06-05 17:05] munsonbh opened #221 "Screenshot Keystroke"
:-)

[2017-06-05 20:43] ocastx opened #222 "Show datetime in detail view"
It would be cool to see the date and time of the session in the detail view as well, because if you search for "Lab" in example you'll get different Lab videos in the schedule but you cannot see when they'll start.

I love the feature that it automatically translates the session time to my current local time but it would be even cooler when it would show it for the sessions in the detail view as w

[2017-06-06 02:56] lemonkey opened #223 "Add ability to mark a video as watched."
This will allow favorited videos to be filtered out if you've already watched them.

The older version of the app did this...

[2017-06-06 07:07] TofPlay opened #224 "Add notification when a video is available"
Hi,
Really nice application!!! 👍 😉
Can you send a notification when a video is available 🙏

[2017-06-06 09:12] fuzunspm opened #225 "App won't load anything"
It keeps loading without actually displaying anything on the app.

Version: 5.0.6

![screen shot 2017-06-06 at 12 11 24 pm](https://cloud.githubusercontent.com/assets/12132746/26822062/6c64bc92-4ab1-11e7-9e50-8917a2eaeea4.png)

[2017-06-06 14:37] sasikiran commented on #95
I currently have this issue on the latest version on Sierra. I have to manually disable screensaver and display sleep while watching videos.

[2017-06-06 15:28] joshfriend opened #226 "Applying filters hides session date/time information"
For those of us not at WWDC, seeing labs in the list is not useful, so the option to filter them out is great. However, filtering to just sessions hides all session date/time information so you can't tell when a session is going to happen. The nice section headers that group similar session times also disappear.

[2017-06-06 19:08] IanHoar commented on #226
Came here to report this as well. Would like to be able to see the session times when filtering favourites.

[2017-06-06 20:14] DevanB opened #227 "Searching prevents spaces"
I was perusing the Schedule tab today and needed to search for "Design Studio Shorts". To my surprise, I found that the search is preventing spaces. I'm assuming this is a bug, but I could be wrong. I wish I knew more about macOS app development because I'd love to detail where the problem may be and submit a PR.

Thanks for the app!

[2017-06-06 21:48] adamcleavey commented on #226
+1

[2017-06-07 14:47] zhangyuhangk opened #228 "Crash when hitting "Play" button"
It crashes every time when I hit the "Play" button, even for the videos that could play normally in the previous version. Here's the log.

Process:               WWDC [2793]
Path:                  /Applications/WWDC.app/Contents/MacOS/WWDC
Identifier:            io.wwdc.app
Version:               5.0.6 (560)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:

[2017-06-07 15:02] makoni commented on #205
For me the app freezes forever =(

[2017-06-07 15:48] #221 closed

[2017-06-07 15:49] insidegui commented on #225
What's the OS version?
Have you tried using a different network?
Anything in the console?

[2017-06-07 17:32] nRewik commented on #225
I have the same problem. It's the latest macOS Sierra.

[2017-06-07 19:50] unnamedd opened #230 "Add useful menu items, with associated keyboard shortcuts"
Shortcut suggestions
- [ ] Mark as watched
- [ ] Mark as unwatched
- [ ] Mark as favorite
- [ ] Next session
- [ ] Previous session
- [ ] Go to Filter
- [ ] Next Tab (Schedule | Videos)
- [ ] Previous Tab (Schedule | Videos)

These are suggestions that I can see as useful for now.

[2017-06-07 20:18] insidegui commented on #228
I saw this crash on Fabric, will investigate.

[2017-06-07 20:20] insidegui commented on #216
Another action that must be available in the contextual menu: #223

[2017-06-07 20:21] insidegui commented on #223
Thanks, we're discussing the contextual menu in #216

[2017-06-08 03:54] melgu opened #231 "Cannot download most WWDC17 videos"
Currently I can only download the Platforms State of the Union, but everything else is stream only.

[2017-06-08 06:03] bdash commented on #231
From what I can tell, Apple hasn't posted downloadable videos for anything but the Platforms State of the Union and Whats New in Swift at this point. You can double-check this by clicking around the videos posted on https://developer.apple.com/videos/wwdc2017/ and noting that no other sessions have downloads listed in their Resources tab.

[2017-06-08 06:44] jshier commented on #95
Noticed this as well. Version 5.0.6.

[2017-06-08 07:12] bitomule commented on #231
I already see the downloads on iOS Apple apps but not on OS X app. Maybe Apple changed something for this videos?

(BTW, great work, awesome app)

[2017-06-08 07:29] bdash commented on #231
A number of downloadable session videos have been posted since my previous comment (Introducing Password Autofill for Apps, What's New in Cocoa, and others). These are all appearing as downloadable for me in the WWDC app on Mac. It's worth noting that the official WWDC app on iOS appears to have a rendering bug that causes many videos to incorrectly appear as downloadable in the table view. Tappin

[2017-06-08 07:37] bitomule commented on #231
What's New in Cocoa still not available in OS X app for me.

[2017-06-08 09:45] mackuba commented on #155
Is there any way to access a list like this (downloads in progress) in the new app?

[2017-06-08 11:10] ornithocoder commented on #231
For now, one can workaround the fact that Apple didn't post the link to the videos by building the URL to download the video.

Take https://developer.apple.com/videos/play/wwdc2017/816/ as example. Simply copy the slides link

https://devstreaming-cdn.apple.com/videos/wwdc/2017/816mg1phgy05k3v/816/816_love_at_first_launch.pdf

add `_hd_` after the session number and replace `.pdf` by `.mp4?dl=1`

[2017-06-08 13:57] insidegui commented on #231
Downloads become available when the downloadable asset is added to Apple's HTTP API. Currently only the Platforms State of the Union has a downloadable asset posted.

Until they update the feed, there's nothing I can do.

[2017-06-08 13:57] #231 closed

[2017-06-08 13:57] insidegui commented on #155
Not currently. This is on the list for implementation soon.

[2017-06-08 13:58] insidegui commented on #95
This is a known issue that will be fixed with a future update.

[2017-06-08 16:55] allanrojas commented on #225
Same issue here... :(

[2017-06-08 17:13] insidegui commented on #225
Can you open Console.app and run the app, search for "WWDC", copy and paste the contents of the console here?

[2017-06-08 17:15] allanrojas commented on #225
par défaut	11:14:53.316441 -0600	WWDC	Faulting in NSHTTPCookieStorage singleton
par défaut	11:14:53.316473 -0600	WWDC	Faulting in CFHTTPCookieStorage singleton
par défaut	11:14:53.316496 -0600	WWDC	Creating default cookie storage with process/bundle identifier
par défaut	11:14:53.320300 -0600	WWDC	UNIX error exception: 17
par défaut	11:14:53.320886 -0600	WWDC	0x608001664c40 opened /private/var/db/

[2017-06-08 17:17] allanrojas commented on #225
I'm curious it says CloudKit denied, but I am logged in to my iCloud account on the mac.

[2017-06-08 17:43] insidegui commented on #225
@allanrojas Can you send me a screenshot of your time settings in System Preferences > Date & Time > Clock and a screenshot of the language settings in System Preferences > Language & Region ?

I believe this issue is related to timezone/region (I've had a similar issue on another app).

[2017-06-08 19:18] SoneeJohn opened #233 "Enable scrolling of summary text"
The summary text sometimes doesn't show all the text.

![screen shot 2017-06-08 at 3 16 25 pm](https://user-images.githubusercontent.com/4827301/26946517-97b35b4e-4c5d-11e7-9c0c-1a651344f085.png)

[2017-06-08 20:21] allanrojas commented on #225
http://imgur.com/a/Vo3rg

http://imgur.com/yBXOF1S

[2017-06-08 22:25] insidegui commented on #225
I tested the app in a virtual machine using the same settings and in fact it doesn't load. I'll get this fixed for the next release. Thanks for your help!

[2017-06-08 22:32] #95 closed

[2017-06-08 22:33] #225 closed

[2017-06-09 00:32] persimmonsoft opened #237 "App freezes on launch"
It worked for quite a few launches. I have now downloaded a number of the videos, but now it freezes on launch.
Here is the sample:

[Sample of WWDC.txt](https://github.com/insidegui/WWDC/files/1062753/Sample.of.WWDC.txt)

[2017-06-09 03:13] jshier opened #238 "Crash during playback"
I'm currently watching the "Debugging in Xcode 9" and the 5.0.7 has crashed twice now after a few minutes of playback. 5.0.6 was stable yesterday, despite the lack of energy assertions.

[WWDC Crashes.zip](https://github.com/insidegui/WWDC/files/1062943/WWDC.Crashes.zip)

[2017-06-09 03:16] jshier opened #239 "Version update only functions in Applications folder..."
In 5.0.3 to 5.0.7, attempting to update the app will fail unless it's running the `/Applications` folder, and only that folder. The error presented is the typical Sparkle error about running from a disk image, which I'm certainly not doing.

[2017-06-09 03:25] insidegui commented on #239
Can you give me the exact error message shown by Sparkle?

[2017-06-09 03:26] insidegui commented on #237
Are you sure this is not a duplicate of #205 ?

[2017-06-09 03:27] jshier commented on #239
[code]
Oddly, it only occurs after the application is unzipped and I'm running it out of the Download folder. If I move it to the Applications folder it updates fine, and if I move it back to the Downloads folder again it updates fine as well.

[2017-06-09 03:30] insidegui commented on #239
Hmmm, looks like it's a known issue in Sparkle. I don't think there's much I can do here...

[2017-06-09 07:57] lixin147741 opened #240 "Can't use in mac os 10.12.6 beta version"

[2017-06-09 11:25] persimmonsoft commented on #237
You are correct, this looks to be a duplicate of #205

[2017-06-09 11:25] #237 closed

[2017-06-09 13:15] zhangyuhangk commented on #228
@insidegui Thanks for your quick response, and making such a great app for free.

[2017-06-09 14:22] insidegui commented on #240
Can you provide more detail?

[2017-06-09 14:23] insidegui commented on #238
This is fixed in 5.0.8. Sorry about that.

[2017-06-09 14:23] #238 closed

[2017-06-10 11:43] iGithunber opened #244 "Mac still sleeps while I'm watching video."

[2017-06-10 22:40] insidegui commented on #244
We need more information to debug this. Please send us the app version, OS version and year/number of the video you were watching when this happened. Thanks!

[2017-06-10 22:41] insidegui commented on #239
I'll close this for now because I don't know where to go from here. If you happen to find a possible solution please answer and reopen the issue. Thanks!

[2017-06-10 22:41] #239 closed

[2017-06-10 22:45] insidegui commented on #223
I'll close this since this feature will be implemented as part of #216

[2017-06-10 22:45] #223 closed

[2017-06-10 22:48] #183 closed

[2017-06-10 22:49] insidegui commented on #202
Implemented in #236. Thanks @SoneeJohn !

[2017-06-10 22:49] #202 closed

[2017-06-11 04:43] iGithunber commented on #244
App version:5.0.8 OS version:macOS 10.12.5 (16F73). Every time I watch the video for a while screen saver will start.It seems each video may cause this.

[2017-06-11 09:39] lixin147741 commented on #240
[code]

[2017-06-11 13:59] davejewell commented on #205
This is happening for me too.  UI is unresponsive - I see multiple copies of WWDC 2017 - Session 102 in the sidebar.   Tried force-quitting and installing 5.0.8 - same result.  Activity monitor shows zero network activity for the app, but it's using lots of CPU.  Was working great until yesterday.  :-(
![dead-wwdc](https://user-images.githubusercontent.com/823898/27011595-8f329a60-4eb6-11e7-9f21-e

[2017-06-12 00:24] insidegui opened #245 "Building is not possible in Xcode 9"
Currently the app won't build in Xcode 9 because the pre-built dependencies use Swift 3.1 which is not compatible with Swift 3.2 or Swift 4.0.

I have decided to wait until Xcode 9 is more mature and the libraries used migrate before doing the migration of the project, so for now development must happen in Xcode 8.

[2017-06-12 03:16] insidegui commented on #216
Implemented by @SoneeJohn in #246

[2017-06-12 03:16] #216 closed

[2017-06-12 12:15] SoneeJohn commented on #244
After some investigation I noticed that the application did not flip on `PreventUserIdleDisplaySleep` while playing sessions:

`pmset -g assertions`

Output:

[code]

After playing a video in QuickTime Player here is the output:
Notice how `PreventUserIdleDisplaySleep` is on

[code]

Looks like you may need to use IOKit power assertions. I noticed https://github.com/insidegui/WWDC/pull/232/commits

[2017-06-12 12:39] insidegui commented on #244
@SoneeJohn I was under the impression that the `ProcessInfo` API is just a higher level abstraction on `IOKit`'s power assertions. Isn't that true?

[2017-06-12 12:46] SoneeJohn commented on #244
@insidegui I believe you're correct. I believe that the application isn't creating the assertion when the session is played.

[2017-06-12 12:49] SoneeJohn commented on #244
@insidegui I believe I found the issue :-)

[2017-06-12 12:50] afixibiranchi opened #247 "The WWDC app is not starting now."
The app was working fine and i was able to view and download wwdc 2017 session videos.
But its not starting now.
I am running Mac OS Sierra Ver 10.12.5

[2017-06-12 12:51] insidegui commented on #244
Yay!

[2017-06-12 12:52] insidegui commented on #247
What do you mean by "not starting"?
Does it crash?
If it crashes, does it produce a crash log?
Is there an error message on the screen?
Does it just hang? If it hangs, this is probably a duplicate of #205.

[2017-06-12 13:14] SoneeJohn commented on #244
@insidegui got it to work:

[code]

[2017-06-12 13:46] SoneeJohn opened #249 "Small issue with context menu"
The context menu should disable the download menuItem in this instance.

See https://github.com/insidegui/WWDC/blob/ee4b19a2cfb13b0f3194081ad7c2d559e0faffef/WWDC/SessionsTableViewController.swift#L402

Should also consider if the `DownloadManager` returns `true` for `isDownloading`

![screen shot 2017-06-12 at 9 43 28 am](https://user-images.githubusercontent.com/4827301/27036691-afa63728-4f53-11e

[2017-06-12 20:21] onato commented on #205
It happened to me too. I was just really patient and switched to the Schedule tab, quit and restarted. It was then fine, however, it happens again if I quite whilst on the videos tab.

[2017-06-12 20:57] adrum opened #251 "Download Manager"
It would be nice to be able to see a list of all the videos currently being downloaded with each of their progress. It is a little painful to click between videos to see the progress of downloads currently. Something as simple as Safari's download manager would be really helpful.

![example](https://user-images.githubusercontent.com/1464185/27054766-17579880-4f90-11e7-9d9a-b5644a40472e.png)

[2017-06-12 21:02] insidegui opened #252 "Design download manager"

[2017-06-12 21:02] insidegui commented on #251
We're working on it, I converted the project task to an issue so it's easier to refer to: #252

Thanks

[2017-06-12 21:02] #251 closed

[2017-06-12 21:05] insidegui commented on #206
Other sections that should appear above the curated playlists:

Favorites:
Sessions recently added to favorites, most recently added first

Downloaded:
Recently downloaded sessions, most recently downloaded first

Bookmarked:
Sessions with recently created bookmarks, most recently bookmarked first

[2017-06-12 21:06] insidegui commented on #206
During WWDC there should also be a section for currently live sessions and "up next" when there are no sessions live, this should be a separate task added to the 2018 milestone.

[2017-06-12 22:12] davejewell commented on #205
Yes - you're right.  Switching to Schedule before quitting seems to be a good work-around.

[2017-06-13 14:08] objectivechris commented on #205
I can't even click on the Schedule tab.

[2017-06-13 14:11] davejewell commented on #205
As "onato" mentioned, you have to be VERY patient.  Last night, I sat there five mins or more with the beachball spinning on WWDC.  Eventually it woke up and smelled the coffee  :-)

[2017-06-14 02:13] insidegui commented on #205
Fixed in e1d6d510dcd205f2b4c51b0179f7ce681c026f33

[Released in 5.1](https://github.com/insidegui/WWDC/releases/tag/5.1)

[2017-06-14 02:13] #205 closed

[2017-06-14 02:16] insidegui commented on #247
I'll close this as invalid. If you have more info please reopen it.

Thanks

[2017-06-14 02:16] #247 closed

[2017-06-14 02:17] insidegui commented on #249
This will go on the next release, forgot to merge it for 5.1 😬

[2017-06-14 12:58] davejewell commented on #205
Brill - thanks for the fix.  👍

[2017-06-14 14:32] SpacyRicochet opened #253 "Unresponsive during startup"
### Before opening you issue, make sure you answer YES to all of the questions below.

- ✅ Are you running the latest version of the app?
- ✅ Are you running a release, stable version of macOS?
- ✅ Have you looked at previous issues to see if you're having an issue that's already being worked on?
- **n/a** If your issue is about compilation, project setup, have you followed the instructions from t

[2017-06-14 14:38] insidegui commented on #253
Thanks for the information.

I believe you had #205. This is fixed in [version 5.1](https://github.com/insidegui/WWDC/releases/tag/5.1). Can you download the new version and confirm?

[2017-06-14 14:43] SpacyRicochet opened #254 "Search doesn't respect filter"
Searching through videos doesn't respect the filter that's currently active. This is related to #66, which presents a workaround.

However, if a filter is currently active, I think the better choice is to only search within the filtered items.  Currently it's very unclear that ignoring the filter is 'As Intended'.

Either that, or somehow indicate that filter is completely ignored and give you som

[2017-06-14 14:46] insidegui commented on #254
Can you elaborate?

What do you mean by "doesn't respect filter"?

[2017-06-14 14:48] insidegui commented on #253
Ah, sorry, I confused this issue with another one. I noticed you're already running 5.1.

Did this happen only once? Does it happen every time?

Are there any specific steps I can take to reproduce it?

[2017-06-14 14:51] insidegui commented on #254
Interesting. It works for me. Filtering for a year and typing something only shows videos from the selected year.

![screen shot 2017-06-14 at 11 50 51](https://user-images.githubusercontent.com/67184/27138793-ba1c9972-50f7-11e7-97ef-4d80bc77025b.png)

[2017-06-14 18:25] bcmn commented on #253
I have also observed this issue on Version 5.1, with a session duplication pattern similar to that of #205.

We currently suspect this is related to interaction with the downloaded state in the database stored at "~/Library/Application Support/io.wwdc". We're locking this conversation for now, as we don't need +1s.

[2017-06-14 18:30] lemonkey commented on #223
Thanks, just got the update and it works great.
👍

[2017-06-14 18:49] SpacyRicochet commented on #254
Ah, I thought this was going to be a feature request (hence my 'unintuitive' remark in the title). Looks like this is a bug instead. Let me know if you need more info, though I doubt I can get more detailed than the gif.

[2017-06-14 19:41] insidegui commented on #254
@bcmn This happens to you too, right?

[2017-06-14 20:28] insidegui commented on #253
Upon inspecting @bcmn's database I noticed there are in fact lots of models which got duplicated inside lists. I believe the issue got fixed with the previous update but if you already had a database that was messed up previously, the issue continues.

[2017-06-14 20:29] bcmn commented on #254
No, I can't recreate this.

[2017-06-14 20:29] insidegui commented on #253
I'll keep running some tests with the messed up copy of @bcmn's database and push an update that fixes the database when launched for the first time.

[2017-06-15 03:00] #249 closed

[2017-06-15 12:20] SpacyRicochet commented on #254
Are there any magic files that I can delete (or store for posterity/this issue) to get rid of my state (don't mind starting from scratch)?

If it doesn't happen after that, it apparantly is some kind of weird state issue.

[2017-06-15 13:27] bcmn commented on #254
I was playing with this again to try and narrow causes down, and _have_ now recreated it. I struggled to diagnose it closely, but did make a couple observations.

One possibility is that it may be related to the searching of the transcript for sessions? I noted that on searching "engineering", the 2015 ADAs are returned. On a cursory glance can't see the word "engineering" in any of the metadata,

[2017-06-15 13:42] bcmn commented on #254
To confirm: turning off the option in preferences to include transcripts in search fixes this issue. I would wager @insidegui had it off to start with.

[2017-06-15 14:58] insidegui commented on #254
I have confirmed that this happens when "Include transcripts" is on in preferences. Just a simple `NSPredicate` mistake that will get fixed for the next release :)

[2017-06-15 16:04] #254 closed

[2017-06-15 16:19] insidegui commented on #253
Me and @bcmn are testing a new build that fixes this issue. The root cause seemed to be a duplication of models that would occur in `ConfCore` when syncing local data with the data returned from Apple's service.

[2017-06-15 16:57] insidegui commented on #253
@SpacyRicochet Can you try [Version 5.1.1](https://github.com/insidegui/WWDC/releases/download/5.1.1/WWDC_v5.1.1.zip) and confirm it fixes the issue?

[2017-06-15 16:58] insidegui commented on #244
@iGithunber Can you try [Version 5.1.1](https://github.com/insidegui/WWDC/releases/download/5.1.1/WWDC_v5.1.1.zip) and check if the issue is fixed?

[2017-06-15 17:00] insidegui commented on #240
@lixin147741 Can you try [Version 5.1.1](https://github.com/insidegui/WWDC/releases/download/5.1.1/WWDC_v5.1.1.zip)? I believe it fixes your issue.

[2017-06-15 17:01] insidegui commented on #228
@zhangyuhangk Are you still experiencing this issue? We haven't been able to reproduce it yet and the crash logs don't provide much information.

Can you get [version 5.1.1](https://github.com/insidegui/WWDC/releases/download/5.1.1/WWDC_v5.1.1.zip) and check if this still occurs?

Thanks

[2017-06-15 17:03] insidegui commented on #227
This happens when the player is active because it "swallows" all space key presses 😬

Will fix. Thanks

[2017-06-15 17:04] #204 closed

[2017-06-16 03:08] lixin147741 commented on #240
awesome, it is worked!

[2017-06-16 11:02] #240 closed

[2017-06-16 13:25] barrettj opened #255 "Did app auto-update, now it just hangs at startup."
### Before opening you issue, make sure you answer YES to all of the questions below.

- Are you running the latest version of the app?
Yes, it just Auto Updated
- Are you running a release, stable version of macOS?
Yes
- Have you looked at previous issues to see if you're having an issue that's already being worked on?
Yes, but it looks like you thought you had it solved
- If your issue is about

[2017-06-16 13:30] insidegui commented on #255
Go to `~/Library/Application Support/io.wwdc.app`, zip that entire folder and send it to me. If you want to send it privately you can use wetransfer and send it to `eu [at] guilhermerambo.me`.

[2017-06-16 13:31] barrettj commented on #255
Should I quit the app before zipping, or leave it running?

[2017-06-16 13:32] insidegui commented on #255
Force quit it before zipping the folder.

[2017-06-16 13:32] barrettj commented on #255
One of the files in there is 9.6GB (ConfCore.realm)

[2017-06-16 13:33] insidegui commented on #255
Oh, that's an issue 😅

[2017-06-16 13:33] barrettj commented on #255
[EverythingButConfCoredotrealm.zip](https://github.com/insidegui/WWDC/files/1080913/EverythingButConfCoredotrealm.zip)

[2017-06-16 13:35] insidegui commented on #255
Sorry, ConfCore.realm is the main database file and that's where the problem is. But I understand you can't upload a ~10gb file 😥

We're still investigating.

[2017-06-16 13:38] barrettj commented on #255
Would I be safe to rename that folder to io.wwdc.app.old-faulty and try running the app - I don't have any preferences of any importance.  I could then also try switching back to that version if theres a future update to see if it fixes things.

When I'm not at work I can try uploading it over the weekend (work internet is too slow and I'd have to leave before it got done)

[2017-06-16 14:56] BNTR commented on #201
@insidegui  You sure about 'Vidoes' tab? I reproduced it on 'Shedule' tab when tap 'View/Hide sidebar' and still see side bar.

[2017-06-16 14:59] BNTR commented on #186
@insidegui what about this issue? how it should look like? If you decide how it should appear in 'About' window I can try to help with this small change.

[2017-06-16 15:01] insidegui commented on #201
You are correct, the title of the issue is not very clear. The toggle command will work on the first tab you use it and then it will not work in the other.

[2017-06-16 15:04] insidegui commented on #255
Yes, it is safe to rename the folder and run the app. It will then re-download and parse all of the data.

Version 5.1.1 should have fixed it tho, although we're still not quite sure what is causing this issue for some people and not others.

I don't think there's a lot we can do with that huge DB file, I have another sample from @bcmn which should be enough to try and diagnose this once again.

[2017-06-16 15:31] afixibiranchi opened #256 "App v5.1.1 is not stable"
![screen shot 2017-06-16 at 11 29 32 pm](https://user-images.githubusercontent.com/191425/27233395-df0e91d6-52eb-11e7-9932-cef8749168eb.png)

Still not able to run the latest ver:5.1.1

[2017-06-16 16:24] insidegui commented on #256
Duplicate of #255 ?

[2017-06-17 04:46] iGithunber commented on #244
Yeah! The problem is solved!

[2017-06-17 15:05] #244 closed

[2017-06-18 10:34] Blackjacx opened #257 "Clear Download State"
macOS Sierra 10.12.5
WWDC 5.1.1

I deleted the files from the Finder in the ~/Library/Application\ Support/WWDC folder. All the previously downloaded session videos remain being marked as downloaded. Where do you store the download state of the sessions so I can manually resolve this issue? Better would be to offer a "clear downloads"-button of course.

Cheers
Stefan

[2017-06-18 13:33] insidegui commented on #257
The download flag should've been cleared when you deleted the files. This is definitely a bug.

Do you remember whether the app was opened when you deleted the files?

[2017-06-19 04:23] Blackjacx commented on #257
Yep it was opened!

[2017-06-19 13:06] insidegui commented on #257
Thanks. This will be fixed on the next release.

[2017-06-20 15:08] insidegui commented on #257
@bcmn When the DownloadManager starts, it needs to iterate through all sessions which have the `isDownloaded` flag set to `true` and check if the file still exists on disk. To know where to find the file you use the `relativeLocalURL` from the `SessionAsset` of type `hdVideo`.

[2017-06-21 09:46] adamsimo opened #258 "Add "Reveal in Finder" context menu"
Please add item "Reveal in Finder" to the context menu to reveal a video file in the Finder.

![2017-06-21_11-39-10](https://user-images.githubusercontent.com/20772588/27378112-2581e3dc-5677-11e7-9131-5a9cebde7f08.png)

[2017-06-21 09:53] adamsimo opened #259 "Download slides next to the video files"
Please enable downloading slides next to the video files to match the following pattern:

102_hd_platforms_state_of_the_union.mp4
102_platforms_state_of_the_union.pdf
110_convenience_for_you_is_independence_for_me.pdf
110_hd_convenience_for_you_is_independence_for_me.mp4
207_hd_whats_new_in_cocoa.mp4
207_whats_new_in_cocoa.pdf
208_hd_natural_language_processing_and_your_apps.mp4
208_natural_langua

[2017-06-21 14:10] insidegui commented on #259
We had this feature on v4, not exactly like this but we had a builtin PDF viewer. I don't believe this is worth implementing and maintaining, but I'll leave this opened so others can say if they want this as well.

If we do implement it, I don't believe downloading them with the videos would be a good idea.

[2017-06-21 14:10] insidegui commented on #258
Will do.

[2017-06-22 15:11] adamsimo commented on #259
I understand there is no need to implement built-in PDF viewer, but it would be nice to have a button that opens the slides in system default PDF viewer without need to go to the Finder and to hunt for the PDF file ;)

[2017-06-22 16:29] insidegui opened #260 "Sometimes sessions show as downloaded even though they're not"
Had this issue when searching, probably a cell reuse issue where the downloaded icon is not hidden when a cell is going to be reused for a session that's not downloaded.

<img width="305" alt="screen shot 2017-06-22 at 13 28 16" src="https://user-images.githubusercontent.com/67184/27445044-d0b6bd9a-574e-11e7-9abe-3909a51f4220.png">

[2017-06-22 21:35] #257 closed

[2017-06-22 21:43] #258 closed

[2017-06-22 21:43] insidegui commented on #256
Closed as duplicate of #255

[2017-06-22 21:43] #256 closed

[2017-06-22 21:45] insidegui commented on #253
Thanks for your feedback on Twitter, I'm closing this and we'll track #255 since some people are still experiencing this issue.

[2017-06-22 21:45] #253 closed

[2017-06-22 21:47] insidegui commented on #228
Any feedback on this? Anyone else having the same issue?

[2017-06-22 21:48] #203 closed

[2017-06-22 21:52] #260 closed

[2017-06-22 22:03] insidegui commented on #255
@barrettj [Version 5.1.2](https://github.com/insidegui/WWDC/releases/tag/5.1.2) is out, can you try it out and check if it behaves?

[2017-06-22 22:18] Blackjacx opened #262 "Missing Video Length on The Preview/Details Screen"
macOS Sierra 10.12.5
WWDC 5.1.1

When I select a video session on on the left, I recognized that I miss the video length on the right side at the bottom where you paced wwdc year, session number and platforms. I always must press play to see the time.

This would be a valuable and I think easy enhancement :-)

[2017-06-22 22:40] insidegui commented on #262
Definitely.

[2017-06-23 08:33] adamsimo commented on #258
thanks

[2017-06-23 08:36] VicenteBorrell commented on #262
Yeah, I thought about it recently too. Thanks for bringing it up @Blackjacx
Is the video length available in the metadata @insidegui ?
I think it would be nice to even show it on the sidebar :)

[2017-06-23 13:52] insidegui commented on #262
@VicenteBorrell It wasn't before, with the changes this year it is now available :)

[2017-06-23 17:57] JohnCoates commented on #255
I was having ~3 minute hangs on startup before this update, and 5.1.2 fixed this for me.

[2017-06-24 11:38] Blackjacx commented on #262
I'm looking forward ;)

[2017-06-25 15:12] bcmn opened #263 "Session Number not Respected in Search"
The session number is not respected when searching. I would suggest that if an input search term is numerical only, the search is limited only to examining session number -- the results for numerical values seem very noisy otherwise.

[2017-06-27 08:12] balazsgerlei opened #265 "Playback speed resets to 1x upon an interactive seek"
- Version of macOS
10.12.5
- Version of the app
5.1.2
- What were you trying to do when the issue happened
- If it is a wrong behavior, list all steps required to reproduce it
Watch a video in faster speed (ex. 1/2x, 1.25x or 1.5x), and then skip back to a previous timestamp with the seeker. If I click to any part of the seeker, the video jumps to the correct timestamp, but the playback speed rese

[2017-06-27 09:29] balazsgerlei opened #266 "Sound sometimes cuts out for a couple of seconds when seeking back with the button"
- Version of macOS
10.12.5
- Version of the app
5.1.2
- What were you trying to do when the issue happened
When I am watching a video, sometimes when I seek back with the back button, the sound cuts out for a couple of seconds. I was unable to find out what causes it, but as I remember I always experienced it while watching a video full screen with the speed set to 1.25x.
- If it is a wrong behavi

[2017-06-27 12:11] insidegui commented on #266
Does this happen with streaming videos, downloaded videos or both? Sounds like a normal thing when seeking streaming videos...

[2017-06-27 13:46] balazsgerlei commented on #266
It definitely happened with a downloaded video. And I'm not talking about 1-2 seconds, but rather 5-10. It is very rare though, I will try to find out exactly when it happens and report back!

[2017-06-27 16:18] insidegui commented on #266
We've had a [PR recently](https://github.com/insidegui/WWDC/pull/243) that changed something about how `AVPlayer` handles audio, I wonder if that's the cause. 🤔

[2017-06-30 08:10] bcmn commented on #265
I've diagnosed this issue further, and I'm confident it only occurs on an "interactive" seek -- in which the timeline is clicked and then dragged to scrub through. On rare occasions normal seek-to-point actions can be interpreted as "interactive", which is why it can appear as though this issue occurs on during other interactions. I've updated the info to match, and I'll work on fixing this as soo

[2017-06-30 20:23] bcmn opened #267 "All subtitling options aren't always embedded in downloaded videos"
Version: 5.1.2

Symptoms:
- The subtitles button fails to show on many downloaded 2017 videos, as when downloaded, no closed captions are embedded. (This can be tested by checking for embedded subtitles in other applications)
- When clicking the subtitle button on a downloaded video from previous years, only English subtitles are present.

[2017-07-03 12:50] bcmn opened #270 "Remove "Hide Sidebar" option, ensure sidebar width persists"
Discussion amongst the maintainers has highlighted that the "Hide Sidebar" option could cause UX issues with our plans to increase window state persistence.

It is currently possible to hide the sidebar prior to selecting a video, meaning that if visibility persisted, it would be possible to open the app to a blank screen, with the only way out being hidden in the "View" menu. We feel removing thi

[2017-07-03 13:01] bcmn opened #271 "2017 video transcripts inaccessible from the application"
It is currently not possible to access transcripts of any 2017 session when using the application, though they are now available on developer.apple.com.

We're aware of this, & are actively working on plans to fix this for both 2017 sessions, as well as ensuring timely access to transcriptions for future years is further under our control.

[2017-07-06 14:08] #255 closed

[2017-07-06 14:09] #228 closed

[2017-07-06 14:10] insidegui commented on #158
Implemented in 5.1.3

[2017-07-06 14:10] #158 closed

[2017-07-06 14:11] insidegui commented on #198
@VicenteBorrell I'm going to close this since most of it is outdated. Please open another one if there are any other tweaks we need to make.

[2017-07-06 14:11] #198 closed

[2017-07-06 14:13] insidegui opened #274 "Closing the PiP should not activate the app and select the session"
Currently, if you're playing a video in PiP, closing the PiP behaves the same as dismissing it using the "return" button.

I haven't figured out how to handle both cases differently but it's definitely possible because Safari does that.

[2017-07-07 10:02] VicenteBorrell commented on #198
OK!

[2017-07-09 01:07] MKGitHub opened #276 "Replace SwiftyJSON with JSONX"
Replace SwiftyJSON with JSONX (https://github.com/MKGitHub/JSONX)
JSONX is lighter gives lower memory consumption and incredible performance :-)

or, should send a PR?

[2017-07-09 01:09] insidegui commented on #276
I'm not interested in changing the JSON parsing at the moment. We'll probably move to Swift 4's `Codable` as soon as it's stable. Thanks for the suggestion tho.

[2017-07-09 01:09] #276 closed

[2017-07-09 09:14] MKGitHub commented on #276
Swift 4's Codable will make the code more complex and add a lot of boilerplate – but ehh ok! 🤦‍♂️

[2017-07-21 15:54] #265 closed

[2017-08-03 03:16] Huang-Libo commented on #267
Same problem.

[2017-08-05 08:19] rob-nash opened #279 "Older WWDC content not available"
The newer version of the App shows content as old as WWDC 2013. The older version of the App shows content as old as WWDC 2012.

Why the difference in content? And what about the older WWDC content?

[2017-08-05 13:09] insidegui commented on #279
The app grabs the data directly from Apple's API, which currently only returns videos starting from 2013.

[2017-08-05 13:09] #279 closed

[2017-08-05 18:45] sohaeb opened #280 "[Suggestion] Add a small Text field for personalized summary"
Say I watched "What's new in store kit" session that was talking about in-app purchases. In the future, if I want to go back and re-watch the session that talk about in-app purchases. I have to go through many videos as the title doesn't really say much about the details session. or even start reading description of each video.

Other examples:

- "ignore this session" comment since i'm not really

[2017-08-05 23:51] insidegui commented on #280
As for the "ignore this session" thing, I usually mark the sessions I don't care about as watched even though I haven't watched them and I try to mark all interesting sessions as favorites.

To add custom metadata to sessions, have you tried the bookmarks feature?

[2017-08-06 08:00] rob-nash commented on #279
I removed the new version of the App. I installed the old version of the App. The old version still shows content as old as 2012.

I appreciate content older than 2012 might not be available in the API but it seems strange that 2012 doesn't show in new App, when it does in the old.

Try installing the old App and take a look.

[2017-08-06 08:01] rob-nash commented on #279
Maybe I have cached content on my hard disk?

[2017-08-06 14:59] insidegui commented on #279
The old version uses a different API which only shows content up to 2016. Apple changes the API every year. Check the iOS app: it doesn't show content from 2012. Since we use the same API as their iOS app, we don't either.

[2017-08-07 07:41] rob-nash commented on #279
<Thumbs Up>

[2017-08-09 13:36] #263 closed

[2017-08-12 14:25] antonselyanin opened #282 "Context menu acts on a wrong selection"
- Version of macOS
10.12.6

- Version of the app
5.1.3

- What were you trying to do when the issue happened
While I was watching a video I tried to add other video to favorites

- If it is a wrong behavior, list all steps required to reproduce it
(1) Select a video from the list,
(2) Right click any other video - context menu appears
(3) The context menu acts on the primary selection while the st

[2017-08-13 01:26] icenel opened #284 "The app freeze everytime it's launched"
For the first time I launched the app, it displayed a spinner, and there was no way to quit unless than using force quit. For the second time and so on, it displays the last displayed video, and just stuck there. The app becomes unresponsive and I can't click anything in the window.

I've tried to clear the data in `~/Library` but it still doesn't work after reinstalling.

Stacks: (this also inclu

[2017-08-13 18:41] bcmn opened #285 ""Special Event" sessions can't be marked as watched from context menu"
Version: 5.1.3

As said in the title -- special event sessions (such as the keynote) can't be marked as watched from the context menu. However, watching part or all of the video does correctly update the watched/unwatched flag.

[2017-08-14 17:30] antonselyanin commented on #266
This happens quite often to me and it's very annoying. I tried commenting out changes from #243 PR but the issue persisted.

I managed to reproduce video/audio sync issue (although I'm not sure it's the same issue)

* Install "Network Link Conditioner", create a custom profile with 2200 kbps downlink bandwidth.
* Start playing a video, make sure it's playing on high quality
* Enable 2200 kbps limi

[2017-08-15 09:03] SSSEN opened #286 "can‘t switch Chinese subtitles when Download video。"
can‘t switch Chinese subtitles when Download video。
can choose Chinese subtitles when Watch online 。

[2017-08-15 17:20] insidegui commented on #286
This is a duplicate of #267

[2017-08-15 17:20] #286 closed

[2017-08-15 17:22] insidegui commented on #266
If that's the case, it seems to be an issue with `AVFoundation` and/or Apple's streaming. If it turns out to be, all we can do is file radars I guess. 😬

[2017-08-15 18:41] allenhumphreys commented on #266
I'd be curious if this behaves differently in High Sierra. Assuming the work AVFoundation has received for iOS 11 is also going to be in High Sierra, it seems that HLS got a lot of attention. I'm concerned that @balazsgerlei said that it happened in a downloaded video because during my testing with the change of the audio algorithm, I specifically noticed much worse performance when streaming vs l

[2017-08-16 02:42] returnight opened #288 "Do you have plan to add Chinese subtitles ?"
Apple has add Chinese subtitles, Do you have plan to add Chinese subtitles ?

[2017-08-16 13:38] insidegui commented on #288
Any subtitles provided by Apple should be available in the app. Keep in mind we're currently having an issue which causes downloaded videos to not display subtitles: #267

[2017-08-16 13:38] #288 closed

[2017-08-16 13:41] insidegui commented on #266
[code]

This sounds plausible. I don't think I've ever experienced this issue on my early 2013 MacBook Pro.

[2017-08-16 16:23] bcmn commented on #267
I've updated the title & description of this issue with more observations on behaviour.

Intriguingly, the iOS app _does_ offer closed captions on 2017 downloaded videos. We're not clear if they're downloading the streaming video directly, instead of relying on the separate SD/HD download, or whether there might be some other solution to this.

[2017-08-16 17:49] bcmn opened #289 "Represent currently playing video, without displaying it under erroneous filters"
Currently when enabling filters while a video is playing, the currently playing video is forced into the table view to ensure it remains on screen at all times, even if you explicitly enable filters that should exclude it -- this looks particularly egregious in cases where it is forced into the wrong year, or when it appears under downloaded or favourited, lacking a flag that all other cells in th

[2017-08-17 13:29] #270 closed

[2017-08-17 18:50] bcmn commented on #266
For what it's worth, using Network Link Conditioner as @antonselyanin suggested, I have seen this on High Sierra.

[2017-08-18 15:46] #285 closed

[2017-08-18 15:54] #274 closed

[2017-08-18 16:32] #282 closed

[2017-08-18 16:52] #259 closed

[2017-08-18 16:56] bcmn commented on #201
This is irrelevant after #290.

[2017-08-18 16:56] #201 closed

[2017-08-18 17:01] bcmn commented on #259
There's not been any further discussion, & the current behaviour allows accessing & manual downloading of slides very easily, so we'll close this issue for now.

[2017-08-24 03:52] donly commented on #284
The same issue here

[2017-08-24 14:51] insidegui commented on #284
We had this issue a couple of versions ago and we managed to fix it for most users. Currently we're waiting for a reproduction so we can see what's going on. Without reproducing it, we can't really do anything.

[2017-08-30 19:48] otaviolima opened #296 "How one can run the tests?"
I was trying to run the tests but encountered a lot of compiler errors and after fixing some and commenting out others I still was not able to run.

From the error is pretty obvious that is due some code signing process.

My questions then are:

Would be a person not enrolled as mac developer in Apple Developer Center able to run the tests?

If so, is the current code correct and compiling? At lea

[2017-08-30 20:45] insidegui commented on #296
Unfortunately, the tests are currently very outdated and are not compiling. I developed ConfCore (data parsing and storage) a long time ago with tests and when the time came to actually put the app into production I didn't have enough time to do proper TDD or update the tests. To make that even worse, a few days before WWDC Apple changed the data structure completely and that completely invalidate

[2017-08-31 00:46] iHTCboy opened #297 "How to download WWDC2017 videos of the Chinese subtitles?"
new download videos default is 'english CC', no download videos online can select Chinese subtitles. I used Version 5.1.3. thank you!

[2017-08-31 00:47] iHTCboy commented on #297
fix

[2017-08-31 02:01] insidegui commented on #297
Duplicate of #267

[2017-08-31 02:01] #297 closed

[2017-09-01 15:22] icenel commented on #284
@insidegui  I don't know if this would help but I managed to fix it myself by running
`./cleardata.sh`.

[2017-09-01 20:22] insidegui commented on #284
You probably had a corrupt database. This happened to a few people and got fixed with an update. I didn't suggest you to run it because you mentioned cleaning the data in `~/Library` 😅

[2017-09-02 16:37] icenel commented on #284
Thank you for your response.
I did clean the `~/Library/Application Support` and also tried reinstalling the app, restarting the mac, but nothing worked. The only thing that worked was `./cleardata.sh`.
This happened after I upgrade from the old version (the one that doesn't have black background theme) to the new version. (Sorry I don't remember the exact version)

[2017-09-02 22:06] insidegui commented on #284
That's interesting. Did you have any downloaded videos from the previous version?

[2017-09-04 01:27] donly commented on #284
Thanks, clean using `./cleardata.sh` is works for me too.

[2017-09-05 12:39] bcmn commented on #284
Had you manually changed your downloads destination directory on the previous version?

Alternatively, it may be beneficial to send us a copy of ~/Library/Preferences/io.wwdc.app.plist from the time at which you encountered this issue -- perhaps through time machine?

[2017-09-05 21:39] insidegui opened #305 "Unintended scroll when switching tabs"
I believe this is a side effect of #294.

When the app is first launched, it takes a while for the selection to be restored and the restoration is animated, which can confuse the user if the user scrolls before the restoration occurs.

Another issue is when switching tabs: if I have a saved selection for the schedule tab, it will be restored when coming back from the videos tab, destroying my scro

[2017-09-05 21:40] insidegui commented on #305
@VicenteBorrell Do you agree that the behavior shown in the gif is bad UX?

[2017-09-05 21:44] allenhumphreys commented on #305
Introduced in #294, it was definitely unintentional. I meant for it to scroll during an update to search results that are triggered by a user, though I was unsure whether that was even desired.

[2017-09-06 11:45] otaviolima opened #306 "Session list disappears"
Using 5.1.3

1. Do a search
2. Close the app
3. Open back
4. Clear search

Expected behavior:
List of sessions

Current behavior:
Empty list.

Workaround:
Toggling filter button makes the list appear again.

[2017-09-06 12:53] icenel commented on #284
@insidegui Yes, I had like 3 downloaded videos.

[2017-09-06 13:06] insidegui commented on #284
Thanks for the feedback. We'll do some testing around this, we think the migration is the cause and it could be related to downloads.

[2017-09-06 13:07] insidegui commented on #306
Is this in the current release version or master?

[2017-09-06 13:08] otaviolima commented on #306
I tested on release, once I get home I will test against master.

[2017-09-06 13:43] allenhumphreys opened #307 "Schedule "events" filter preservation doesn't distinguish between the 2 in the UI"
- Version of the app
built from master
- What were you trying to do when the issue happened
reproduce #306

1. Filter by Session
2. Quit the app gracefully to ensure filters are saved
3. Reopen the app, open the popup for Events

Expected results:
"Sessions" is checked

Actual results:
Both values are checked

[2017-09-06 18:02] otaviolima commented on #306
Can't reproduce using master.

[2017-09-06 21:53] #307 closed

[2017-09-08 21:52] #305 closed

[2017-09-08 22:37] #306 closed

[2017-09-08 22:38] #280 closed

[2017-09-09 10:49] bcmn opened #311 "App icon shading rendered incorrectly on macOS High Sierra"
<img width="102" alt="screen shot 2017-09-09 at 10 48 02" src="https://user-images.githubusercontent.com/11646957/30239209-2d1a938e-954f-11e7-88c5-31d87ee4252e.png">

The app icon renders in the dock & Finder with a lighter, "whitewashed" appearance on some devices running the macOS 10.13 beta. I think Gui & I initially assumed this was an OS issue that would be resolved, but seeing as it's persis

[2017-09-09 14:26] allenhumphreys commented on #311
Is there any chance an early beta created an incorrectly rendered version of the icon and cached it? I'm thinking this because of what you said about not being able reproduce other apps.

I know that you can pin an app to the dock and then delete the app and the icon will remain, so the system must do something to keep the image around.

[2017-09-09 15:03] bcmn commented on #311
@allenhumphreys In verifying the issue, I have completely removed the application & run a number of commands intended to outright delete the icon caches.

`sudo find /private/var/folders/ -name com.apple.dock.iconcache -exec rm {} \;
sudo find /private/var/folders/ -name com.apple.iconservices -exec rm -rf {} \;
sudo mv /Library/Caches/com.apple.iconservices.store com.apple.ic`

I have also replac

[2017-09-09 15:08] allenhumphreys commented on #311
That's some good background!

[2017-09-09 15:11] insidegui commented on #311
I think the icon that's in the app came pre-rendered from Raphael, maybe it's some sort of colorspace issue?

[2017-09-11 18:51] VicenteBorrell commented on #311
Other devs having the same problem:
https://twitter.com/maxvoltar/status/907079810437885953
In this case Abstract, which is not native, but there are native cases in the comments.

[2017-09-11 19:11] LGriffioen commented on #311
I've been looking into this all morning. As far as I can tell, it appears to affect any image that has no color profile?

![screen shot 2017-09-11 at 3 07 18 pm](https://user-images.githubusercontent.com/1846960/30292219-589e7b28-9703-11e7-8552-e3e98f3eef81.png)

Source image: (renders properly in-browser on 10.12, but not on 10.13)

![washedout](https://user-images.githubusercontent.com/1846960/3

[2017-09-11 20:42] maxvoltar commented on #311
Did some research, and apparently `.icns` files generated with Icon Slate.app are the culprit here. Really funny that this impacted mostly Electron apps, as their designers don't use Xcode to generate their app icons.

Started using Icon Creator, and the icon looks great now.

[2017-09-11 20:57] insidegui commented on #311
I asked the designer to provide the original assets so I can recreate the icon and fix this issue.

[2017-09-12 14:12] LGriffioen commented on #311
It looks like you can fix images that are missing color profiles by using Preview. Just open the image, and choose Tools > Assign Profile... and pick something that works well for your image (I used sRGB). Important note: **this will only work on 10.12 and earlier**. If you do the same steps on 10.13, the washed out color is burned in and the image is permanently ruined.

[2017-09-12 20:21] insidegui opened #313 "Fall 2017 videos show as "WWDC 2017" in descriptions"
Today Apple released videos about developing for the iPhone X as a new event called "Fall 2017".

When I filter for the event "Fall 2017", it shows the videos but they are listed as "WWDC 2017", probably because the description generator ignores the name of the event and uses the year instead.

![screen shot 2017-09-12 at 17 19 00](https://user-images.githubusercontent.com/67184/30346315-c3192878-

[2017-09-14 15:12] YangJun16 commented on #284
I encountered the same issue. It has confused me for several months. I upgraded it from WWDC 2016(old version) to WWDC 2017 5.1.1. Everything is OK. It seems that the downloads destination directory of WWDC 2017 diverges from the downloads destination directory of WWDC 2016. I changed the dir of WWDC 2017 owing to previous videos. The dir is ~/Library/Application Support/WWDC. There was nothing wr

[2017-09-14 15:13] YangJun16 commented on #284
I encountered the same issue. It has confused me for several months. I upgraded it from WWDC 2016(old version) to WWDC 2017 5.1.1. Everything is OK. It seems that the downloads destination directory of WWDC 2017 diverges from the downloads destination directory of WWDC 2016. I changed the dir of WWDC 2017 owing to previous videos. The dir is ~/Library/Application Support/WWDC. There was nothing wr

[2017-09-14 15:53] insidegui commented on #284
Thanks for your report @YangJun16 !

Can you zip the folder in `~/Library/Application Support/br.com.guilhermerambo.WWDC` and send it to me?

If you don't want to upload it publicly, you can e-mail it to `eu [at] guilhermerambo.me`

[2017-09-14 17:58] YangJun16 commented on #284
Of course! I sent it to eu@guilhermerambo.me @icenel !

[2017-09-14 21:41] #311 closed

[2017-09-19 03:51] CosmicYogi opened #317 "App not working at all on macOS sierra."
est stable release of WWDC from wwdc.io but I am not able to do anything I mean the app is completely blank and Activity indicator is there forever.
I had attached the relevant screenshots.

<img width="1440" alt="screen shot 2017-09-19 at 9 14 32 am" src="https://user-images.githubusercontent.com/7416058/30575069-d77e1caa-9d1b-11e7-82c5-11e23e35f128.png">
<img width="587" alt="screen shot 2017-09

[2017-09-19 12:31] insidegui commented on #317
Did you see a spinning beachball (hang) or is it working but just not showing any data?

[2017-09-20 03:33] CosmicYogi commented on #317
Actually, It did not hang it was just not showing any data and it was crashing again and again and the same problem was occurring but I don't know how but it started working unpredictably.
I mean I was not able to get any info why it happened in the first place.
<img width="1440" alt="screen shot 2017-09-20 at 8 59 40 am" src="https://user-images.githubusercontent.com/7416058/30625709-6c405562-9de

[2017-09-21 20:48] #313 closed

[2017-09-24 12:31] insidegui opened #318 "setDisplayedRows calls UI method from a background queue"
The `setDisplayRows` method in `SessionsTableViewController.swift` calls `tableView.selectedRowIndexes` from a background queue. Although this might not be causing any issues currently, it could result in weird behavior and/or random crashes.

https://github.com/insidegui/WWDC/blob/d69676e63924ce47195850bde821d8471c97a697/WWDC/SessionsTableViewController.swift#L83

[2017-09-24 12:59] #317 closed

[2017-09-24 13:00] insidegui commented on #284
TODO:
- [ ] After the Swift 4 update, test the app with the prefs and database provided by @YangJun16

[2017-09-24 13:11] insidegui commented on #266
Okay, so it sounds like (ha) this is an issue with `AVFoundation`'s handling of >1x playback on slow networks. I think we have two options:
1 - DTS
2 - Someone file a radar and we all dupe it and send to our friends at Apple

As this doesn't seem like an issue in the app itself, I'm going to close this. If anyone happens to find a solution or workaround, please let me know.

[2017-09-24 13:11] #266 closed

[2017-09-24 13:13] insidegui opened #319 "Bookmark indicator is cut out in High Sierra"
The bookmark indicator gets clipped by the timeline when linked against the 10.13 SDK.

<img width="138" alt="cut" src="https://user-images.githubusercontent.com/67184/30782931-e076009a-a110-11e7-8480-f9eec2bfb7a9.png">

[2017-09-24 17:08] insidegui commented on #245
Implemented in #314

[2017-09-24 17:08] #245 closed

[2017-09-24 17:26] #319 closed

[2017-09-24 17:44] #262 closed

[2017-09-29 07:02] SpacyRicochet commented on #296
Sounds like a nice [Hacktoberfest[(https://hacktoberfest.digitalocean.com) issue. Consider adding that label to some of the issues here.

[2017-10-02 01:47] #186 closed

[2017-10-03 10:48] Ethenyl commented on #296
Hi there,

I'm more than willing to help on that topic, if it's OK on your side I'll create a PR as soon as I have something stable.

[2017-10-03 14:43] insidegui commented on #296
@Ethenyl That would be great, go ahead 🚀

[2017-10-15 09:44] antonselyanin commented on #318
I moved this call to the main thread in #322 PR because unit tests were crashing.

[2017-10-15 12:27] insidegui commented on #271
@bcmn I pinned this one, I know it's one of your favorites 😜

[2017-10-15 16:03] insidegui commented on #318
#322 disabled main thread checking so the tests would run. When this issue gets fixed, we should re-enable the main thread checker for tests.

[2017-10-15 22:54] bcmn opened #326 "State icons occasionally absent from items in sidebar"
The downloaded & favourited state icons are sometimes missing from items in the sidebar. For reproduction, this is most immediately obvious by filtering by one of these factors, & checking a number of entries for the correct icons.

At first glance, I can't say I've seen any consistency or pattern to which items are affected.

**Example**
<img width="334" alt="screen shot 2017-10-15 at 18 25 38" s

[2017-10-15 23:48] #296 closed

[2017-10-16 01:45] #222 closed

[2017-10-16 01:47] insidegui commented on #267
@bcmn Thanks for saving this issue 🤓

[2017-10-16 09:37] wellcheng opened #327 "How to select 1080P or 720P version？"
First，I can not find a entrance to select the up two option。
Second，I think this is auto selection，but when I cached long videos，there also lower version

[2017-10-16 12:41] insidegui commented on #327
When streaming, the system will automatically select the best quality for the window size and network speed. When downloading, there's only one quality available. This is a limitation of Apple's streaming service we unfortunately can't work around.

[2017-10-16 12:41] #327 closed

[2017-10-16 14:48] #318 closed

[2017-10-17 13:49] antonselyanin opened #329 "Old database versions for migration tests"
I could write some unit tests for `Storage` class, I wanted to start with the migration logic.
Do you have realm files with old database schemas?

In case you don't have old databases. How do you think, would "reversing" the schemas from the migration code be sufficient for unit tests?

[2017-10-17 15:15] bcmn commented on #329
Migration tests seem like a good idea --even if we're a little late to the game on this one.

I don't know if others have old databases they use, but its worth noting that the last V4 release is still available [here](https://github.com/insidegui/WWDC/releases/tag/4.3.1). There's no need for reverse engineering the structure from the code we're going to be testing, and doing so seems like it'd onl

[2017-10-17 16:04] insidegui commented on #329
Well, we do have some cases (#284 ) where the migration seems to be causing problems. If we could isolate that with unit tests maybe it could help with the solution. @antonselyanin Please send me your e-mail so I can invite you to our Slack.

[2017-10-20 13:18] #200 closed

[2017-10-20 13:18] #226 closed

[2017-10-20 13:18] #224 closed

[2017-10-20 13:18] #252 closed

[2017-10-20 13:18] #230 closed

[2017-10-20 20:52] joshfriend commented on #226
I think stalebot is a poor addition to a repo like this that is active mostly at one week per year

[2017-10-20 23:59] insidegui commented on #226
We accept pull requests :)

[2017-10-22 05:57] antonselyanin commented on #284
I tried to reproduce the issue, but could't make the app freeze on startup

What I did:
- removed existing db and plist files ('io.wwdc.app' folder and 'io.wwdc.app.plist' file)
- copied the provided files
- checked out 5.1.1, compiled and run
- checked out 5.1.2, compiled run
- checked out 5.2.0, compiled run
- checked out master version, compiled and run
the app worked on all stages, I even trie

[2017-10-22 13:43] insidegui commented on #284
@antonselyanin Have you tried having some downloaded sessions during the migration? I believe this issue has something to do with the migration of old downloaded sessions stored outside the default download folder.

[2017-10-22 13:55] antonselyanin commented on #284
Good point, I'll try it

[2017-10-23 15:18] YangJun16 commented on #284
Have you reproduced the issue with my prefs and db @insidegui ?

[2017-10-23 16:35] insidegui commented on #284
@YangJun16 Nope

[2017-12-22 16:02] nik6018 opened #331 "Feature Request: Display a List of Related Videos"
Hi gui,

Thanks for the amazing Mac App the official iOS version is horrible, I have been using the App for a week and think the following may make the UX better.

It would be great if the app can have a related video's section under the Main Video view.

The WWDC app for iOS does this and this is very helpful for finding related videos on a topic that you watch.

Otherwise, I have to search for t

[2017-12-22 22:45] insidegui commented on #331
This data is actually available from the API, so it can definitely be done 😄

[2017-12-23 18:37] nik6018 commented on #331
Thanks gui.
Hope an amateur like me can help in some way.

[2018-01-15 12:05] bcmn commented on #331
Worth noting here that I've begun working on the JSON parsing for this, & we've requested an update from the UI designer to take it into account. I was on a train so I couldn't push the changes, but will ASAP.

[2018-01-15 13:06] insidegui commented on #331
Thanks @bcmn !

[2018-02-26 00:59] bcmn opened #340 "On first run, no videos are displayed in the "Schedule" tab"
guard session.year == Calendar.current.component(.year, from: Date()) else {
            return .error(.invalidData)
        }

Due to this guard, at `SessionInstancesJSONAdapter.swift`, line 34, the first run download & parsing of JSON assumes that all "current" WWDC sessions should share the current year of the system calendar. Unfortunately, this doesn't _quite_ work in the pre-WWDC, January-th

[2018-03-07 21:03] VicenteBorrell commented on #331
Hi guys! It's been a while! 😄

I just made this two proposals for this feature. Let me know what you think.

![related videos section](https://user-images.githubusercontent.com/584834/37118023-239a6776-2253-11e8-84c7-fe6112b0a230.png)
![overview with related](https://user-images.githubusercontent.com/584834/37118025-23c313e2-2253-11e8-8b89-3676a8ae4d27.png)

[2018-03-07 21:10] allenhumphreys commented on #331
I like the second option. Is it part of the overview "tab" or will it always be visible?

Also, I wanted to mention that if we're change this area of the UI, you might want to consider issue #233. @insidegui Is there an easy way to make the text scrollable and also automatically resize like it does today?

[2018-03-07 21:21] bcmn commented on #331
I’ve looked into #233 before and not made much progress, but I’m not very
au fait with AppKit (& I’m not sure an already implemented app with is
necessarily the best way to learn 🤷🏻‍♂️). There’s some real weirdness
with how the video & the text section below scale in relation to each other.

For what it’s worth, I’d agree whole-heartedly with the second option — I’m
not even slightly convinced peo

[2018-03-07 21:30] allenhumphreys commented on #331
@bcmn I think we're thinking the same about the scrollable summary, the issue I ran into was the scroll view's need of a fixed height. The current text view will grow to a maximum number of lines and shrink accordingly leave no dead space for short summaries. There are ways that we could manually grow and shrink the scroll view to preserve the growing/shrinking behavior.

another tab

🤣 So true!

[2018-03-08 02:14] insidegui commented on #331
I like the second option better as well, but remember that we have other types of associated resources (sample code, documentation, etc). Those are not contemplated here, we should think about those as well. My suggestion is that we do related sessions like showed in the second example and add another tab called "resources" for sample code, documentation and such.

[2018-03-08 02:15] insidegui commented on #331
Another advantage of the second option is we can abstract the content of the sidebar cells to reuse them in that collection, less code to write :)

[2018-03-08 12:30] VicenteBorrell commented on #331
Yeah, having the related videos in the Overview tab is a plus. Let's do it!

[2018-03-08 18:15] insidegui commented on #331
Ok o/

[2018-03-08 18:16] insidegui commented on #331
@bcmn I know you had some work done on the data side for this, how's that going?

[2018-03-09 18:03] allenhumphreys opened #347 "Context menu doesn't handle watched/unwatched correctly"
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS: 10.13.3
- Version of the app: 5.3
- If it is a wrong behavior, list all steps required to reproduce it
When you watch a video, the context menu will never treat the video as "watched" even if you watch it to the absolute end.

Expectation: Videos filtered out by th

[2018-03-15 14:36] allenhumphreys opened #355 "Selection restoration is broken."
### If you answered YES to all of the questions, please provide as much information as possible about your issue.

- Version of macOS: 10.13.3
- Version of the app: 5.3
- If it is a wrong behavior, list all steps required to reproduce it

1. Launch the app
2. Select a video not at the top of the list
3. Quit the app via Cmd + Q to ensure state is saved
4. Relaunch the app

Expected Result:
The sel

[2018-03-17 20:17] #355 closed

[2018-03-21 18:18] #347 closed

[2018-03-23 08:10] bcmn commented on #331
Yeah I don't think I'd made significant progress beyond what I uploaded above. I'd thrown together the adaptors to parse the JSON, & SessionAssets now have a collection of resource IDs, but it doesn't finish up associating them to actual Resources yet, which I think would happen in Storage.swift (?).

I was roughly following the pattern of SessionAsset -- When a Session is parsed it gets a collect

[2018-03-23 13:01] insidegui commented on #331
@bcmn Are you planning on finishing up your implementation on the storage side or should I pick up where you left off?

[2018-03-25 15:43] bcmn commented on #331
Looking into it today -- I'll try & rebase everything & see how much I get done, & catch up with you at the end of it. 🙂

[2018-04-22 14:09] otaviolima opened #364 "Adopt Codable instead of using third party library"
- [ ] Remove  SwiftyJSON dependency by adopting Codable

[2018-04-22 14:50] insidegui commented on #329
Do we still think this is important/useful?

It's been almost a year since the 5.0 update, I feel like we should plan on removing the migration code altogether at some point.

[2018-04-23 11:40] bcmn commented on #329
Yeah, I think it’d be perfectly reasonable to remove the migration code with 6.0. Though I feel we should still try to make it a principle of the project to test any (presumably smaller) schema migrations in future.

[2018-04-29 21:15] bcmn commented on #226
Worth noting that as of #325 this has been partially addressed, as day and time of session is now displayed for .

However, we haven't addressed the section header aspect of this. Currently they're excluded while filters for complexity reasons.

[2018-05-01 02:34] ChinaHackers commented on #329
The macOS 10.12.6 WWDC5.3 version prompt does not respond.
Why does it happen?

[2018-05-01 15:41] insidegui commented on #329
@ChinaHackers Please [open a new issue](https://github.com/insidegui/WWDC/issues/new). Thanks!

[2018-05-01 17:18] ChinaHackers commented on #329
OK!

[2018-05-01 17:20] ChinaHackers commented on #329
@insidegui OK.

[2018-05-01 17:24] ChinaHackers opened #370 "The macOS 10.12.6 WWDC5.3 version prompt does not respond. Why does it happen?"
- Version of macOS : 10.12.6
- Version of the app: 5.3

The macOS 10.12.6 WWDC5.3 version prompt does not respond.
Why does it happen?

### Please reply to how to solve this problem.

[2018-05-13 21:39] bcmn commented on #331
Just to keep this issue updated: #367 is now merged, & we’re ready for the UI work on this feature to begin.

I did realise that, whether they’re displayed separately from sessions or not (as Gui proposed above), it might be nice to have icons to represent the three other related resource types in addition to sessions: documentation, guides, & sample code. Do you think you could do something like

[2018-05-17 07:41] bcmn opened #375 "Display "News""
Similar to #331 & #206, the last version of the API included "news". We intend to support this & display it in it's own tab.

[2018-05-17 07:54] bcmn opened #376 "Inject "Curated for WWDC for Mac" Playlists"
Dependent on #206.

We already intend to support playlists, & we would like to be add our own curated playlists from individuals in the community. We plan to achieve this by utilising CloudFlare endpoints to provide our own, augmented API including these, in addition to the Apple playlists API.

UI-wise, it might be nice to be able to separate these by subheading from the other playlists, in order

[2018-05-17 15:04] insidegui commented on #376
Crazy idea: maybe the videos on our curated playlist could come with baked-in bookmarks with comments from the playlist's creator? 🤔

[2018-05-18 02:41] insidegui commented on #340
This was fixed by #369

[2018-05-18 02:41] #340 closed

[2018-05-20 13:13] bcmn commented on #376
That's an interesting thought -- I wonder how discoverable it would be, however. Maybe long term a "Bookmarks" tab would be a good way of allowing people to see a thumbnail of the video at the bookmark time, & the text contained in the bookmark?

I'm not sure how many people utilise bookmarks currently, to be honest 🤔

[2018-05-20 16:33] insidegui opened #379 "Implement keyboard shortcut to switch between tabs"
It's very common in apps that have tabs to be able to navigate between them using ⌘{ and ⌘}. I think we should implement them in the app to switch between tabs like Schedule and Videos.

[2018-05-20 17:14] bcmn commented on #379
Does this tie into the larger shortcut revamp we had planned when #230 was still open? It got closed in the Great Stalebot-ening of '17. Or would that be a significantly larger amount of work?

Maybe we could try & document the full list of shortcuts we ultimately want to work towards. 🤔

[2018-05-20 17:20] insidegui commented on #379
Yeah I think we could re-introduce that issue and include these new shortcuts. It's not that difficult to implement, we'd have to add menu items for the actions and associated default shortcuts to them (which could be customized using System Preferences).

That would make for a great dystopian movie

[2018-05-26 20:06] davedelong commented on #379
I think these should be `⌘1` and `⌘2`.

`⌘{` and `⌘}` are generally reserved for switching between window tabs.

Adding this should be trivial; just a couple of new menu items in the bar and an `@IBAction` to flip stuff around

[2018-05-26 20:51] #379 closed

[2018-05-26 21:01] insidegui commented on #331
Implemented in #367 and #377

[2018-05-26 21:01] #331 closed

[2018-05-26 21:01] insidegui commented on #370
@ChinaHackers Hi! Can you please describe your problem in more detail? Thank you!

[2018-05-26 21:03] insidegui commented on #284
I'll close this issue since we haven't been able to reproduce it and there's no new activity. If anyone is still having this issue and can point us towards a path for reproduction, please comment. Thanks!

[2018-05-26 21:03] #284 closed

[2018-05-27 03:12] ChinaHackers commented on #370
@insidegui Open the WWDC mouse to be a busy state ----> wind fire wheel.

[2018-05-28 00:42] davedelong commented on #233
As an observation, the `SessionSummaryViewController` limits that label's `maximumNumberOfLines` to 5.

However, this session has the longest summaries of all sessions. By setting the `maximumNumberOfLines`  to `0`, we get the following layout. I think this is a far simpler and more straight-forward solution than trying to make it scroll.
<img width="1172" alt="screen shot 2018-05-27 at 6 41 35 pm

[2018-05-28 00:48] insidegui commented on #233
Me and @davedelong talked and we decided to add a reasonably large limit to the number of lines just to prevent the layout from breaking completely in case there's a session with a huge description. I agree that implementing scrolling would be overkill given the average length of descriptions.

[2018-05-28 01:55] davedelong commented on #114
Time offsets are added to the url as a query item of the form `?time=360` (the value is the offset in seconds)

[2018-05-28 01:59] davedelong commented on #114
Modifying `DeepLink` to pull the `time` value out of the URL is trivial; the harder bit would be telling the `AppCoordinator` to start playing the video at a specific time.

[2018-05-28 04:17] davedelong commented on #114
I've been plumbing the time through. It's mostly working, except I noticed that linking to a specific video/session doesn't cause the detail area to update.

[2018-05-29 02:58] #150 closed

[2018-05-29 18:35] bcmn commented on #375
As far as I know, that's the plan. In my experience (as a non-attendee), the same has always been true of the official app, right? You can sign in, but I still see news that seems focused at attendees only?

[2018-05-29 18:37] davedelong commented on #375
If you can sign in, that means you're an attendee. This is what the "accessLevel" stuff in `news.json` is about: https://github.com/insidegui/WWDC/blob/master/Fixtures/json/news.json#L10

[2018-05-30 10:26] bcmn opened #393 "Display & allow browsing by sub-topics"
The latest version of the iOS app replaced the previous "track" system with a series of topics, which can in turn have sub-topics. Currently, these are ignored, & only the larger topics are respected.

There are just under 50 sub-topics, so presenting these in a reasonable way to users may present a UI challenge.

[2018-05-30 16:37] allenhumphreys opened #395 "Playlist and related linking doesn't always show the linked session in the destination tab"
- Version of the app
 * master

Choosing a video from a playlist/related content will always show the correct tab, but

1. If the target video/session is not in the list due to an active filter
2. If the tab has never been populated since app launch

the video will not be selected in the list.

[2018-05-30 18:59] allenhumphreys commented on #395
Point 2 is easy to fix

[2018-05-30 21:10] insidegui opened #396 "UX for long migrations should be improved"
The switch from 5.* to 6.0 involves quite a big migration of the database, which currently results in the app looking empty for a few seconds until it's done. We should improve that, possibly showing a message while the spinner shows explaining a migration is in progress.

[2018-05-31 07:15] galad87 opened #399 "Do not dark all the video view when the video player control are shown"
### Before opening your issue, please make sure you answer YES to all of the questions below.

- Are you running the latest version of the app? YES
- Are you running a release, stable version of macOS? YES
- Have you looked at previous issues to see if you're having an issue that's already being worked on? YES
- If your issue is about compilation or project setup, have you followed the instruction

[2018-05-31 11:53] melomac opened #400 "Local time support"
Would you please be so kind to consider a setting to display events time in the computer local timezone, so a user doesn't have to do the math?

Many thanks for the app and happy WWDC!

[2018-05-31 14:02] insidegui opened #402 "Some related sessions can't be navigated to because they exist in the schedule tab"
Some related sessions are not navigated to when clicked because even though they are regular sessions, they are in the future so their corresponding videos are still not available. In that case, we should navigate to the schedule tab.

Already fixed in #401, just documenting.

[2018-05-31 14:04] insidegui commented on #370
@ChinaHackers Can you try version 6 and see if you still have the same issue? Thanks

[2018-05-31 14:05] insidegui commented on #271
There's been some development on this issue: the creator of ASCIIWWDC has asked us if we'd like to run the service since he's unable to maintain it at the moment. We are probably going to maintain ASCIIWWDC going forward and fix the missing transcripts issue.

[2018-05-31 14:06] insidegui commented on #206
Almost made it to 6.0, but some outstanding issues prevented us from shipping. Will be there on 6.1, probably alongside #376.

[2018-05-31 14:39] ChinaHackers commented on #370
@insidegui   I tried it a few hours ago. It's the same bug.. Do you want to upgrade High Sierra?

[2018-05-31 16:44] allenhumphreys opened #404 "Sidebar size saving is broken"
The side bar is always getting the initial size of 300 even though autosave should be working.

[2018-05-31 16:46] allenhumphreys opened #405 "Window resizing is highly restricted if showing session details that don't have related content"
You can increase the horizontal size of the window but you cannot decrease it.

[2018-05-31 16:47] #405 closed

[2018-05-31 18:07] davedelong commented on #404
Unless I'm missing something, we're not setting the `autosaveName` on the actual `NSSplitView` used.

[2018-05-31 18:20] #402 closed

[2018-05-31 18:21] davedelong commented on #404
Confirmed: it's definitely getting reset when the app re-launches

[2018-05-31 21:06] allenhumphreys commented on #404
<img width="780" alt="screen shot 2018-05-31 at 4 05 53 pm" src="https://user-images.githubusercontent.com/8225090/40808391-917d0d8a-64ec-11e8-9b3a-71e597555c0a.png">

The sidebar width will not be restored if this preference is selected.

[2018-05-31 21:06] #404 closed

[2018-06-01 15:35] ffittschen commented on #114
The deeplink could then be added to the calendar events like `Show in mail...`

[2018-06-02 15:51] JoelNichols opened #409 "Format menu shouldn't exists"
The format menu shouldn't exist. Just about everything it offers is greyed out anyway and it just looks sloppy that it's been left in when none of the options are relevant to the app.

[2018-06-02 21:51] bcmn commented on #409
☝🏻 That message only gives half the story -- see #410 for more details.

[2018-06-02 22:06] #409 closed

[2018-06-03 05:31] mrleblanc101 opened #412 "Arrow key the seek forward/back"
- Version of macOS: 10.14.5
- Version of the app: 6.0.1
- What were you trying to do when the issue happened: Seek/Forward with the keyboard arrow

[2018-06-04 09:25] bcmn opened #413 "Display Related Resources"
Following #367, data is present on sessions for both related sessions (including labs), & related resources -- like sample code, guides, & documentation. #377 implemented the UI for related _sessions_, but resources have not yet been tackled.

[2018-06-04 09:26] bcmn commented on #413
It seems to me there are two options -- either we include it within the existing related UI at the bottom of the overview, or we create a tab in the session detail view & list them there.

[2018-06-04 11:27] insidegui commented on #413
I'm pretty sure we talked about this before and decided on the latter, @VicenteBorrell already designed that tab.

[2018-06-05 18:07] trs123 commented on #64
I disagree. Actually I would find it very useful as the HD ones are effectively not usable IMHO to watch demos as code or other details shown in Xcode won't be readable.

[2018-06-05 18:33] PaulSolt opened #416 "Video Playback Fails to Work and Downloads Do Not Display"
The video did not work from the WWDC.io app that I downloaded. Now it seems to be working, but there were two issues on my first open of this app.

I recorded a [brief video explaining what happened](https://www.useloom.com/share/d7ddd0cf2d894144920ca98789a7b7d6).

**Issue 1: I tried to download 2 videos, neither showed up in the "downloaded" filter until I quit/restarted app 3x**

I was able to s

[2018-06-06 07:27] spaz926 opened #418 "When Viewing in Full Screen and Browsing Sessions, Video is Black"
When viewing a video in Full Screen mode and browsing the available videos or scheduled sessions the video shows only a black screen. I assume this has something to do with the PIP mode the video goes into when you click another session while a video is actively playing.

I'm on the current release of the app (6.0.3) and macOS 10.13.5.

[2018-06-06 08:54] spaz926 opened #419 "Add 'Copy to Clipboard' Share Option"
Would like to simply copy the permalink to a session from the share button.

[2018-06-06 09:04] spaz926 commented on #419
I see now it uses the default system-wide share button. I feel kinda dumb now.

[2018-06-06 09:04] #419 closed

[2018-06-06 13:49] insidegui commented on #418
Thank you for reporting

[2018-06-06 13:56] insidegui commented on #416
Would you mind sharing your database files with us? It could help us understand what's happening with your instance of the app. You can find the files in `~/Library/Application Support/io.wwdc.app`, zip the folder and e-mail/wetransfer it to eu[at]guilhermerambo.me.

[2018-06-06 14:07] mackuba opened #420 ""contributing" refers to a non-existing "roadmap""
The "CONTRIBUTING" doc says that before you work on a new feature, you should look at the "ROADMAP". However, the roadmap seems to have been deleted a while ago :-)

[2018-06-06 14:29] mackuba opened #422 "Downloads window"
I really miss the Downloads window from the old version (to which I even submitted some PRs, I think)... I would love to see how many downloads I have started and how they're going, and maybe pause some of them to prioritize the one I want to see right now, instead of having to switch back and forth between session pages to check the circular progress bars there.

If, hypothetically speaking, some

[2018-06-06 14:42] insidegui commented on #422
We didn’t have time to reimplement it for the new version yet, but that’s planned.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-06 14:44] insidegui commented on #420
@bcmn Can you update the contribution guidelines?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-06 15:47] allenhumphreys opened #423 "With Mohave, we should have `NSCalendarsUsageDescription` in the plist"
Just to be a good citizen, as it seems to be optional if the deployment target is < Mohave (or possibly the base SDK is < Mohave, the speaker possibly flubbed his terms)

[2018-06-06 15:50] allenhumphreys commented on #418
@spaz926 Could you provide a screen capture demonstrating your steps to get into this situation?

[2018-06-06 18:47] insidegui commented on #423
There are many things we need to do for Mojave 😅 We should maybe open a project for that

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-06 18:49] allenhumphreys commented on #423
Yes! I just didn’t want to forget it in the mean time 😄

[2018-06-06 19:56] insidegui opened #424 "Adopt the Dark Aqua appearance in Mojave"
With macOS Mojave, there's no need for us to use our custom dark appearance anymore since we can adopt the system's built-in Dark Aqua appearance. I think we should definitely do that and also adopt the user-defined accent color instead of forcing our own.

More information:
https://developer.apple.com/videos/play/wwdc2018/210/
https://developer.apple.com/videos/play/wwdc2018/218/